[2020-10-22 17:37] wout commented on #259
@athix I really love you're grabbing the bull by the horns. :)

Option 1.2b appeals most to me. I like that it has limited colours and has a slight variation in the size of the "balls", which gives the illusion of depth. From all the examples, it appears most confident and strong.

A bit unrelated, but I was wondering if you have considered starting a community. Being able to quickly ask Sorcery-r

[2020-10-22 18:35] athix commented on #259
I think having a community chat makes sense, although I hesitate setting one up just quite yet. I want to focus on getting v1 and the documentation up to snuff first. We currently have the Gitter chat channel, but I'll be honest that I don't really keep up with it at all. Discord would be a great and accessible alternative, imo. Like you said, it's just a question of how many people would be off-p

[2020-10-23 07:08] wout commented on #259
Yeah, it's not a priority. Having v1 shipped is more important. The Gitter channel is as good as dead by the looks of it. I have the feeling Gitter is on its way out anyway since so many communities are moving elsewhere.

Are you doing a separate site for documentation or keeping it on Github?

That looks like a good place to start. I'll look at it over the weekend.

[2020-10-26 18:13] olimart commented on #259
Nice.
Would go with either 1.1a or 1.1b
1.1b is more subtle so it may be easier to apply in different contexts.
(can't find the difference between `1.1a` vs `1.2a` & `1.1b` vs `1.2b`)

[2020-10-27 17:16] olimart commented on #259
Something I always appreciate with Sorcery which you don't find on all others get started is the API summary section broken down by module. Very useful.

[2020-10-29 18:59] athix commented on #259
Thanks everyone for your feedback! I passed it by some others as well, and it seems the general consensus is 1.2b.

[2020-10-29 18:59] #259 closed

[2020-10-29 19:38] athix commented on #225
@leadbrain is this still an issue?

[2020-10-29 19:38] #230 closed

[2020-11-19 16:38] nicolas-brousse opened #262 "Make possible to send a new activation email from a controller"
Please complete all sections.

### Configuration

- Sorcery Version: `0.25.0`
- Ruby Version: `2.7.2`
- Framework: `Rails 6.0`
- Platform: `macos`

### Expected Behavior

I you like to send a new activation email like is it currently possible for reset password.

### Actual Behavior

Activation email is a private method, so it is no possible to call it from outside. And it doesn't include protecti

[2020-11-19 16:53] nicolas-brousse opened #263 "Make tokens indexes unique"
I think token fields for `reset_password`, `user_activation`, `brute_force`, `magic_login` and `remember_me` modules` should be unique.

Is there any reasons it is not?

[2020-11-29 18:32] athix commented on #263
Good question, I'll have to look into it further. As it is, the probability of collisions is rather low, and you can always modify the migration to make those fields unique restricted for your own app.

[2020-11-30 14:36] tv-enermarket opened #264 "Clarification for session_timeout."
### Configuration

- Sorcery Version: `sorcery 0.15.0`
- Ruby Version: `ruby 2.7.2`
- Framework: `Rails 6.0.3.4`
- Platform: `ubuntu 18 LTS`

### Expected Behavior

When i use the session_timeout module i expect it to reset the session only for users who are logged in.

### Actual Behavior

All sessions are being reset weather the user is logged in or not.

I took a look at the code in `session_ti

[2020-12-01 10:51] Rinkana opened #265 "Install generator gives an error"
### Configuration

- Sorcery Version: `master`
- Ruby Version: `2.7.2`
- Framework: `Rails 6.1`
- Platform: `Debian-slim (docker)`

### Expected Behavior

No errors during generation of new Sorcery setup.

### Actual Behavior

When running `rails generate sorcery:install --model=Admin::User` i get the following:
[code]

### Steps to Reproduce

`rails generate sorcery:install --model=Admin::User`

[2020-12-01 12:05] Rinkana commented on #265
Further debugging with byebug gives me something odd. It seems that it tries to add `authenticate_with_sorcery!` twice.

#### First time (success)
[code]

#### Second time (fail)
[code]

[2020-12-10 04:22] PedroAugustoRamalhoDuarte commented on #262
Hello @nicolas-brousse , to call activation e-mail from outside you can do something like that in your model:
[code]
The protection inclusion i think it's such a great idea.

[2021-01-16 15:42] heyvito opened #268 "Release new version?"
Hi there! Before anything, I'd like to say a big thank you for all contributors working on this Gem. It is simply awesome, in all possible aspects. Thank you so much!

I hate to be _that person_, but I'd like to know whether there are plans on releasing a new version on RubyGems; Especially addressing issues mentioned in #240. I also checked #248 (I appreciated the TL;DR, btw! :D), but it seemed a

[2021-01-16 23:40] mruegenberg opened #269 "user_sessions_path not found when following Simple Password Authentication Tutorial"
In trying to get started with Sorcery, I followed the [tutorial from the Wiki](https://github.com/Sorcery/sorcery/wiki/Simple-Password-Authentication).

When adding the sessions code, I got the following error:

[code]

Not sure what's going on, as I haven't used Sorcery before, but someone else also seems to have run into this and found some solution:
[https://yasunari-kainuma.com/2020/11/07/sorc

[2021-01-17 10:01] wout commented on #269
I think there is an error in the tutorail. The problem is this line:

[code]

There is no `user_sessions_path` for GET since only `new`, `create` and `destroy are created:

[code]

Simply replace `user_sessions_path` to a path that exists, or remove the line altogether.

[2021-01-18 08:04] athix commented on #268
Yeah, you're right. I was hoping to get the v1 release done, but with COVID my productivity hasn't been the greatest. It makes sense to push out the latest additions as-is. For now, master should be fine for development use. I'll also try to cut a new release here in the next few days. If it's still not out in a week, feel free to ping me on this issue.

[2021-01-18 12:16] r3id opened #270 "NoMethodError, when creating a new User"
### Configuration

- Sorcery Version: `0.15.0`
- Ruby Version: `3.0.0`
- Framework: `Rails 6.1.1`
- Platform: `macOS 11.1`

### Expected Behavior
A new user is meant to be created.

### Actual Behavior
Since updating to **sorcery 0.15.0** I am getting the following error when I try to run User.create in the rails console.

[code]

### Steps to Reproduce
See below for when I run the `User.create`

[2021-01-18 14:37] heyvito commented on #268
Hi @athix! Thank you for replying to my message!
I hope that despite our current scenario, you're safe and well!

Please let me know in case you need a helping hand to ship this release!
Thank you so much for your work on this project!

Best wishes!

[2021-01-18 15:37] r3id commented on #270
I am thinking this has something to do with Ruby 3.0.0, as it was working fine with Ruby 2.7.2

[2021-01-18 15:58] wout commented on #270
@r3id I'm using the exact same configuration for two apps (Ruby 3.0.0, Rails 6.1.1, Sorcery 0.15.0) everything works fine.

Am I right you don't have a password on your model? And if so, could that have something to do with it? Because the errors seems to come from here:

[code]

[2021-01-18 16:42] r3id commented on #270
I have reverted back to Ruby 2.7.2 and all is working fine again.

@wout yeah mate, I am doing passwordless auth, and it works fine now I am back on Ruby 2.7.2. It's only when I upgraded to 3.0.0 that I am getting the error I posted about originally.

[2021-01-18 16:43] r3id commented on #270
I was following [this tutorial](https://fullstackheroes.com/rails/sorcery-passwordless-authentication/) so maybe you can see what you get?

[2021-01-18 17:14] wout commented on #270
@r3id Weird indeed. I'll have a look at the tut if I have a moment to spare.

[2021-01-24 11:36] tomoyuki commented on #270
I am getting same error.
* ruby 3.0.0
* Rails 6.1.1
* Sorcery 0.15.0

[code]
[code]
[code]

[code]

No error occured before add submodule.
[code]

[2021-01-25 22:14] Vin0uz commented on #245
Hi guys ! I'd be glad to help on this :D I am not completely sure about what you want : a template available from a website ? Or a rails boilerplate with Sorcery that people could just re-use ? Or both 🤷‍♂️

I never created a template from railsbytes, so I'd just give it try with something like this, based on the one for Devise and Sorcery's doc :
[code]

[2021-01-27 11:45] Olivier4murs commented on #270
I'm not sure about my change but maybe you have just to add "&" before options in active_record_adapter.rb :

[code]

[2021-01-27 17:22] athix commented on #270
Working on cutting a new release in the near future...

[2021-02-03 07:41] takaho624 commented on #268
Hi @athix!
First I'd like to thank you for all your commitment.
While I understand your situation and I also hate to be _that_ person, since the issue is also affecting one of my projects, I'd appreciate it a lot if you could cut a new release on this.
Since you said feel free to ping you, here you go.

Many thanks!

[2021-02-13 17:53] cpanderson opened #271 "not authenticated after visiting Stripe"
Hello and thank you for this gem. So good!

I'm trying to implement Stripe Checkout in my rails app which takes the user away from the app to the stripe checkout website in the same tab/window. When I click the cancel/back button on the checkout page it returns me to my app where require_login fires but halts the filter chain and redirects me to the log in page. Current User is nil at this point h

[2021-02-13 23:42] cpanderson commented on #271
Further, the session is empty when it redirects to log in page but if I simply type in the url that it was supposed to return me to the session is re-established without me having to log in again.

[2021-02-14 01:12] cpanderson commented on #271
Additionally, this has nothing to do with Stripe. I created a simple page on another site I own with a link back to my app and that also fails. Safari is doing something with the cookie. Is it Apple's latest changes to privacy that are affecting this?

[2021-02-14 15:07] cpanderson commented on #271
I'm not sure what to say other than wtf. I closed tabs, restarted the browser several times, removed cookies, cleared history and that didn't work. Googled endlessly looking at samesite cookie and cors information and tried several things. Nothing.

Then I woke up this morning restarted Safari and now it works. I would like to swear some more but I won't do it here.

[2021-02-14 15:07] #271 closed

[2021-02-15 23:49] Jaacky commented on #269
I think there was also a problem with the url
user_sessions_path
[code]
[code]

https://github.com/Sorcery/sorcery/wiki/Simple-Password-Authentication/4daedcb40913b33c8c075a2aa6e662f2749b016d

[2021-02-16 19:39] athix commented on #268
Sorry for slacking on this, I just released v0.16.0 with the latest changes on master. Please let me know if there are any issues!

[2021-02-16 19:50] wout commented on #268
@athix That's great. I'll report back if there are any issues.

[2021-02-16 20:28] #268 closed

[2021-02-16 20:39] athix commented on #270
Version 0.16.0 has been released, can someone try it and see if this issue has been resolved?

[2021-02-19 02:13] athix commented on #264
If I understand the question correctly, you have sessions for users that are not logged in which are being invalidated by the session timeout module after your session timeout threshold, but you want it to only target users that are logged in?

I'm a little confused on the use-case for this, is there some reason that you have sessions for logged out users that need to be persisted longer than your

[2021-02-19 02:16] athix commented on #262
I'm also a little confused on the reasoning behind locking the emails behind protected/private. It's always been a weird inconvenience having to abstract the call. I'll look into this for the v1 rework, and if there's no obvious reasons for it, make those methods publicly accessible.

[2021-02-19 02:20] athix commented on #265
@Rinkana Is this still an issue with the latest release? (0.16.0)

If yes, could you do me a favor and try some previous releases to see when this issue was introduced? Narrowing down which version started having issues will make it easier for me to identify what change broke things.

[2021-03-09 12:44] kevin-smartpatients opened #273 "remember_me module raises 'undefined method' error if no SSL."
### Configuration

- Sorcery Version: 0.16.0
- Ruby Version: ruby-2.6.6
- Framework: Rails 6.0.3.5
- Platform: MacOS

### Expected Behavior

I just turned enabled remember_me. I don't expect it to work on localhost without SSL but it shouldn't blow up.

### Actual Behavior

With the `remember_me` module enabled, if you check to see if the user is `logged_in?`, this code in the `remember_me` module

[2021-03-09 18:00] athix commented on #270
Going to assume this is fixed and close the issue out, if anyone still has problems please comment on this and I'll reopen it.

[2021-03-09 18:02] athix commented on #265
Going to assume this is fixed and close this out. If anyone is still have issues with it, please comment here and i'll reopen the issue.

[2021-03-09 18:04] athix commented on #269
Sounds like the wiki was updated, is everything working now @mruegenberg?

[2021-03-12 14:44] cybercent opened #275 "Unable to install additional modules"
Please complete all sections.

### Configuration

- Sorcery Version: `0.15`
- Ruby Version: `2.7`
- Framework: `6.0.3.3`
- Platform: `MacOS`

### Expected Behavior

Able to install additional modules.

### Actual Behavior

Not able to install additional modules.

`undefined method `session_timeout=' for Sorcery::Controller::Config:Module'

### Steps to Reproduce

Install any module.
`rails generat

[2021-03-12 15:10] cybercent commented on #275
Found the issue, the generator does not add the modules to the array.

[2021-03-12 15:10] #275 closed

[2021-03-12 15:18] cybercent opened #276 "token_randomness can't be changed"
Please complete all sections.

### Configuration

- Sorcery Version: `0.15`
- Ruby Version: `2.7.1`
- Framework: `6`
- Platform: `-`

### Expected Behavior

Able to change `token_randomness=`

### Actual Behavior

Seting `token_randomness=` causes a Rails issue.
[code]

### Steps to Reproduce

Set `token_randomness=20` in the config file.

[2021-03-12 19:17] athix commented on #276
@cybercent Version `0.16.0` included some bugfixes, can you try the latest version and see if it still breaks when setting token_randomness?

[2021-03-12 19:18] athix commented on #275
@cybercent could you share what you did differently to get it working? It could be helpful to those who find this issue via SEO in the future.

[2021-03-26 06:37] athix commented on #217
Oh god.

Well, this confirms that I'll 100% be implementing the ability to migrate passwords as a built-in Sorcery functionality. I have some good ideas on how to make that work while being flexible.

I wonder if the double salting thing is a holdover from the support for older algorithms that didn't have salts built into the final digest? :thinking:

[2021-03-28 11:59] Bengt opened #277 ""merge multiple if condition into one" produces unpythonic formatting"
### Configuration

- Sorcery Version: `latest`
- Platform: `linux`

### Expected Behavior

[code]

Note: `and`s mark a line, which will be continued in the next.

### Actual Behavior

[code]

Note: The `and`s mark a line, which continues the previous line.

### Steps to Reproduce

Copy and paste this code into PyCharm with Sourcery installed, follow the suggestion.

### Importance

This example is

[2021-03-28 16:59] athix commented on #277
Hi @Bengt, I think you meant to post this to the [sourcery-ai/sourcery](https://github.com/sourcery-ai/sourcery) repo. :wink:

[2021-03-28 16:59] #277 closed

[2021-04-18 15:14] benjaminfauchald opened #278 "Misleading deprecation warning when referencing ActionController::Base #36546"
Please complete all sections.

### Configuration

- Sorcery Version: `0.16.0`
- Ruby Version: `ruby '2.7.1'`
- Framework: `6.0.3.6`
- Platform: `OSC Catalina`

### Expected Behavior

Trying to setup logger in config/enviroments/development.rb
`  # Here seems to be the place for the Logger
  config.logger = Logger.new(STDOUT)
  config.logger.level = Logger::DEBUG
`
and start rails console

Tell us

[2021-04-19 05:28] athix commented on #278
Hi @benjaminfauchald.

I went down the same rabbit hole a while ago, essentially it boils down to how Sorcery was loading in the library originally.

Unfortunately I've tried fixing the issue in the v0 codebase, and it broke existing applications every single time.

I did however fix it in the Sorcery v1 rework by changing how the various files are loaded in. I'm still working on the v1 rework, bu

[2021-04-19 05:28] #278 closed

[2021-05-07 18:50] trainingstore opened #279 "Tutorial examples does not work"
Please complete all sections.

### Configuration

- Sorcery Version: `sorcery 0.16.1`
- Ruby Version: `3.0.1p64`
- Framework: `Rails 6.1.3.2`
- Platform: `macOS Big Sur version 11.2.3 (20D91)`

### Expected Behavior
I follow tutorials: Simple Password Authentication (https://github.com/Sorcery/sorcery/wiki/Simple-Password-Authentication) and External (https://github.com/Sorcery/sorcery/wiki/Extern

[2021-05-07 18:53] athix commented on #279
@trainingstore It's been a while since I've reviewed the tutorials (I'm planning on redoing them once v1 releases).

Can you post the error you're getting? It will help me narrow down which part of the process is broken. Be sure to scrub any sensitive information before posting (e.g. secret keys, IP addresses, etc).

[2021-05-07 19:08] trainingstore commented on #279
It doesn't show errors. It shows alert text from OauthsController # callback method:
rescue
        redirect_to root_path, :alert => "Failed to login from #{provider.titleize}!"

def callback
    provider = params[:provider]
    if @user = login_from(provider)
      redirect_to root_path, :notice => "Logged in from #{provider.titleize}!"
    else
      begin
        @user = create_from(provider)

[2021-05-07 19:12] trainingstore commented on #279
It shows following logs:
Started GET "/oauth/callback?provider=github&code=ad2546b98767ce75f920" for 127.0.0.1 at 2021-05-07 22:09:27 +0300
Processing by OauthsController#callback as HTML
  Parameters: {"provider"=>"github", "code"=>"ad2546b98767ce75f920"}
  Authentication Load (0.2ms)  SELECT "authentications".* FROM "authentications" WHERE "authentications"."uid" = ? AND "authentications"."provi

[2021-05-08 12:10] trainingstore commented on #279
It shows message:
SQLite3::ConstraintException: NOT NULL constraint failed: users.email
I changed
class SorceryCore < ActiveRecord::Migration[6.1]
  t.string :email,           null: false
to
t.string :email
did rollback migration.
It creates user wihtout email. It works.
Thank you very much.

[2021-05-08 16:59] athix commented on #279
@trainingstore Sounds like your OAuth scope doesn't contain the user's email, which may or may not matter depending on your application intentions. If it's necessary, I would recommend keeping the `null: false` and adding the appropriate permission scopes to OAuth to request their email on login/signup.

If you run into any other issues, let me know!

[2021-05-08 16:59] #279 closed

[2021-05-17 07:21] komodovaran opened #280 "Refactoring deletes comments at the end of code file"
### Configuration

- Sorcery Version: `0.9.0`
- Sourcery Plugin Version: `0.9.0`
- Platform: `Windows 10; PyCharm 2021.1.1 (Professional Edition)
Build #PY-211.7142.13

### Expected Behavior

Comments should be left alone.

### Actual Behavior

Comment is deleted when it's placed at the bottom of the file

### Steps to Reproduce

This
[code]

results in

[code]

with all comments below the code de

[2021-05-17 07:26] athix commented on #280
@komodovaran wrong project. You probably are looking for [sourcery-ai/sourcery](https://github.com/sourcery-ai/sourcery).

[2021-05-17 07:26] #280 closed

[2021-06-04 18:34] benmaher commented on #265
### Configuration

Sorcery Version: `0.16.1` to `0.8.0`
Ruby Version: `2.7.2`
Framework: `Rails 6.1` (gem 'rails', '~> 6.1.3', '>= 6.1.3.2')
Platform: `macOS 11.4`

### Expected Behavior
No errors during generation of new Sorcery setup.

### Actual Behavior
Created new rails project for each version of sorcery:

[code]

With result:

[code]

### Additional comments

I tested:
0.16.1
0.16.0
0.15.1

[2021-06-04 23:56] athix commented on #203
I'm still working on getting the unload_plugin function to actually unload base rails callbacks such as `before_action` and `after_action`, but unloading a specific module is now possible, and worst case scenario the base rails callbacks can be skipped in nested controllers by calling `skip_before_action` / `skip_after_action`.

[2021-06-04 23:59] athix commented on #93
This will be supported in v1 with the move to UserSession records being the middleman between the session and the user. Single login can be enforced by adding a unique constraint to your UserSession record on the user belongs_to association.

[2021-06-05 00:02] athix commented on #125
The ideal resolution for the whole CA issue will be offloading that responsibility to Omniauth, imo.

Assuming there are no issues switching to Omniauth, this will be fixed in v1.

[2021-06-05 00:04] athix commented on #174
Between these two PRs, I think the issue has been resolved:
* https://github.com/Sorcery/sorcery/pull/237
* https://github.com/Sorcery/sorcery/pull/274

If something is still broken with the table names, let me know and I can reopen this.

[2021-06-05 00:04] #174 closed

[2021-06-05 00:05] #225 closed

[2021-06-05 00:09] athix commented on #263
I'll look into this further for v1, and make the tokens unique assuming I don't run into whatever reason they were left as-is in v0. Considering we use it for find_by look-ups, you'd think that it would have been unique constrained the whole time.

[2021-06-05 00:22] athix commented on #264
Considering how the rest of the code is structured, I feel like it resetting the rails session whenever it's been more than the Sorcery session_timeout length between actions, but while logged out, is unintended.

I'll double check this functionality again in v1, and either change it to reflect that, or document the reasons for timing out logged out sessions.

[2021-06-05 00:24] athix commented on #269
I'll be revisiting (and modernizing) the documentation for v1 when it's closer to completion.

If anyone is still having issues in the meantime, please comment and I can reopen this.

[2021-06-05 00:24] #269 closed

[2021-06-05 00:30] athix commented on #273
Presumably this is only an issue when testing locally, as you should always be using HTTPS in production. Still worth looking into and address though.

[2021-06-05 00:38] athix commented on #276
@cybercent issue confirmed, it appears to have been introduced when the configurable randomness was originally added. See: https://github.com/Sorcery/sorcery/pull/67

Makes me wonder if the feature was ever actually working...

Regardless, v1 has significantly overhauled the config, and iirc I also moved the token gen functionality around. I'll double check that this is resolved on v1, but I don't

[2021-06-05 11:13] kevin-smartpatients commented on #273
Yes. Only in development. I had forgotten about this. Sorry. I'll try to
tackle it this week.

On Sat, Jun 5, 2021 at 1:30 AM Josh Buker ***@***.***> wrote:

[2021-06-06 17:49] wout opened #282 "Sorcery doesn't play nice with encrypted attributes (Lockbox)"
### Configuration

- Sorcery Version: `0.16.1`
- Ruby Version: `3.0.1`
- Framework: `Rails 6.1.3.2`
- Platform: `macOS 11.4`

### Problem
I'm using [Lockbox](https://github.com/ankane/lockbox) to encrypt sensitive information on my `User` model. The included columns are:
- `email`
- `last_login_from_ip_address`

When Sorcery is interacting with them, both raise a similar error:

[code]

That's bec

[2021-06-06 18:13] athix commented on #282
I've been considering removing the ORM Adapter abstraction and depending directly on the rails ORM methods, and this leads me to believe that might be the correct path. This would also remove one of the few areas that is hard to modify for developers, which is one of the core tenants of the Sorcery design (should be easy to modify). I'd imagine most other ORM replacements should overload the same

[2021-06-06 18:50] wout commented on #282
I agree that would make Sorcery more compatible with other gems. I don't fully understand the use of the Adapter abstraction anyway, but I'm sure it has its use cases.

Thanks for your quick reply!

[2021-06-12 13:44] benmaher commented on #265
I'm not sure if it breaks as this is my first time using Sorcery. I'll comment if there is breakage.

[2021-06-16 01:42] ccokme commented on #270
@athix still facing this error, env:

ruby-3.0.1
sorcery-0.16.1
mongoid-7.3.0
rails-6.0.3.2

error:
`
NoMethodError:
       undefined method `after_save' for {:if=>#<Proc:0x00007fb882a81cf8 /usr/local/rvm/gems/ruby-3.0.1/gems/sorcery-0.16.1/lib/sorcery/model.rb:69>}:Hash
     # /usr/local/rvm/gems/ruby-3.0.1/gems/mongoid-7.3.0/lib/mongoid/interceptable.rb:135:in `run_callbacks'
`

[2021-06-16 02:14] athix commented on #270
@ccokme Would you be willing to create a new rails app and recreate the issue with as little code as possible? It would be immensely helpful for me tracking down where this is coming from.

[2021-06-16 03:17] ccokme commented on #270
Sure thing, i just create a new rails app with the same version of mongoig/rails/ruby/sorcery, https://github.com/ccokme/sorcery_test_app, you just have to run mongodb on your dev, and then enter the rails console:

[code]

[2021-06-16 03:31] athix commented on #270
@ccokme Thank you! I'll take a look at this when I have the time and see if I can't figure out what the deal is.

[2021-06-19 02:56] ccokme commented on #270
@athix Maybe it's related with the changes of lambda/proc parameters of ruby 3, i have changed the

sorcery-0.16.1/lib/sorcery/adapters/mongoid_adapter.rb:35

from:
`@klass.send callback_name(time, event, options), method_name, options.slice(:if)`
to:
`@klass.send callback_name(time, event, options), method_name, **options.slice(:if)`

then it works, hope it helps.

[2021-06-20 08:17] #270 closed

[2021-06-20 08:28] athix commented on #282
So it seems like the ORM adapter is mostly beneficial when it comes to defining the fields for MongoID, and handling before/after commit callbacks (which don't exist for Mongo, and need to be modified to be create/save instead of commit).

One potential route we could take is simply keeping the ORM adapters, but reducing the complexity, and perhaps extracting the find_by type methods out of the ad

[2021-07-30 23:14] scotteknight commented on #97
I created a short tutorial in the wiki here: https://github.com/Sorcery/sorcery/wiki/Magic-Login-Basic-Setup
Let me know if that helps or your see anything wrong with it.

[2021-08-29 08:11] ditsara commented on #245
Hi everyone, I see this issue hasn't moved in a while and I wanted to try my hand at it. I've created a Sorcery template here:
https://github.com/ditsara/sorcery-rails-template

Basically all you need is the `template.rb` file (I've combined all the generated files into it).

Can I get your feedback? I've only done some light testing so far.

[2021-08-29 18:50] athix commented on #245
@ditsara I took a quick look, and one thing I would consider is moving from inline templates within template.rb, to copying template files. You can also apply other files to split it up into logical chunks.

[2021-08-29 23:41] simon-bigsofa opened #286 "Prevent users signing in via Slack from being frequently logged out."
### Configuration

- Sorcery Version: `0.16.1`
- Ruby Version: `3.0.0p0`
- Framework: `Rails 6.1.4.1`
- Platform: `Mac OS Big Sur`

### Expected Behavior

Slack don't cache OAuth logins so if a user is logged out of your application they are required to grant approval to your app every time they want to log back in. I want to minimise how often users need to do this so I don't want them logged out

[2021-08-30 02:19] athix commented on #286
Theoretically the timeout stuff should be separate from the OAuth module entirely... That said, I vaguely remember some other issues with timeout cropping up recently.

I'm hoping to do another big push for Sorcery v1 / work on Sorcery in general once I've gotten a personal app I'm working on in a usable state, which will be using Sorcery v1 as the backbone. (long story short, I've been somewhat A

[2021-08-30 09:55] simon-bigsofa commented on #286
Thanks @athix - I'll see if I can figure anything out in the meantime.

[2021-09-01 07:49] simon-bigsofa commented on #286
False alarm. Issue was at my end and not with Sorcery (misconfigured session store was causing sessions to be "forgotten" every 10 or 15 minutes)

This issue can be closed as Sorcery is behaving as expected.

[2021-09-01 15:19] athix commented on #286
Glad you found a solution!

[2021-09-01 15:19] #286 closed

[2021-09-02 14:46] ditsara commented on #245
Okay, I see. Is there any convention around this? IE to ensure it works when fetching via HTTP vs local.

I'll take another look this coming weekend.

[2021-09-04 00:45] athix commented on #245
Yeah, the methods I mentioned are built-in iirc, and work when using it in either remote fetch or local.

[2021-09-24 21:35] antarr opened #289 "Neo4J Database support?"
Please complete all sections.

### Configuration

- Sorcery Version: `0.16.1`
- Ruby Version: `3.01`

### Problem
I'm trying to configure my application that uses Neo4J as a database to user Sorcery. I'm getting an error when attempting to create a `Person`.

### error
[code]

### person.rb
[code]

[2021-09-25 00:06] athix commented on #289
@antarr Currently Sorcery does not support Neo4J out of the box, although I've looked at it before and been impressed. If anyone wants to open a PR to add support Neo4J, I would be more than willing to take a look and help get it merged.

[2021-09-29 03:34] athix commented on #289
Further clarification on your error, you need `extend` rather than `include`, but you'll find that there isn't a database adapter for Neo4J.

If you're interested in writing one, you can use the base class and activerecord class as a basis:
* https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/adapters/base_adapter.rb
* https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/adapters/act

[2021-10-22 12:42] kaikoga opened #291 "Update user_info of externals after user creation?"
### Configuration

- Sorcery Version: `0.16.1`
- Ruby Version: `2.7.4`
- Framework: `6.1.4.1`
- Platform: `Docker ruby:2.7.4`

### Problems

Sorcery collects user info with the external's `user_info_mapping` just once on user creation, but everything in the external provider actually may change after user creation, e.g. display name, screen_name, bio, or icon of a Twitter account can be changed ea

[2021-11-03 16:11] kaikoga commented on #291
Thank you for very quick response! It was too huge a task for me to set up my first cloud environment :dizzy_face:

In my understanding, for the Bob and Carol cases the user status check must be done within the application. However, in my Real World Case, the Twitter API rate limit is actually too severe to do anything meaningful, so I actually decided to make a compromise and only save Alice, sup

[2021-11-03 16:11] #291 closed

[2021-11-03 16:45] athix commented on #291
@kaikoga would you mind sharing your two line solution for people who find this in the future via SEO?

I agree that adding this as a config option to login would make a lot of sense. When I finally have time to get back to Sorcery v1, I'll try to remember that.

[2021-11-21 00:24] bitberry-dev opened #292 "user.valid_password? not work if encrypt provider is sha512 and user.stretches has specified"
### Configuration

- Sorcery Version: `0.16.1`
- Ruby Version: `2.7.2`
- Framework: `rails-6.0.4.1`
- Platform: `macOS 11.6`

### Expected Behavior

`@user.valid_password?(correct_password) # should be true`

### Actual Behavior

`@user.valid_password?(correct_password) # but it false`

### Steps to Reproduce

change the config/initializers/sorcery.rb as below:

[code]

In rails console, create a

[2021-11-21 00:25] bitberry-dev commented on #292
Same bug in sorcery's old repo

https://github.com/NoamB/sorcery/issues/769

[2021-11-21 23:44] athix commented on #292
@bitberry-dev this should be as simple as calling that method from within `validate_password?`, if you want to open a PR. Otherwise I'll tackle this when I have a moment.

[2021-11-22 23:31] #292 closed

[2021-11-22 23:35] athix commented on #292
@bitberry-dev Fix should be merged into master. Can you give it a try, and if it works I'll go ahead and release `v0.16.2`?

[2021-11-23 00:36] bitberry-dev commented on #292
@athix yep, I will check soon. Thank you

[2021-11-23 13:01] bitberry-dev commented on #292
@athix just checked, everything works, thank you

[2021-11-28 02:03] athix commented on #292
@bitberry-dev `v0.16.2` has been released with this fix included.

[2021-12-31 11:23] martinzamuner opened #296 "Should Sorcery rename redirect_back_or_to?"
Rails 7 released a new method called `redirect_back_or_to` added by DHH as a replacement for the now soft-deprecated `redirect_back`: https://github.com/rails/rails/pull/40671.

That may conflict with the method by the same name defined by Sorcery. Should it be renamed? I'm opening an issue instead of a PR because I guess it's not a trivial decision to make.

[2021-12-31 15:44] athix commented on #296
Hmm. Yeah, that'll require some thought. The most robust solution would probably be to namespace the method, but that wouldn't be backwards compatible. Could dynamically define it based on what version of rails is defined, but I prefer avoiding that when possible just because it introduces non-trivial amounts of complexity.

Thanks for bringing this up. Rails 7 has a lot of nice additions, so I wa

[2022-01-08 21:16] rzepetor opened #297 "crypted_password should be always setup on password validation"
https://github.com/Sorcery/sorcery/blob/032cd2eaf86391e74a3d8a2ab7ae45f42ccaf7c2/lib/sorcery/model.rb#L64-L74

when password is `nil`, `crypted_password` will not change when reset password form is empty, so `change_password` method will be `true` with very common option like this:

[code]

[2022-01-08 21:54] rzepetor commented on #297
Never mind this make more problems than current configuration

[2022-01-08 21:54] #297 closed

[2022-01-08 22:04] athix commented on #297
@rzepetor

It never makes sense to encrypt nil as a password, so the callback is fine as-is.

Typically you'll use client-side validations on any password change forms ([make the input required](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/required)), which solves the typical scenario of a user pressing submit before they have entered in the new password.

If you really want, you c

[2022-01-08 22:27] rzepetor commented on #297
Thanks, everything is clear even thought about it earlier but I was looking more clear and simpler solution, so probably I just need add manual validation in controller

[2022-01-10 20:36] rzepetor opened #298 "Testing external module with acceptance test"
Is it possible to test external module like Facebook using acceptance test with sorcery without touching Facebook? (in isolation)

[2022-01-10 20:45] athix commented on #298
I assume you're asking about test helpers to mock hitting an OAuth provider (e.g. Facebook) without actually hitting the provider?

Unfortunately, no, I don't believe Sorcery provides built-in support for that. You can however use other gems to mock API calls/responses, which should work.

For Sorcery v1, I plan on migrating Sorcery to using OmniAuth for OAuth integration, which does have built-in

[2022-01-11 14:12] lorenzk commented on #296
FYI I am using this workaround for the time being:

[code]

And then use `sorcery_redirect_back_or_to` in my controllers when I want to use the `session[:return_to]` feature and rails' `redirect_back_or_to` in place of the soft-deprecated `redirect_back`.

Maybe sorcery could hook into rails' mechanism by just favoring `session[:return_to]` over `request.referer` over `fallback_location`?

[2022-01-12 23:58] matoni109 opened #301 "Adding google prompt in Oauth2"
Hi Everyone,

Below is from Devise, just wanting to add prompt into the Sorcery initializer but unsure how to get that to work?

Any assistance would be great :)

/* sorcery.rb */
[code]

/* devise.rb */
[code]

[2022-01-13 02:36] athix commented on #301
@matoni109 You might be able to monkey patch the Google provider to add the additional params. Sorcery currently doesn't support it natively. For Sorcery v1, I'm planning on migrating us to using OmniAuth for the providers, in which case it would behave similarly (if not identically) to how Devise does it. That would still be a ways away though, so for now monkey patching or submitting a PR to add

[2022-01-26 19:04] JoaoPedroAssis opened #302 "[question] How to logout all users"
Hey guys!

I have an app which uses the session storage to save some data and make things a little faster. But when I was updating the code, I found out that I needed those sessions to be updated and the code was not fit to do that. This particular session info happens to break the code, so I fixed everything. The real issue is that I cant update the session data for all the users, and the best wa

[2022-01-31 19:30] JoaoPedroAssis commented on #302
Thanks for the reply! I did some digging and found that just by changing the secret key base value, all sessions would be labeled as invalid, logging off all users

Looking at your suggestion, I think this method would work as well, thanks!

[2022-01-31 19:32] athix commented on #302
Glad to help! Feel free to reopen or create a new issue if anything else comes up.

[2022-01-31 19:32] #302 closed

[2022-02-16 13:19] PedroAugustoRamalhoDuarte opened #303 "Session timeout module does not logout user"
I have configured sorcery to include session time out module, but when the sorcery try to reset_sessions in validate_session method in controller/submodules/session_timeout.rb the user is not logged out.
Here my config:

config/sorcery.rb
[code]

migrate
[code]
### Configuration

- Sorcery Version: `0.16.1`
- Ruby Version: `2.7.2`
- Framework: `Rails 6.1.4.4`
- Platform: `Linux`

### Expected Beha

[2022-02-17 18:23] athix commented on #303
@PedroAugustoRamalhoDuarte there isn't enough information for me to tell what's going wrong. Can you please create a minimal app to reproduce this issue? The first thing that comes to mind is that sessions are failing to invalidate entirely. Have you tried setting a session variable, resetting the session, and checking that the variable was cleared? e.g.

[code]

[code]

[2022-02-17 20:42] PedroAugustoRamalhoDuarte commented on #303
@athix thanks for the response, i will try to create a minimal app to reproduce this bug, maybe is the remember_me module in conflict with session_timeout module

[2022-02-17 21:31] PedroAugustoRamalhoDuarte commented on #303
@athix here is the repo (https://github.com/PedroAugustoRamalhoDuarte/sorcery-session-timeout), to reproduce the bug:
- Create a user
- Login with user (with remember_me on)
- Stay 5 second in show user page and the it should loggout the user, but it doesn't

I guess session_timeout destroy the session, but remeber_me creates a new session, maybe the fixes is add a forget_me! at session_timeout va

[2022-02-17 21:35] PedroAugustoRamalhoDuarte commented on #303
I add forget_me! method to controller/submodules/session_timeout and works.
[code]

[2022-02-17 21:57] PedroAugustoRamalhoDuarte commented on #303
I will create a pull request

[2022-02-23 16:10] epdejager opened #306 "Using Okta as external provider causes NameError exception (for Oktum)"
Please complete all sections.

### Configuration

- Sorcery Version: `0.16.2`
- Ruby Version: `2.7.2`
- Framework: `Rails 5.2.5`
- Platform: `macOS mojave 10.14.6`

### Expected Behavior

Listing Okta as an external provider should work: `config.external_providers = [:okta]`

### Actual Behavior

We get an exception:
[code]
### Steps to Reproduce

Just try using okta as an external provider, and t

[2022-02-23 20:44] athix commented on #306
Should be fixed in 0.16.3 which was just released, feel free to reopen if this is still an issue!

[2022-02-23 20:44] #306 closed

[2022-03-06 07:15] MrGrinst commented on #276
It looks like that attribute needs to be nested in `config.user_config` and not in the root config.

I just got it to to work by doing this:

[code]

[2022-04-02 09:25] Nerian opened #308 "Using Sorcery in Rails 7 and EffectiveResources"
Hi,

I am trying to update to Rails 7 my app but I keep hitting the same issue:

[code]

I tracked this down to using both sorcery and effective_resources.

This is a base Rails straight from the generator, just adding gem 'sorcery', and gem 'effective_resources':

https://github.com/Nerian/example_sorcery_effective

Doing a `rails console` gives me that error:

I am not sure what could be going o

[2022-04-07 10:57] ophilbert opened #309 "Brute force protection failed_logins_count incremented by 2"
Hello

### Configuration

Sorcery (0.16.3)
Ruby 3.0
Rails 7.0.2.3
MacOS

### Context

[Brute Force Protection wiki](https://github.com/Sorcery/sorcery/wiki/Brute-force-protection) states that the controller should call `user.register_failed_login!` to increase failed_login_count for user.

It seems to me that a failed login method already handle that. Maybe there's something I didn't understand. I

[2022-04-24 01:25] athix commented on #308
I wonder if this is because the current version of Sorcery is still doing the old terrible loading method, and isn't setup properly with zeitwerk loading... I'll have to take a look. There's also some other Rails 7 compat issues that need resolved IIRC, which could be contributing to this.

I suspect Sorcery is doing something dumb while loading, combined with the essentials library attaching to a

[2022-04-24 14:44] Nerian commented on #308
Hi @athix,

I created an issue on the Effective gem too and they managed to provide a fix. What they changed was the way in which the files were loaded. Perhaps this may suggest how it needs to be loaded in sorcery too:

https://github.com/code-and-effect/effective_resources/issues/14

[2022-05-14 13:37] rzepetor opened #311 "Is it possible to make sign in/sign up external provider flow with already fetched access token from other source?"
I want to create sign in/sign up flow with sorcery when I have already access token, is it possible to ommit fetch token from exchange oauth2 authorization code and just sign in/sign up with already fetched access token?

[2022-05-15 21:31] brandoncc opened #312 "Sorcery breaks Rails defaults from initializers for ActiveRecord"
We are working on upgrading a Rails 5 app and the Rails 5.2 update adds `new_framework_defaults_5_2.rb` with:

[code]

When that is commented, cache keys look like this:

[code]

When it is uncommented, it changes the output to this:

[code]

When I add sorcery to the project, though, the cache key reverts to the former version.

If I comment sorcery out in the Gemfile, then the cache key is the c

[2022-05-16 20:53] rzepetor commented on #311
Yes it is possible, created pull request for OAuth2 #313

[2022-05-18 18:31] athix commented on #312
The way Sorcery currently loads has caused a plethora of issues, I wouldn't be surprised if this is one of them.

Sorcery v1 will use a railtie and properly hook into the bootstrapping system. That said, I have unfortunately been incredibly behind schedule on pushing v1 to a production ready state.

The conditional loading depending on if Rails is present has been tried, and unfortunately breaks t

[2022-05-20 17:23] brandoncc commented on #312
Thanks for letting me know about this. The only workaround we have come up with is to move the default overrides from the initializer that `rails app:update` generates into `application.rb` just after the `load_defaults` line. It seems to work okay, but isn't a great solution.

There is also [an issue](https://github.com/rails/rails/pull/44996) open on the rails repo discussing how to fix this for

[2022-06-06 01:07] bunnymatic commented on #308
I ran into a similar thing recently.  In the initializer where i do
`config.user_class = User`
Rails complains that it can't find `User` class.
[code]

I was able to get around it by adding several extra `require` statements in the `config/initializer/sorcery.rb`.  Not a big deal but thought I'd mention it here.

@athix I think you're correct that the sorcery loading is not setup to work with zeit

[2022-06-08 02:50] bunnymatic commented on #308
On further investigation, just adding requires in the `initializer` doesn't quite cut it.

Instead I used `Rails.application.reloader.to_prepare do` to properly load sorcery for an initializer and it seemed to help other issues (after the require steps above I had test failures and the app was basically broken).

I basically changed my `initializer/sorcery.rb` like this:
[code]
with no extra requi

[2022-06-08 20:31] athix commented on #308
Dang.

It's been a while since I tested it, but iirc I did fix all the zeitwerk & related loading issues with v1. "Just" need to get v1 production ready, and it would probably address a couple of the Rails 7, and all of the zeitwerk, related issues.

It's definitely on my radar to make a big push for v1 ASAP, one major blocker there being writing some tests to ensure the major rewrites I've done t

[2022-06-10 15:16] bunnymatic commented on #308
This test update work would go on the `master` branch?  You don't have a `v1` branch in flight, right?  I might be able to find a little time to look at migrating tests.

[2022-06-11 19:26] bunnymatic commented on #308
For context, I'll add some more data here.  The above mod with `Rails.application.reloader.to_prepare do` appears to get the app running, and `rspec` tests seem happy.  But if I load a console (or as I first noticed running `db:seed`), as soon as I refer to the `User` model, things fall over.
[code]
On further investigation, in a console, it appears that the `@sorcery_config` inside `ResetPassword

[2022-06-11 23:05] bunnymatic commented on #308
I think i got it figured out.  Here's a working `sorcery/config` structure for Rails 7.0.3.

[code]

The two significant changes that seem to make this work are:
1. leverage `Sorcery::Config.user_config(&blk)` with a separate config block instead of nested in the initial sorcery config block.
2. add an extra `to_prepare` which sets the user class

I wish I could better explain exactly why this is

[2022-06-13 00:51] Exterm1nate commented on #296
A good way to solve this is to define another method with same functionality (something like `redirect_to_before_login_path`), add a warning message to the original method that it is deprecated and will be soon removed, and finally don't define it at all for `rails >= 7`, because it breaks the functionality of passed options (they are passed to the flash kwargs).

[2022-07-03 20:12] joshbuker opened #316 "Rails 7 Support"
- Check for relevant changes in:
  - [Rails 7 Release Notes](https://edgeguides.rubyonrails.org/7_0_release_notes.html)
  - [Rails 7 Upgrade Guide](https://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-6-1-to-rails-7-0)
- Address related issues and PRs
  - #309
  - #308
  - #296
- Push new minor release (`v0.17.0`)
- Ensure v1 codebase is Rails 7 compatible as well

[2022-07-04 00:56] scivola opened #317 "oauth2 ver. 1.x already be EOL"

[2022-07-04 19:08] joshbuker commented on #308
@bunnymatic The rework code is over on [Sorcery/sorcery-rework](https://github.com/Sorcery/sorcery-rework), be warned that it's not production ready though, and might eat your cat.

[2022-07-23 09:34] brentgreeff opened #319 "Docs for Testing-Rails need update for request specs"
This page https://github.com/Sorcery/sorcery/wiki/Testing-Rails needs updating.

For request specs (I dont need helpers for system specs - and I dont use controller specs)

I added:

`config.include Sorcery::TestHelpers::Rails::Request, type: :request` - in rails_helper.rb

[code]
I had to make this change - because I got `undefined method user_sessions_url`

Then using pry I figured out that the

[2022-07-23 09:58] brentgreeff commented on #319
This messed up my user specs - so I changed it to

[code]

So I decided to look in the code - https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/test_helpers/rails/request.rb

[code]

I see the password param

My call is

[code]

That doesnt work - using pry in user_sessions controller.

params
=> #<ActionController::Parameters {"email"=>"axs@gms-community.com", "password"=>#<ActionControl

[2022-08-01 09:00] Exterm1nate opened #320 "Sorcery breaks Doorkeeper OpenID `access_grant_class` configuration"
### Configuration

- Sorcery Version: `0.16.3`
- Ruby Version: `3.1.2`
- Framework: `Rails v7.0.3`
- Platform: `amd64`

### Expected Behavior

Doorkeeper `access_grant_class` configuration should work.

### Actual Behavior

It raises an `uninitialized constant` error for any provided class.

### Steps to Reproduce

1. Add Sorcery and Doorkeeper (+OpenID) to your gemfile
2. Customize access grant c

[2022-08-08 19:41] kleinjm commented on #296
Bump 🙏  I went down a bit of a debugging rabbit hole due to this naming conflict

[2022-08-25 13:44] yuh-pen opened #321 "Should auto_login resets and restores session?"
Hi,

Looks like `login` method resets and restores session. But `auto_login` method doesn't.
I think `auto_login` method should too. Hou about? 👀

[Ruby On Rails Security Guide](https://guides.rubyonrails.org/v3.2/security.html)

https://github.com/Sorcery/sorcery/blob/4485701dff638bfbca428bec94dcf4de5215dd29/lib/sorcery/controller.rb#L116-L119
https://github.com/Sorcery/sorcery/blob/4485701dff638

[2022-08-26 17:11] joshbuker commented on #317
The plan is to deprecate the custom OAuth implementations entirely for Sorcery v1 (by moving to using OmniAuth).

[2022-09-06 16:22] cpanderson commented on #248
Also late to the party and want to say thank you for this great gem. I found Devise too unwieldy and use Sorcery exclusively now. Maybe it's mentioned above but would it be helpful to be on Github Sponsers? I would contribute to help with the effort as I'm sure others would as well.

[2022-09-18 01:18] joshbuker commented on #248
GitHub sponsors does serve as signal for me to provide more time to maintaining Sorcery and developing v1. That said, there already have been enough folks kind enough to donate to justify me doing so, and I am committed to releasing v1 no matter what at this point.

What would help things move forward the quickest is additional folks willing to help maintain the code and work on v1. That said, spo

[2022-09-19 16:43] daichi0410 opened #322 "Can't solve Oauth2 error"
### Configuration

- Sorcery Version: `~> 0.16.3`
- Ruby Version: `2.6.10`
- Framework: `Rails 6.0.4.8`
- Platform: `Mac`

### Expected Behavior

I used sorcery gem (version 11.0), but updated Rails version from 5.2 to 6.0.4.8, then the below error happened for Facebook login..

`undefined method encode for <Hash ~>`

Above error happens at Oauth2 client.rb file, especially 'response' method from

[2022-09-19 17:16] joshbuker commented on #322
Rails 6 should be compatible, although Facebook has been known to make breaking API changes with their OAuth in the past.

If you're using Sorcery `v0.11`, please update to `v0.16.3` and try again. There are security and compatibility updates that have been included since `v0.11`.

[2022-09-20 06:11] daichi0410 commented on #322
@joshbuker

Thank you for replying.
Sorry my mis communication. Actually I just updated Rails `Rails 6.0.4.8` and Sorcery `v0.16.3` together.
Then above errors happens except for twitter login..

Could you kindly check below my sorcery files ??

[code]

[2022-09-20 06:24] joshbuker commented on #322
Hi, @daichi0410. Would you mind including the full stack trace and sanitizing any private information? At first glance, I see nothing wrong with your configuration file, so I suspect the issue is somewhere else.

Also, Sorcery doesn't define or call `encode` anywhere, as far as I can tell. Is it possible your code is expecting a value of `encode` to be included on the resulting user hash?

[2022-09-20 06:49] daichi0410 commented on #322
@joshbuker

Sorry could you let me know `the full stack trace and sanitizing any private information`  meanings? What kind of informations should I share ??

Please check below error flows. and let me share controller files below.

[code]

Herewith the error flows image.

![スクリーンショット 2022-09-20 15 47 41](https://user-images.githubusercontent.com/59831107/191186801-6d900d2f-03f4-444c-91fe-743192757

[2022-09-20 07:12] joshbuker commented on #322
@daichi0410 It looks like you're hitting this block of code:

[code]

Facebook is returning an HTTP Code that the OAuth2 library doesn't recognize. Then OAuth2 breaks when trying to raise an error.

I'm honestly not sure what on earth is going on there, and as far as I can tell this is probably a problem with OAuth2 and not Sorcery.

I would maybe ask the OAuth2 folks here: https://gitlab.com/oaut

[2022-09-20 07:15] daichi0410 commented on #322
@joshbuker

I see..
OK, I'll try to folk from them , and create new small Apps.

Thanks☺️

[2022-09-27 15:17] Gr8tDaNe commented on #317
Any info when we could hope for a release of v1?

[2022-09-27 20:04] pboling commented on #322
Reposting my response to the Gitlab issue on the oauth2 tracker here.

You are using oauth2 version 1.4.8, and there have been a few bug fixes.  There was a breaking change that was accidentally introduced, and then corrected.  Please update to the latest 1.4.x series (currently 1.4.11) with:
[code]
Let me know if that fixes the issue for you.
In general you should always try the latest patch of a

[2022-09-27 23:20] pboling commented on #317
Oauth2 v1.x will be EOL in April 2023!  Upgrading to v2 isn't hard for most use cases.  Can the version restriction be loosened, so people can test with v2 before the release of sorcery v1.0?

[2022-09-28 09:26] konyu commented on #322
@daichi0410
Of course, you have to use the latest gems for the problem.
Before that, Could you check the Facebook API version?

Your part of the codes showed

v2.8 looks outdated version.

ref: https://github.com/Sorcery/sorcery/issues/322#issuecomment-1251884621

Could you please read the following link and "APIのバージョン" section? It would help if you were Japanese.

https://qiita.com/aiandrox/items

[2022-09-28 15:16] joshbuker commented on #317
@pboling What are the breaking changes? If it's not too much of an overhaul, I can patch Sorcery v0 in the meantime. Apologies if there's already documentation on this; I'm at a work conference and don't have time to dig super deep right now.

[2022-09-28 20:41] pboling commented on #317
- By default, keys are transformed to snake case.
  - Original keys will still work as previously, in most scenarios, thanks to `rash_alt` gem.
  - However, this is a _breaking_ change if you rely on `response.parsed.to_h` to retain the original case, and the original wasn't snake case, as the keys in the result will be snake case.
  - As of version 2.0.4 you can turn key transformation off with t

[2022-09-29 07:02] daichi0410 commented on #322
@pboling
@konyu

Thank you for your kind advices.
I just updated oauth2 from `1.4.8` to `1.4.11`, then my FB login and registration worked!!!

I can't describe how my feelings...
I deeply appreciate for your helps🙇

[2022-09-29 07:45] pboling commented on #322
@daichi0410 I am so happy to hear it worked!! 💯

[2022-09-29 07:47] daichi0410 commented on #322
@pboling

Thank you hundred times😭
Then I closed this issue with many thanks !!!

[2022-09-29 07:47] #322 closed

[2022-09-30 01:23] joshbuker commented on #317
I'll see if I can take a stab at this next week.

[2022-10-04 17:16] #317 closed

[2022-10-04 17:26] joshbuker commented on #317
@scivola @Gr8tDaNe @pboling Sorcery v0.16.4 is released which includes the version bump to OAuth2 ~> 2.0

[2022-10-07 19:23] pboling commented on #317
@joshbuker So great!!! Thank you!

[2022-10-07 19:31] pboling commented on #317
@joshbuker ... I just noticed the OAuth1 support relies on the `oauth` gem.  I maintain that one as well :). I created a few release tracks so I could deprecate old Rubies.  For Sorcery you should use:
[code]
This will allow people using Ruby 2.7+ to have the latest version 1.1.x, and people stuclk on Ruby 2.4 will get the latest 0.6.x series release (both are actively maintained).

[2022-10-07 21:08] joshbuker commented on #317
IIRC, `~> 0.5` will allow `0.6.x` releases as well, but not a bad idea to bump it up to whatever the latest is regardless.

[2022-10-27 12:08] Spone opened #327 "Feature request: `login!` method"
I'd like to suggest adding a `login!` method, that would behave like `login` except it would raise an exception if the login fails.

This is similar to the `save` / `save!` methods in Rails.

It would be helpful in cases where you want to code the "happy path", and handle exceptions separately. For instance instead of:

[code]

you could have:

[code]

A few notes:

- I used `render json` for the

[2022-11-02 14:47] Spone commented on #327
@joshbuker would you be open to reviewing a PR for this? I can allocate some time to it.

[2022-11-04 13:57] jankoegel opened #328 "Docs: harmonize examples & clarify when to use `setup_activation` (recommended in README but not in the Wiki)"
### Configuration

- Sorcery Version: latest

### Expected Behavior

The docs should be clear and not say two different things in two places.

### Actual Behavior

The [README](https://github.com/Sorcery/sorcery#user-activation) recommends the following steps to activate a user:
[code]

This suggests that a call to `setup_activation` is required to activate a user. In the [Wiki](https://github.com

[2022-11-07 21:09] imageaid commented on #248
Also late to the game but wanted to let you know that we're switching our monolith to Sorcery from Clearance. We just found Sorcery's API and straight-forward approach to authentication a huge help for our app, which has very basic, simple authentication needs compared to many apps.

Thanks, very much, for all the work on Sorcery and for staying with it. My fellow developer and I will try and furt

[2022-11-15 22:35] Spone opened #329 "`#change_password!` with an empty string fails silently"
### Configuration

- Sorcery Version: `0.16.4`
- Ruby Version: `3.1.2`
- Framework: `Rails 7.0.4`
- Platform: `Linux`

### Expected Behavior

When I'm calling `@user.change_password!("")`, I would expect an exception to be raised, because the password is missing, so it won't be modified.

### Actual Behavior

The method does not raise an exception and returns `true`.

### Steps to Reproduce

In Ra

[2022-11-23 22:57] DataDaoDe commented on #298
Having omniauth-like testing funcationality built-in would be great.

[2022-11-28 17:17] TheNeikos opened #330 "Using sorcery in an API-only rails app does not work"
### Configuration

- Sorcery Version: `0.16.4`
- Ruby Version: `3.1.2`
- Framework: `rails-7`
- Platform: `linux-64_86`

### Expected Behavior

Sorcery should work out of the box with an API-only rails app

### Actual Behavior

It errors with `undefined local variable or method 'form_authenticity_token'`.

### Steps to Reproduce

1. Make a rails API app
2. Install sorcery
3. Call `login`

[2022-11-28 18:17] mladenilic commented on #330
Login method calls `form_authenticity_token` which is defined in request forgery protection concern. You can include it with:
[code]