[2016-09-17 00:46] athix opened #1 "Get endorsement from original creator"
While not technically necessary, it would be nice to get @NoamB's approval for moving Sorcery to this organization. Sorcery is still very much in use, but until it's moved to an organization it remains difficult to maintain.

@NoamB has been contacted by @arnvald and myself, but there has been no response yet as far as I'm aware.

[2016-09-17 00:50] athix opened #2 "Update rubygems.org"
Currently [rubygems.org](https://rubygems.org/gems/sorcery) refers to `NoamB/sorcery`. This should be updated to `Sorcery/sorcery` once everything is in order.

[2016-09-21 22:27] athix opened #3 "Move existing issues"
e.g.
- [#787](https://github.com/NoamB/sorcery/issues/787) - 1.0 Roadmap
- [#779](https://github.com/NoamB/sorcery/issues/779) - rubocop discussion
- [#70](https://github.com/NoamB/sorcery/issues/70) - Token Authentication

And many others..

[2016-09-21 22:36] athix opened #4 "Move and/or merge existing pull requests"
There's plenty of open pull requests on `NoamB/sorcery`. We can either merge them on `NoamB/sorcery` and then pull the commits directly onto `Sorcery/sorcery`, or encourage moving the PR to `Sorcery/sorcery` and merging there instead. If we mix and match however, there's bound to be a history conflict and the `Sorcery/sorcery` history would get a bit messy with merging `NoamB/sorcery` onto `Sorcer

[2016-09-21 22:55] athix commented on #1
Pinged @NoamB on Facebook and Gitter today, will update issue if he responds.

[2016-09-22 14:32] Ch4s3 commented on #1
I think its pretty unlikely, he seem to have stopped doing open source for the last 2 years. While I agree that it would be nice, we should proceed as planned if we don't hear back.

[2016-09-22 14:46] Ch4s3 commented on #4
I would be in favor of moving the ones that seem more or less ready to go.

[2016-09-22 14:46] Ch4s3 commented on #2
Yeah, I've talked to @arnvald about this. I think we can do that for version 1+.

[2016-09-23 22:43] #1 closed

[2016-09-27 13:50] Ch4s3 commented on #4
Lets try to keep track and close them on the other side as we move them over.

[2016-09-30 20:38] athix opened #9 "Redirect NoamB/sorcery to Sorcery/sorcery"
NoamB/sorcery is probably going to be visited for a while after the transition, so having it link to the new repo would be preferable. I've opened a PR on NoamB/sorcery for this.

[2016-10-03 00:59] Ch4s3 commented on #9
Yeah, I still need @arnvald to give me access to the old repo.

[2016-10-06 04:17] arnvald commented on #9
I've merged that PR.

@Ch4s3 I can't give access to old repo, I have write access there, but not admin access. I've given you the permission to rubygems though, so you can release gem now.

[2016-10-06 05:09] #9 closed

[2016-10-21 20:12] athix opened #11 "SocketError when calling login_at"
[code]

I assume this is due to the DDoS attack on Twitter today. I guess my question is, should this error be thrown by login_at? And if so, should we add using begin/rescue to the documentation for it?

[2016-10-21 23:28] athix opened #12 "Can't remove crypted_password or salt from User model"
[code]

For my particular use-case, I need users that only authenticate with external providers. Currently it works, but if I try to remove the `crypted_password` and/or `salt` fields from `User`, it gives this error. I tried setting the config to use `nil` or `''` instead, but that also gives errors.

When we figure out how to go forward with the modularization, we should have the option to exclu

[2016-11-04 22:45] eford1 opened #14 "BruteForceProtection#lock! conflicts with ActiveRecord#lock!"
This means I can't use `lock!` or `with_lock!` on any object that calls `authenticates_with_sorcery!`.

http://api.rubyonrails.org/classes/ActiveRecord/Locking/Pessimistic.html

[2016-11-08 02:03] asmsuechan opened #16 "Which branch should I use for implementation?"
Hello.

It's just a bit question. I'm not sure the branch operation of this repository. I recognize branch 0-9-x is release branch. But recent commit is on master. Which branch should I use for implementation?

[2016-11-08 04:11] athix commented on #16
Hi @asmsuechan, afaik 0-9-x is considered the stable 0.9 release branch, and will only receive hot-fixes going forward. Master is the current development branch and the most up-to-date, however there may be issues present, use with care. Rubygems currently uses the latest on 0-9-x.

[2016-11-08 05:01] asmsuechan commented on #16
Thanks for your reply! I'll throw PRs at master branch. I'd like to refactor codes by using rubocop.

[2016-11-08 06:37] athix commented on #16
No problem!

[2016-11-08 06:37] #16 closed

[2016-11-21 23:35] athix opened #20 "Rails 5 Release"
Creating this issue to discuss releasing a version that fixes all the rails 5 deprecation warnings. Probably won't have time to develop some of the more major items, so I was thinking maybe call this release 0.10.0 and have it be the last release before we go through the existing code with a fine tooth comb and modularize the various features (1.0.0). IIRC, master branch solves most if not all of

[2016-11-30 02:57] TechRsch commented on #3
I'd like to bump #70.  It's important to API's && microservices, both of which are pretty hot.

[2016-12-08 19:07] athix commented on #4
Looks like this might solve some twitter issues: [#719](https://github.com/NoamB/sorcery/pull/719)

[2016-12-13 13:49] guizmaii opened #24 "What about a v0.9.2 ?"
Hi,

Is there any plan to push a v0.9.2 ?
The changelog between v0.9.1 and the master branch is already big: https://github.com/Sorcery/sorcery/compare/v0.9.1...master.

Jules

[2016-12-13 16:48] athix commented on #24
Probably not, because of the rails 3 and rails 5 changes it will more likely be `0.10.0`.

[2016-12-16 08:36] Darmody opened #25 "Is it OK to add a wechat provider?"
Wechat, a chinese chat app. http://open.weixin.qq.com

I think many chinese developer would like to have this provider.

If you like this idea, i can create a PR for it.

[2016-12-18 18:16] dankimio commented on #25
It's OK as long as it follows the format of other providers.

[2016-12-19 00:37] Darmody commented on #25
@dankimio Cool!

[2016-12-21 04:11] Ch4s3 commented on #24
@athix mentioned, we already have a number of breaking changes on master, we probably need to get it together and do a major-ish release. I've dropped the ball a bit.

[2016-12-21 17:47] athix commented on #25
We'll be changing how providers work for `1.0.0` (integrating omniauth and/or refactoring into new module) but in the meantime there should be no issues with adding new providers. Don't forget to add the provider to the changelog for your PR! :)

[2016-12-21 17:47] #25 closed

[2016-12-21 18:02] athix commented on #14
Looks like the lock! functionality is new to Rails 5. We'll probably just want namespace or rename the BruteForce lock so it doesn't conflict.

[2016-12-22 22:55] athix commented on #20
Running into this issue when trying to use the latest version in my app, any ideas?

<img width="508" alt="screen shot 2016-12-22 at 2 45 30 pm" src="https://cloud.githubusercontent.com/assets/1802598/21443002/8a0a477c-c856-11e6-8b94-04511b3149f1.png">

[2016-12-23 13:02] kyuden commented on #20
@athix  Did you try to do `bundle update`?

[2016-12-23 16:32] dankimio commented on #20
Should we weaken dependency requirements?

[2016-12-23 17:29] athix commented on #20
@kyuden This error is from running `bundle update`.

I've looked into this a bit more, and it's looking like oauth2's outdated dependencies are the cause of the issue. There's open pull requests to fix them (`intridea/oauth2` [#277](https://github.com/intridea/oauth2/pull/277),[#278](https://github.com/intridea/oauth2/pull/278)), but until that happens I don't really know what we can do to fix it.

[2016-12-27 17:22] athix commented on #20
Resolved the issue by locking the twitter gem to `~> 5.0`.

[2016-12-27 19:50] #24 closed

[2016-12-28 11:59] navinspm opened #30 "Rails 5 , require login error"
I am trying to upgrade my rails version from 4.2 to 5.0, After upgrading rails version. I am facing this error
`
Before process_action callback :require_login has not been defined`

This is my application_controller.rb code

` before_filter :require_login`

I am using sorcery 0.9.1.

[2016-12-29 17:35] #14 closed

[2016-12-29 17:39] athix commented on #30
Hi @navinspm, this is probably because before_filter has been completely deprecated in Rails 5 iirc. We're releasing version 0.10.0 this friday, which should have full Rails 5 support. For now you can point your gemfile to use `github: 'Sorcery/sorcery'` if you need this fixed immediately.

[2016-12-29 19:31] Ch4s3 opened #32 "1.0 Roadmap"
I'm starting this issue to discuss our path to a 1.0 release. Please feel free to request features here and discuss areas that need improvement or bug fixes.
- [ ] OAuth / Provider test mocking (see omniauth mocking)
  - [ ] Fake successful auth call for any provider
  - [ ] Fake unsuccessful auth call for any provider
- [ ] Token auth #70 probably with something like [jwt](https://github.com/jwt/

[2016-12-29 21:18] eford1 commented on #14
Thanks for fixing!

[2016-12-30 14:23] #30 closed

[2016-12-30 18:56] #20 closed

[2016-12-31 17:31] nsantiago2719 commented on #32
I think you need to review the `create_from(provider)` method. Because x.yz@gmail.com is the same with xyz@gmail.com but in sorcery it treats it differently.

In google's view:
x.yz@gmail.com == xyz@gmail.com

But in sorcery's view:
x.yz@gmail.com != xyz@gmail.com

A solution can be made like the others suggest before that I can filter it through my registration controller. But I think it's a litt

[2016-12-31 18:02] Ch4s3 commented on #32
@nsantiago2719 can you file an issue for this?

[2016-12-31 22:11] athix commented on #32
@nsantiago2719 @Ch4s3 Not all providers ignore periods, so treating them as separate emails makes sense for the most part. I'm of the same mindset of @jrochkind in [#748](https://github.com/NoamB/sorcery/issues/748) that provider specific code should probably be documented in the wiki (with examples), but left to users to implement. One of the main draws of Sorcery is that it _doesn't_ do everythi

[2016-12-31 23:23] Ch4s3 commented on #32
I was unaware that other providers recognize '.'

[2016-12-31 23:28] nsantiago2719 commented on #32
@athix what I am referring right now is the `create_from(provider)` method for external providers. That's why it's a little bit different to the issue that I opened before.

[2017-01-01 06:39] athix commented on #32
@Ch4s3 Looks like Microsoft, Yahoo, and Apple treat periods as separate emails, while Google and Facebook treat them as the same.

@nsantiago2719 Hmm. Can you open a new ticket on this repo where we can discuss it further? Including the specifics on what's not behaving the way you'd expect would be helpful. Thanks! :)

[2017-01-01 07:28] nsantiago2719 opened #34 "External Sub Module: create_from(provider) method"
@athix  here I have created a new issue as you told.  I have been wondering about this issue because if someone create an account using x.yz@gmail.com then they login through oauth, rather than getting them logged in Sorcery will create a new account **if google will give the xyz@gmail.com** because Sorcery treat those emails different right.

cc: @Ch4s3

[2017-01-01 08:36] nsantiago2719 commented on #34
Yes. By the way in number 2 rather than create account I prefer log in. But well the result will be the same I think where it will create a new account for the same email.

[2017-01-01 09:17] athix commented on #34
Personally, I think this is a non-issue because there is no way to stop users from using the same email for different accounts if they wanted to. For example:

I own a domain with email support (mydomain.com) and have my personal gmail account (example@gmail.com). I can then use my personal email to create an account, and use any number of forwarding addresses (example@mydomain.com, example123@myd

[2017-01-01 09:48] nsantiago2719 commented on #34
You have a point in that. But isn't it better if Sorcery can still differentiate if the email gave by google is already registered if they are registering or logging in through google oauth? This is just my point of view because sometimes persons get confused on multiple accounts.  And well this would be only applied in `create_from(provider)` method for google ouath.

[2017-01-02 09:16] sarnold04 opened #35 "Error: Undefined method `authenticates_with_sorcery!' for User:Class"
I get the "Undefined method `authenticates_with_sorcery!' for User:Class" error in Rails 5.0.1 with Mongoid 6.0.3 and Sorcery 0.10.0. I added the authenticates_with_sorcery! beneath the includes in my model but still getting the error. As long as I use Rails 5.0.1, Mongoid 6.0.3 and Sorcery 0.9.1 it works fine. Is there any change I have to make with loading the functions?

Regards,
Sven

[2017-01-03 17:54] athix commented on #35
Hi @sarnold04, do you use just `gem 'sorcery'` or do you also use `gem 'sorcery_mongoid'`? I don't think @Ch4s3 or myself use mongoid, so it probably just got overlooked.

If it helps, this is what my user model looks like in Rails 5:

[code]

Thanks!

[2017-01-03 18:31] athix commented on #34
I think that functionality would be cool, but unless I'm mistaken, it's not as easy as just overwriting the create_from(provider) method for google. It should also be possible to modify the workflow of the application to support this functionality without too much effort. Would something like this work?

### User has no account

1) User attempts to login via google oauth (johnsmith@gmail.com)
2) I

[2017-01-06 05:16] nsantiago2719 commented on #34
@athix I agree on you about overwriting the create_from(provider) method. Those are great idea on how to solve the issue. Will close this issue already.

[2017-01-06 05:16] #34 closed

[2017-01-06 14:07] kyuden commented on #32
@Ch4s3

How about add [omniauth integration](https://github.com/NoamB/sorcery/issues/533) to 1.0 Roadmap.

 　　Fake successful auth call for any provider
 　　Fake unsuccessful auth call for any provider

It may be able to remove this If omniauth integration is implemented.
Because we can use mocking of omniauth itself.

[2017-01-06 14:45] Ch4s3 commented on #32
@kyuden Reading that old thread, this makes sense.

[2017-01-08 10:17] sarnold04 commented on #35
Hey athix,

my user model looks like this in Rails 5

[code]

In my Gemfile if I use mongoid 6.0.3 and sorcery 0.9.1 it works fine but if I upgrade to 0.10.0 it crashes with the error mentioned above.

Regards,
Sven

[2017-01-10 00:17] athix commented on #35
I imagine what happened is the logic for mongoid got extracted out into the `sorcery_mongoid` gem between `0.9.x` and `0.10.x`. Looking at the repo for it though, I'm not sure it actually works. Try including `gem 'sorcery_mongoid'` in your gemfile as well, and let me know if that works. If it doesn't, please post the full stack trace to help track down the exact cause.

[2017-01-11 11:56] pama opened #38 "rails generate sorcery:install not working"
I tried from v0.10.2 till v0.9.1 with rails 5.0.1 and its not working. The command doesn't return to the terminal.

[2017-01-11 13:37] Ch4s3 commented on #38
Is there any output at all?

[2017-01-11 14:33] pama commented on #38
@Ch4s3 I had no input output at all, 100% frozen. I tried other ruby version and worked, but not with Ruby 2.3.3

I realised that was Spring fault. I had to stop it. It wasn't easy to spot that one.

[2017-01-11 14:33] #38 closed

[2017-01-11 14:36] Ch4s3 commented on #38
:) Ahh spring! I was just going to ask if you were running spring. Glad it worked, and please do let us know if you have any issues, questions, or suggestions!

[2017-01-11 21:21] athix commented on #32
I could definitely get behind utilizing omniauth's existing infrastructure for oauth. I think we'd want to carefully considering all the possible implications first, but it would reduce the maintenance of external providers considerably.

We also should start looking at how/if we plan on dividing sorcery up into separate modules soon. It could be that we just make the code itself more independent,

[2017-01-11 22:11] Ch4s3 commented on #32
What is your preference re: making the code itself more independent vs. splitting @athix?

[2017-01-11 22:17] jrochkind commented on #32
you might consider making the code more independent as a first step, then to consider splitting as a second step. Since the second requires the first as a first step anyway.

[2017-01-11 22:18] Ch4s3 commented on #32
Yeah, I think that's probably how we'd approach it. Omniauth could be a good part of that.

[2017-01-20 10:39] rjurado01 commented on #35
I have the same error:

[code]

[code]

[code]

@athix sourcery_mongoid is not updated from three years ago and it doen't exist in rubygems.

[2017-01-20 15:04] williantenfen opened #40 "Password reset token leak via HTTP referer"
The reset password token is leaking through the HTTP referer header ... This happens when user clicks at the link sent to their email and when the page is rendered with the token at the URL, if there is some subsequent requests to CDN/analytics or malicious JS  , the token will be present at the REFERER header of this requests... As reported at here: [https://robots.thoughtbot.com/is-your-site-lea

[2017-01-20 17:40] athix commented on #40
If you open a PR for this, we can definitely take a look and push out a new version. We'd also want to push to the 0.9.x branch and fix the security issue if possible.

[2017-01-26 01:26] gogainda opened #42 "Memory consumption problem"
Based on result from
`
CUT_OFF=1 bundle exec derailed bundle:mem
`
it takes 6 megabytes to load this gem
`
sorcery: 6.1797 MiB (Also required by: sorcery/engine)
    sorcery/protocols/oauth2: 2.5352 MiB
      oauth2: 2.5352 MiB
        oauth2/client: 1.1797 MiB
        oauth2/response: 1.1055 MiB
`
If I am not using oauth2 gem still load it into memory.
Can we drop this forced dependency on oauth2

[2017-01-26 01:36] athix commented on #42
We currently plan on moving the oauth dependencies out so it's only included if you use the external module. Unfortunately, until then we can't drop it without breaking the external submodule. As a temporary work-around, you might be able to fork sorcery and completely remove the external submodule and oauth/oauth2 dependencies. If you run into any problems with this, let me know!

[2017-01-29 13:52] nsantiago2719 commented on #35
@rjurado01 try moving `gem 'sorcery'` after `gem 'mongoid'` i had encountered this problem before and by adding gem mongoid before sorcery works for me.

[2017-02-03 00:09] athix opened #43 "Update Documentation"
While working on my personal site, I've noticed several spots where the documentation is starting to show its age. Opening this ticket to remind myself to go back and update it / discuss any issues that may arise. Also, while each individual module seems to be well documented, there doesn't seem to be a general "get started" article yet; I'm thinking about creating that with the assumption of an a

[2017-02-03 00:10] athix commented on #2
Looks like this got updated at some point along the way, closing.

[2017-02-03 00:10] #2 closed

[2017-02-03 00:21] athix commented on #35
@rjurado01, @sarnold04

Ahha, this might only be a part of the problem, but I ran into something similar when implementing Sorcery on my personal app. You can't pass strings to the user_class config, it must be the class itself.

Ex: `config.user_class = User`

Instead of `config.user_class = 'User'`

Let me know how this turns out! I'll see about adding this to the documentation or updating the c

[2017-02-03 06:22] 5t111111 commented on #3
Please consider moving https://github.com/NoamB/sorcery/issues/775 to this current active repository because that issue has not been resolved yet and still seems to have new visitors and comments.

[2017-02-05 09:59] tackeyy opened #44 "How can I get access_token in using github aouth?"
Can I get GitHub's ` access_token ` , when I use GitHub aouth External with?

I've checked Sorcery handles GitHub's ` access token ` as ` access_token. `
Is there any option or idea that gets Gitbub's ` access_token ` ?

[2017-02-06 17:48] rjurado01 commented on #35
@athix Sorcery uses string when generates configuration file.

I have upload a repository to reproduce the error: https://github.com/rjurado01/sorcery-mongoid-error

[2017-02-06 17:55] athix commented on #35
Thanks @rjurado01! I'll clone and check it out when I get a chance.

[2017-02-11 07:44] athix commented on #44
Hey @tackeyy, think I might have found what you're looking for by accident! If you call `sorcery_fetch_user_hash(provider)` inside your callback function, it should populate `@access_token`, which I think should have what you're looking for (assuming the callback is coming from github).

[2017-02-12 10:51] itay-grudev opened #46 "Could you move `login_lock!` out of protected"
Could you move `login_lock!` out of protected like `login_unlock!`. It's quite useful for testing purposes and invoking it with send is rather ugly.

[2017-02-12 10:52] itay-grudev commented on #46
Besides we can use this feature of the library to lock a user manually. It may also be useful to have an argument for explicitly setting a lock duration and/or infinity.

[2017-02-13 14:56] tackeyy commented on #44
@athix Thanks for reply!
As you said, I can access Github's ` access_token ` .
I changed callback function like this.

[code]

It seems to not be smart,It seems to not be smart, because SQL query runs 2 times(create and update), but I achieved my goal, so I close this issue.

Thank you!

[2017-02-13 14:56] #44 closed

[2017-02-13 15:06] athix commented on #44
@tackeyy no problem! You should be able to make it more efficient by only calling `sorcery_fetch_user_hash` and then creating the user using @user_hash and @access_token together. That said, having a `build_from(provider)` function seems like it'd be really useful both for your use-case, and the one I ran in to.

Glad this solved your issue. :)

[2017-02-13 15:45] tackeyy commented on #44
@athix Thanks for the tips.
I updated callback function like this.
I think this code is what you told me.

It is better than before :)

[code]

This means that having a build_from(provider) function in Sorcery, right?

[2017-02-13 16:06] athix commented on #44
Yeah, currently you can only create users via Sorcery, seems odd that there isn't a build function as well. I'll probably try and implement one in the next couple weeks to make auth flow a bit easier for applications that can't always create users with only what's provided by oauth.

[2017-02-13 17:48] athix commented on #43
TODO/Plans:
- [ ] Add build_from(provider)
- [ ] Complete auth flow for personal app
- [ ] Create rspec suite for personal app
- [ ] Update example app for rails 5 and new best practices
- [ ] Refactor Sorcery rspec suite & use new example app to replace existing rspec app (maybe?)
- [ ] Update wiki to match example app

[2017-02-15 18:48] IonHubber opened #47 "Error: undefined method `login'. 'Rails 5' and 'ruby-grape'."
Hello.
Is it possible use core sorcery's methods ('login' for example) in the 'ruby-grape' API controller with Rails 5 ?
Code example:
`class Users < Grape::API`
`resource :users do`
`      post "login" do`
`        if @current_user = login(params[:email], params[:password])`
`          @current_user`
`        else`
`          error!("Invalid email/password combination", 401)`
`        end`
`

[2017-02-16 03:18] tackeyy opened #48 "Is it fine to add undocumented option to initializer.rb?"
As I found the undocumented option which is about Github's [scope](https://developer.github.com/v3/oauth/#scopes) with external module in Github OAuth. I think it is better if below code is inserted in  [initializer.rb](https://github.com/Sorcery/sorcery/blob/master/lib/generators/sorcery/templates/initializer.rb#L114), because it takes time to find the option out if someone who uses Github OAuth

[2017-02-16 04:53] athix commented on #48
I don't see any problem adding the scope to the generators, personally. Adding a note above the Github values though saying why/how to use the scope would help users understand why it's there (and why or why not they should use it). Feel free to open a PR, where we can discuss the finer details.

Also, if you wanted to update the docs in the wiki at all your help would be greatly appreciated. :)

[2017-02-16 15:03] tackeyy commented on #48
Thank you for the reply. As I opened PR #50, I close this issue.

[2017-02-16 15:03] #48 closed

[2017-03-01 13:13] ebihara99999 commented on #46
For a testing purpose, i personally think It's better to implement `login_lock!` as a test helper than moving `login_lock!` out of protected.

Would you tell me the use case? I guess you want to manage locked status of users independently for some reasons, for example, user A: locked( because the user broke terms of service ), user B: unlocked. Then, `login_lock!` is against brute_force_protection

[2017-03-02 03:44] andey commented on #30
please add this to the README, for people doing the rails 5 upgrades

[2017-03-02 03:49] andey commented on #30
`GIT
  remote: git://github.com/Sorcery/sorcery.git
  revision: fd48d561264e6560cd5ae3bdb135e4f70678c65e
  specs:
    sorcery (0.10.2)
      bcrypt (~> 3.1)
      oauth (~> 0.4, >= 0.4.4)
      oauth2 (~> 1.0, >= 0.8.0)`

And i'm still getting

`/home/andey/.rvm/gems/ruby-2.4.0/gems/activesupport-5.0.2/lib/active_support/callbacks.rb:641:in `block (2 levels) in skip_callback': Before process_actio

[2017-03-03 15:31] ebihara99999 commented on #40
Hi @athix
I looked over the issue, wondering which way is favorable, and I would be happy if you offer a suggestion.

The link offers 2 solutions: session based approach and immediate invalidation approach.
The first one is, as @williantenfen mentioned, is to store a token in session. This needs to modify documentation or templates because the password reset feature is implemented only in the mode

[2017-03-24 03:44] #35 closed

[2017-03-24 04:00] Ch4s3 commented on #47
I honestly have no idea, I've never used grape. Could you give us some more context?

[2017-03-24 04:01] Ch4s3 commented on #46
@itay-grudev if you could clarify re: @ebihara99999's question, I'll take a look.

[2017-03-25 01:06] itay-grudev commented on #46
The login `login_lock!` method's visibility scope is `protected` and cannot be used externally. The reason why I need it is for testing.

[2017-03-25 04:59] itay-grudev commented on #46
But also because it may be useful for purposes other than testing moving it out of the protected scope may be more useful than making a `login_lock!` test helper.

[2017-03-25 05:01] itay-grudev commented on #46
@ebihara99999 One may have some other method of detecting fraudulent login attempts and may want to lock a certain user manually.

[2017-03-29 03:34] ebihara99999 commented on #40
I'm sorry I don't intend to reference the commits from this issue. It's a mistake.

[2017-03-29 11:36] Folleo opened #52 "Facebook provider doesn't work with Facebook API version 'v2.3' and above"
Facebook changed `access_token` format response in version 2.3, so now it returns `:json` format. See https://developers.facebook.com/docs/apps/changelog

Oauth2 gem can handle `:json`, but in facebook provider there is no option to change `:parse` option from `:query` to `:json`.

In `facebook.rb` in method `process_callback` we have `:parse` option:
[code]

But it's always `:query` (`@parse = :q

[2017-03-29 15:29] jeriko commented on #52
What worked for me was `config.facebook.instance_variable_set "@parse", :json` in the sorcery initializer. Bit hacky but my users can login via Facebook again.

[2017-03-30 05:36] Folleo commented on #52
@jeriko thanks man, it helped

[2017-03-30 11:31] salimane commented on #47
@Ch4s3 the main idea from OP was that can use login a user outside of a controller context, in a ruby script having access to the app database and the sorcery gem.

I would like that too. Any help would be appreciated.

[2017-03-30 20:19] milanij commented on #52
@jeriko Wow! Thanks! This really helped!

[2017-04-04 14:56] ebihara99999 commented on #40
Hi @Ch4s3, would you suggest the way to go? I prefer the second way; because the most of the fix in the first way is about the documentation, it seems difficult to check if the modification is correct.

[2017-04-05 00:43] mauricew commented on #47
You can use the Authenticate method on your user class and it will return the success or failure, but it won't do any sort of after login events (e.g. Activity Logging).

[2017-04-08 05:03] ebihara99999 commented on #40
Hi @athix and @Ch4s3
I asked the direction about how to fix, the both are unclear and seems to be hard to answer...
To clarify I opened a PR. I appreciate if you check it.

[2017-05-04 05:52] bercob opened #59 "Add before_session_timeout callback method"
It will be very useful to add before_session_timeout callback method to the session_timeout module, because after timeout the user instance is lost and it is impossible to clean dependent records.

[2017-05-09 22:12] heavenlypeach opened #60 "Rails 5 | Remember_me_token not being set as a cookie in the browser"
Rails 5

I have followed the sorcery tutorial on implementing the remember_me feature but when I wrote my feature specs to test user login and that a  **remember_me_token cookie** was set, the test failed. I then started up the server and actually went through the login in process and checked the browser and   **remember_me_token cookie** was not being set in the browser.

When I manually place th

[2017-05-09 22:52] heavenlypeach commented on #60
Never mind I realized I had the config cookie domain set, and the app is running on localhost

[2017-05-09 22:52] #60 closed

[2017-05-16 20:59] Ch4s3 commented on #40
Sorry, I've been awol for a bit. I'm reviewing now.

[2017-05-17 21:03] athix commented on #52
Fixed by Sorcery 0.11.0

[2017-05-17 21:03] #52 closed

[2017-05-24 17:42] mikemerritt opened #62 "Facebook as an external provider not including user info as defined in user_info_mapping."
I am trying to set up external providers in my app. I have followed the guide listed here: https://github.com/Sorcery/sorcery/wiki/External

Google works fine and I receive the email as requested. However when trying Facebook the data is not being received from Facebook. I have checked the @user_hash and it seems it's only including "name" and "id".

This is what my Sorcery config looks like.

[co

[2017-05-24 19:13] mikemerritt commented on #62
Solved by adding this to my config
[code]

This should probably be mentioned in the documentation.

[2017-05-24 22:59] athix commented on #62
Yeah, documentation is a little all over the place right now. If it's not already, we should add a note to the default config, as well as mention it in the wiki wherever facebook is mentioned. (External and Getting Started are the only ones I think)

If you want to update the documentation and config generator, we would definitely appreciate the help. Otherwise I'll try to get this in when I have

[2017-05-25 23:21] mikemerritt commented on #62
@athix Updated the config generator in this PR: https://github.com/Sorcery/sorcery/pull/63

[2017-06-07 13:45] ppostma opened #64 "Class method encrypt conflicts with attr_encrypted"
I'm trying to use the gems Sorcery and [attr_encrypted](https://github.com/attr-encrypted/attr_encrypted) both on the User model, which is defined like this (simplified):

[code]

Both Sorcery and attr_encrypted will define the class method `encrypt` and that makes it unable to use both gems in one class. I could move the otp_secret to another class to work around this problem but I prefer not to.

[2017-06-09 19:35] andreimoment opened #65 "External page in Wiki causes overwriting of AR attributes which results in Save errors"
https://github.com/Sorcery/sorcery/wiki/External contains instructions for creating a migration

[code]
And the content of the model file, which creates accessors **overriding** the AR accessors with the same names.

[code]
# app/models/authentication.rb
class Authentication < ActiveRecord::Base
  # attr_accessor :user_id, :provider, :uid
  belongs_to :user
end
[code]

[2017-06-12 12:20] Flyte22 opened #66 "Conditional validation does not work with Rails 5"
Hi,

the validation does not seem to work (using Rails 5.1.1) as described in the Wiki:

[code]

Whenever i update the password, the validation gets skipped silently.

After i changed it to this, it works:
[code]

Does anyone know about this?

[2017-06-12 14:29] ebihara99999 commented on #66
Would you tell me where `#crypted_password_changed?` is defined? I can't fine the method in the Sorcery project.

[2017-06-12 15:31] Flyte22 commented on #66
Yes right, it's a Active Model Dirty-method, see http://api.rubyonrails.org/classes/ActiveModel/Dirty.html

[2017-06-13 16:06] akinrt commented on #66
@Flyte22 can you please try running `:crypted_password_changed? || "you won't see me"` on pry or irb.
`:crypted_password_changed?` returns `:crypted_password_changed?` and worked on the if condition as well.
because `:crypted_password_changed?` is a symbol.

i think the following part in the [wiki](https://github.com/Sorcery/sorcery/wiki/Simple-Password-Authentication) is correct.

[code]

[2017-06-15 17:11] goofansu opened #69 "How to check whether a provider for a user exists?"
For example, I want to show whether the provider is linked or not in the view, is there any convenient way to do this?

Thanks

[2017-06-16 20:02] athix commented on #69
Something like this would probably work:

[code]

I don't believe there are any helper functions for this however.

[2017-06-16 21:14] athix commented on #62
Thanks! Merged into master.

[2017-06-16 21:14] #62 closed

[2017-06-19 21:31] #69 closed

[2017-06-23 14:58] gallifreyfalls opened #71 "InstanceMethods of remember_me for Model aren't included"
Why can't I use methods forget_me! and remember_me! as they're missing for the User class?
Submodule is enabled and everything works fine, e.g. login when remember is false
[code]
[code]
[code]
Necessary fields are also created in the database

[2017-06-27 06:09] shuke0327 opened #72 "Is there a way to integrate 2FA with Sorcery?"
integrate 2fa(2 factor authentication) with sorcery, is there a way?

[2017-06-27 07:00] athix commented on #72
That's a great question, I haven't tried yet honestly. Assuming there's a library, you could modify your login method to include 2fa but I don't think there's any explicit support built-in. I could help more if you tell me what version of 2fa you're using and how you want the login flow to work.

[2017-06-27 17:52] athix commented on #66
The validation seems to work on my personal site using Rails 5, so I think this is an issue somewhere else; It could be that the password isn't actually being changed.

@Flyte22 could you please post the update and params methods from your User controller so we can get a better look?

Thanks!

[2017-06-27 17:58] #4 closed

[2017-06-27 18:13] athix commented on #71
I just tried this on my personal website using Sorcery 0.11.0 and Rails 5, and can't seem to replicate any issues calling either method. Would you mind posting the stack trace so I can track down the issue?

Based on [this comment](https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/model/submodules/remember_me.rb#L41), you might have issues if you're trying to call the method directly on t

[2017-06-27 18:31] athix commented on #64
@Ch4s3 As long as it's only used internally, I think it would definitely make sense to use something less generic than just `encrypt`. That being said, it sounds like in this case it might be better to turn off the encryption providers entirely, or allow attr_encrypted to act as a provider. I'm not sure how much additional work that would be though.

[2017-07-06 16:06] shuke0327 commented on #72
＠athix thanks for your reply. In my project, I use twilio to send out sms with verification code for 2fa, and record the temp verification code as well as the user id in memcached.And, for the login and logout, I overwrite the methods provided in sorcery, namely:

since require_login used the logged_in? method, so I use alias method in Rails, the fake code like this:

alias_method :old_logged_in?,

[2017-07-08 00:02] dbastin commented on #64
@ppostma Well spotted. It took me an age to figure out why my attr_encrypted values contained invalid base64. Eventually I suspected sorcery and voila your issue report explains it! I really should have guessed based on the bcrypt "$2a$10" prefix. Anyway, thank you.

@athix Namespacing the sorcery encrypt method somehow (perhaps by simply adding "sorcery_" as a method name prefix?) seems like the

[2017-07-11 02:41] nghialuutrung opened #73 "login(params[:email], params[:password]) return nil"
In class SessionsController, i use login(params[:email], params[:password]) and funtion return nil, but database, email have exits.
And in database,  i querry. User is returned.

[2017-07-11 10:26] ebihara99999 commented on #73
Would you tell more information about the problem you encounterd like
* user model（or the other if you don't user User class for authentication）
* Sessions controller
* params sent to the session controller
* the data you use for login
Given more information, I could give you some advice.

[2017-07-12 09:30] nghialuutrung commented on #73
@ebihara99999
user model
[code]
sessions controller
[code]
the data you use for login: email and password

and when i checkout to before commit, i still can't login. I think my project is not wrong and gem has something wrong.

[2017-07-12 09:39] ebihara99999 commented on #73
Looking over your codes, you use User model but you pass Authentication model to config.authentications_class, and `#authenticates_with_sorcery!` doesn't receive block( [here is the definition](https://github.com/Sorcery/sorcery/blob/7c5fee441e03779ee2888ecef317440cd10a17e7/lib/sorcery/model.rb#L10)).
Refactor codes with reference [wiki](https://github.com/Sorcery/sorcery/wiki/Simple-Password-Auth

[2017-07-12 09:40] nghialuutrung commented on #73
@ebihara99999
Thank you!

[2017-07-13 21:55] kentarohorie opened #74 "OAuth2::Error in OauthsController#callback"
I try facebook login referring this external wiki .
but I get this error

OAuth2::Error in OauthsController#callback

  if @user = login_from(provider)
{"access_token":"xxxxxxx", "token_type":"bearer","expires_in":5183999}

What should I do?

this is log

[code]

OauthsController#callback
[code]

get_token method in Oauth2's client.rb
options[:raise_errors]
=> true

and I get error get_access_toke

[2017-07-13 21:55] kentarohorie commented on #74
https://github.com/NoamB/sorcery/issues/811

[2017-07-13 22:50] kentarohorie commented on #74
raise error at first, when OAuth2::Client.new
[code]

[2017-07-14 01:49] ebihara99999 commented on #74
@kentarohorie
This project moved to [Sorcery/Sorcery](https://github.com/Sorcery/sorcery). Open the issue there and put the reference on it, then more people see this issue!

[2017-07-14 01:53] ebihara99999 commented on #74
Sorry, it's the right project..athix advised you, and you moved the issue. Deleted the commment.

[2017-07-14 22:16] kentarohorie commented on #74
@ebihara99999 should I delete this comment?
[![Screenshot from Gyazo](https://gyazo.com/41fcf25c8546640667f74e59a39f73a7/raw)](https://gyazo.com/41fcf25c8546640667f74e59a39f73a7)

[2017-07-15 01:56] ebihara99999 commented on #74
@kentarohorie
No, I meant I report I "deleted the comment" not to bother you by deleting mine. No need to delete your comments, sorry for confusing:pray:

[2017-07-17 19:49] athix commented on #74
Hi @kentarohorie,

Could you please post your full callback method and Sorcery config file? (Make sure to delete/omit any keys/secrets if they aren't environment variables! Also, I believe `@secret` from your most recent comment might be the facebook secret, if so I would recommend regenerating the secret just to be safe.) I can't quite tell where the issue is, it might just be a bad configuration

[2017-07-17 19:51] athix commented on #73
Looks like this has been solved, please reopen if that's not the case.

[2017-07-17 19:51] #73 closed

[2017-07-18 00:29] kentarohorie commented on #74
ops...I forget hide my secret! thank you!!

[2017-07-18 00:29] kentarohorie commented on #74
sorcery.rb
[code]

[2017-07-18 00:32] kentarohorie commented on #74
my callback method

[code]

[2017-07-18 00:33] kentarohorie commented on #74
Thank you for your help
@athix @ebihara99999

[2017-07-19 14:27] kentarohorie commented on #74
@athix
Hi!
Were there something my careless miss?

[2017-07-19 16:41] ebihara99999 commented on #74
@kentarohorie
Looking over your codes, I found one strange point: `config.facebook.user_info_path = "me?fields=email, name, gender"`. Would you try `config.facebook.user_info_path = "me?fields=email,name,gender"`, removing spaces?

`@user_info_path` seems string object expressing query added to url.
https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/providers/facebook.rb#L21

[The link](ht

[2017-07-19 21:11] kentarohorie commented on #74
@ebihara99999
thanks for your help!
I tried, but result is same...
[![Screenshot from Gyazo](https://gyazo.com/076c3664c1d32c38fd77e961a9ea3c96/raw)](https://gyazo.com/076c3664c1d32c38fd77e961a9ea3c96)

[2017-07-19 22:12] athix commented on #74
@kentarohorie,

`provider = params[:provider]` should be `provider = auth_params[:provider]`

Not sure if that's the cause of the issue.

[2017-07-19 22:26] kentarohorie commented on #74
I did! thanks!
It's actually good practice.

Do you have any idea about this facebook login error?

[2017-07-19 22:26] athix commented on #74
Here is my current configs for reference:

[code]

Perhaps try changing the display to page, and including 'public_profile' in your permissions? Other than that, it might just be that Facebook is broken again. (They like to make breaking changes it seems...)

[2017-07-19 22:50] kentarohorie commented on #74
I tried with your advice.

[code]

but result is same...
and I confirm facebook setting, but not work

[2017-07-19 23:54] athix commented on #74
Hm. Have you tried using any other OAuth providers and seeing if they give the same error? That would at least narrow it down a little bit more. I would recommend trying twitter, it seems to be the easiest to get setup.

[2017-07-20 07:00] ebihara99999 commented on #74
Umh...is it a personal app and open to anybody? Then I can debug in this weekend if I have time.

[2017-07-20 11:11] kentarohorie commented on #74
I try with twitter. and It work!!
Perhaps, is it cause by facebook config?

[2017-07-20 18:42] athix commented on #74
@kentarohorie what version of Sorcery are you using? Just realized your config doesn't have parse in it, and the error looks like the new response format Facebook uses. Could be #53 causing issues due to an outdated version.

[2017-07-21 15:26] ebihara99999 commented on #46
@itay-grudev Sorry it's been too long. For the testing purpose, as I said, it would be better to implement a test helper method. But it seems reasonable to need `#login_lock` for the general use, not only for brute force protection.
In this case, it's necessary to add or refactoring existing one into a lockable module like devise, and I don't know how much time to need...
What do you think, @Ch4s3

[2017-07-21 17:55] SeanLuckett commented on #35
The above fix:
`config.user_class = User` in Sorcery config file

also works for the same problem with Rails 5.1 and ActiveRecord. However, Sorcery `0.11.0` also generates the line with `config.user_class = 'User'`

[2017-07-22 03:28] kentarohorie commented on #74
my sorcery version is sorcery (0.10.3, 0.10.2)
Should i update to 0.11?

[2017-07-22 05:01] athix commented on #74
Haha, mystery solved.

@kentarohorie Yes, please update to 0.11 and that should hopefully solve the issue. If it does, I'll make sure to update the changelog, wiki, and any other relevant places to make sure users know to use 0.11.0+ if they need Facebook.

[2017-07-24 08:12] ChrisKaun opened #75 "Cannlot load such file bcrypt_ext - Windows 10 - ruby 2.3.3 - rails 5.1.2"
I've created a new rails application and added sorcery as a required gem to my gemfile.
When bundling and then trying to start the console I get the following error message:

[code]

Googled a bit and it seems that bcrypt has a problem when installing the right version for windows.
For example see this [issue](https://github.com/codahale/bcrypt-ruby/issues/149).

Anyway to add this fix to the Sorc

[2017-07-24 21:49] kentarohorie commented on #74
It's work with 0.11!!!!
thanks a lot!!!!!!
@athix

[2017-07-24 22:32] athix commented on #75
To be totally honest, trying to develop ruby on rails on windows will likely be quite the uphill battle. I would recommend switching to a unix platform if at all possible (or using a free VM service).

That said, have you tried following the process in that issue you found? Sorcery's gemspec is fuzzy locked to `~> 3.1`, so you may be able to use the fix they presented without altering Sorcery at a

[2017-07-24 22:51] athix commented on #74
No problem @kentarohorie!

I've updated the wiki and Changelog, closing this issue.

[2017-07-24 22:51] #74 closed

[2017-07-25 06:11] ChrisKaun commented on #75
Well, stupid me. I've overread this comment and only tried the other suggestions.

[2017-07-25 06:11] #75 closed

[2017-07-25 20:43] athix commented on #75
Haha, no problem. Glad I could help.

[2017-07-28 19:11] athix commented on #72
Hey @shuke0327, sorry for the late response!

I would recommend not overwriting the Sorcery methods, as you found out it can cause a whole slew of unintended side-effects. Instead, what I would recommend is changing your OAuth / Session controllers so that they include the `require_2fa_verification?` as a part of their flow.

I believe there's currently no way to check if a password is correct wit

[2017-08-01 00:36] #42 closed

[2017-08-01 19:30] athix commented on #64
@dbastin Name-spacing the method sounds reasonable to me. I don't have time to do the change myself currently, but if someone opens a PR I'd be more than happy to review/merge it.

[2017-08-03 07:14] ppostma commented on #64
Thanks for your comments! I've submitted PR #77 to namespace the method.

[2017-08-11 14:23] chriscarpenter12 opened #78 "Override current_user to remove certain fields?"
Is it possible to override current_user so it doesn't contain certain fields?

For instance can we remove :crypted_password_attribute_name from being included in current_user, or internal_secret_field?

[2017-08-11 15:36] #78 closed

[2017-08-14 21:45] bruparel opened #79 "Upgrading from Rails 4.2.0 to 5.1.2 causes the following error:"
Before process_action callback :require_login has not been defined.  Here is my HomeController:

class HomeController < ApplicationController
  # testing new keys
  skip_before_action :require_login, :only => [:index]
end

Here is the stack-trace:

ArgumentError - Before process_action callback :require_login has not been defined:
  activesupport (5.1.2) lib/active_support/callbacks.rb:710:in `blo

[2017-08-14 22:26] athix commented on #79
This happens because you haven't defined `before_action :require_login` in your ApplicationController. See the [wiki](https://github.com/Sorcery/sorcery/wiki/Simple-Password-Authentication) for more details.

[2017-08-14 22:27] athix commented on #72
Closing, please reopen this issue if you still need help!

[2017-08-14 22:27] #72 closed

[2017-08-26 05:26] gtd commented on #47
Ran into this same problem with Rails proper, `ActionController::API`.  The issue is that [the engine](https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/engine.rb) is only including the module in `ActionController::Base`, which is not what `ActionController::API` inherits from.

However adding this is working so far:

[code]

 I'm not familiar with Grape, but I imagine you can do the same

[2017-08-28 20:41] #79 closed

[2017-08-28 20:41] #71 closed

[2017-09-18 04:19] Beartech opened #84 ":session_timeout broken after hard reboot of server?"
Rails app using Rails 5.0.2, Thin web server, Mac OS X 10.12.6.
I had to force-quite my web server running in Terminal.app and when I restarted everything I get the error: comparison of Float with String failed in the browser (using better_errors). In the server console it shows:
ArgumentError - comparison of Float with String failed:
  sorcery (0.10.2) lib/sorcery/controller/submodules/session_ti

[2017-09-18 04:53] Beartech commented on #84
My bad. I must have changed the timeout value and in the comments it says:
# -- session timeout --
  # How long in seconds to keep the session alive.
  # Default: `3600`
  #
 I took this to mean I should have been:
  config.session_timeout = '3600'
Changed it to:
  config.session_timeout = 3600
and working again.

[2017-09-18 04:53] #84 closed

[2017-10-23 15:07] ebihara99999 opened #87 "`#update_attributes` uses `#update_all` inside it"
`Sorcery::Adapters::ActiveRecordAdapter#update_attributes` uses `#update_all` inside instead of simply `#update`.
I think it intends one active record object to be updated because [the code](https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/adapters/active_record_adapter.rb#L9) does it, so `#updated_all` is not necessary.

If I open a PR, I plan to change from
[code]
to
[code]

The good p

[2017-10-29 12:32] infernalmaster opened #89 "User can not be loaded from other_sources when session expires in current request"
I'm using such submodules:

[code]

I logged in with remember_me option. And leaved tab opened for more that 1 hour. Then I reloaded page and was redirected to login page. Then I reloaded page again and I was logged in. So I started digging code and found this:

https://github.com/Sorcery/sorcery/blob/4e3fcdb8df16912424281322ce9f2862937846fc/lib/sorcery/controller/submodules/session_timeout.rb#L38

[2017-11-17 05:50] Thomastar opened #90 "how to add ohter Providers"
how to add ohter Providers

[2017-11-22 10:01] Sanjay-Chaudhary opened #91 "Server side session termination"
How do i do this: I want to do **server side session termination** - hacker can still login into the system using cookie even after the user has loges out ....

[2017-11-22 10:04] Sanjay-Chaudhary opened #92 "How to generate new session token"
How to generate new session token for users upon authentication. When a user has logged in successfully after that how to create new session token.

[2017-11-22 11:12] Sanjay-Chaudhary opened #93 "Stop concurrent logins"
Can we stop concurrent logins when using sorcery in ruby on rails?
If yes then how?

[2017-11-28 03:38] Ch4s3 commented on #93
There's nothing built into the gem that I'm aware of. You would probably need to add a column to track that or build off of `remember_me`.

[2017-11-28 03:40] Ch4s3 commented on #92
What is the use case here? I'm not quite sure what you need to do. Is the default session behavior not working for you?

[2017-11-28 03:41] Ch4s3 commented on #91
does `force_forget_me!` serve your needs?

[2017-11-28 03:43] Ch4s3 commented on #89
would you be willing to submit a quick PR for this @infernalmaster?

[2017-11-28 03:55] Ch4s3 commented on #87
@ebihara99999 sounds good to me.

[2017-11-28 10:55] infernalmaster commented on #89
I'm not very satisfied with my PR, because I think that check `defined?(@current_user)` inside `current_user` method is not very obvious solution. I would better rewrite that logic but I don't have enogh time to do it right and don't want to break something

[2017-11-28 15:25] #89 closed

[2017-11-30 05:55] ebihara99999 commented on #87
@Ch4s3
Thank you. I will open a PR soon!

[2017-12-06 12:01] Sanjay-Chaudhary commented on #91
Do i need to call force_forget_me! in application controller?
Can u please give bit more info where n how to implement this?

[2017-12-07 03:02] Ch4s3 commented on #91
It should be called on logout by this line if you're using remember_me. https://github.com/Sorcery/sorcery/blob/4e3fcdb8df16912424281322ce9f2862937846fc/lib/sorcery/controller/submodules/remember_me.rb#L22

Can you provide a concrete case where tokens can be used after logout?

[2017-12-07 11:43] Sanjay-Chaudhary commented on #91
Thanks for the quick response....
But i am not using remember_me...
So now how can i terminate server side session.
Secondly does sorcery takes care of this scenario... I login into the site. go into some page. copy the URL and close the browser... i am not logging out from website here. Now i open a new browser and past the same URL and that pages open in the new browser. Which should not happen.

[2017-12-07 14:00] Ch4s3 commented on #91
You would need to know when a user navigates away from a page to do that, but I'm not sure what the issue is here. If a user closes the page and without logging out and then in the same browser visits the page again, their cookie is still valid. This is expected and normal behavior. The cookie only exists in that browser and that machine, so it shouldn't be a problem.

What attack scenario are you

[2017-12-08 07:41] palkan commented on #90
Check this gem, for example – https://github.com/teachbase/sorcery-yandex.

[2017-12-08 08:00] palkan commented on #87
@Ch4s3 @ebihara99999 there are bad points too:
- now it makes 2 queries instead of one
- it invokes validations/callbacks – don't think we need them here
- it can cause race conditions.
Suppose that we have a record with `a = 2` and make two requests with different values:

thread 1 | thread 2
----------------|--------
`find_by  # loads the record with a=2`             | _
_

[2017-12-08 15:26] Ch4s3 commented on #87
@palkan interesting. We definitely want to avoid a race condition, I hadn't considered that.

[2017-12-08 15:30] palkan commented on #87
Btw, `update_columns` should do the trick: it's safe, it doesn't involve callbacks/validations and it returns `true` / `false`.

[2017-12-08 15:32] palkan commented on #87
**UPD:**  And also, what if the record has been deleted? I.e. when `find_by` returns `nil`?

Maybe, it's better to just update existing code like this:

[code]

[2017-12-08 18:08] Ch4s3 commented on #87
@palkan that solution to return a bool might be the way to go.

I think @ebihara99999 might be on vacation, so let's keep this open and revisit it all soon.

[2017-12-11 14:24] ebihara99999 commented on #87
@Ch4s3 @palkan
Thank you for comments! I'm back and can deal with the issue.

Of course, it isn't good, but there is an advantage - readability, and it's not a big problem for now . It would be kind of compromise between performance and readability (I think comments are needed when `#update_all` is used. Other people don't know why to use `#update_all`)

As for race conditions, there would be a be

[2017-12-11 15:40] ebihara99999 opened #97 "Add documentation about magic login"
Need to add documentation about magic login to wiki.
The codes have been already merged.
See: https://github.com/Sorcery/sorcery/pull/95

@Tomomichi, would you add documentation or give me code snippets you really use?
I thought I could, but it appears to be somehow a hard work to arrange a sandbox app...

[2017-12-11 15:43] ebihara99999 commented on #46
@Ch4s3
No discussion has been updated recently, and the subject seems fully discussed.
I think it would be better to close this.

[2017-12-11 17:35] palkan commented on #87
@ebihara99999
Using `lock!` is not a good idea, it can cause performance issues. Library users don't know that there is a lock somewhere inside. That's a very dangerous side effect.

In general, we shouldn't care about user-level race conditions. Yes, `#update_all` is not so strong as lock, but that's enough to not introduce race conditions internally, within the library.

According to "readabilit

[2017-12-12 00:04] ebihara99999 commented on #87
@palkan
I got why that's bad, and then it would be a best way to implement as you suggested.
What do you think @Ch4s3 ? If it's OK, I will open a PR soon!

[2017-12-12 18:50] Ch4s3 commented on #87
I agree with @palkan here. I'd rather sacrifice readability internally than risk a race condition.

[2017-12-12 18:51] Ch4s3 commented on #46
I'm going to close this, but would reopen it if people are still interested.

[2017-12-12 18:51] #46 closed

[2017-12-14 19:25] Ch4s3 commented on #90
The model going forward will probably be to do these in gems. I'm closing this unless there are further questions

[2017-12-14 19:25] #90 closed

[2017-12-18 10:34] Tomomichi commented on #97
Thank you @ebihara99999 for your excellent work on magic login!
Sorry but I have no docs or snippets for this module.
I just made the module but not tried this on real use..

[2017-12-20 06:08] ebihara99999 commented on #97
Thank you for saying that!
Got it. I will work for documantation, implementing the magic login feature to a rails app.

[2018-01-05 04:47] Ch4s3 commented on #93
closing due to inactivity. Ping me if there are further questions.

[2018-01-05 06:48] athix commented on #93
Personally I think this would make sense to be built in, although as an optional setting. The app that I'm working on currently also requires only one logged in instance.

I'll work on this when time permits.

[2018-01-05 11:48] Sanjay-Chaudhary commented on #93
Yes... lot of projects now require to stop concurrent logins... every pen test point out this issue.
It will be really good to have this feature...  looks like Devise gem have this feature. lot of projects use sorcery. Thanks

[2018-01-05 19:56] athix commented on #93
@Ch4s3 would this make sense as an opt-out feature, or should it be opt-in to not change behavior for existing apps? I can't think of many cases where multiple simultaneous logins is really necessary.

[2018-01-05 23:18] Ch4s3 commented on #93
I think it should be opt-in, otherwise it will break backwards compatibility. I think it's definitely worthwhile though and will happily look at PRs.

[2018-01-08 21:07] athix commented on #93
Sounds good, thanks @Ch4s3!

[2018-01-09 10:11] ikanyu opened #101 "Command returns error"
I've tried to run this command available on the README page
[code]
and it is returning me
[code]
The error occurs at
[code]
where `gsub_file sorcery_config_path`, `gsub` is running regex on a non-existing file at that point. Can someone guide me on how I could run the command successfully?

[2018-01-17 11:54] Sanjay-Chaudhary commented on #92
The point i am trying to raise here is does sorcery does not create a new session id once the user logs into the system after entering user id and password authentication.
Does it not generate a new session_id value as part of the session token for users upon authentication. An attacker who could set the session token in a browser prior to logon may be able to hijack sessions of any user who logs

[2018-01-21 22:52] jm3 opened #103 "Generator not found (Sorcery 0.6.0m / Ruby 2.4 / Rails 5.1.4)"
lol, oops, had old version.

[2018-01-21 22:53] #103 closed

[2018-01-24 16:32] ebihara99999 opened #104 "Discussion about the state and a near-term plan"
This is taken from a part of the conversations [here](https://github.com/Sorcery/sorcery/pull/80).

[2018-01-24 16:33] ebihara99999 commented on #104
Again, the following is my opinion for now.

Secondly, I recommend API mode support as the JWT PR implements. Sorcery will become more attractive to rails developers if Sorcery supports the api mode now that developers will make a SPA application.
The last is, to prepare full helpers needed to develop a rails app like request and system spec helpers. Now controller specs are deprecated and recomme

[2018-01-25 03:33] #101 closed

[2018-01-30 18:47] brendon opened #105 "Be more selective when resetting the session on logout"
As per: https://github.com/NoamB/sorcery/issues/671#issuecomment-361642349

Completely resetting the session on logout means that if one is also logged in using Devise, or in any way would like to keep certain session keys, they can't. They'll be logged out of Devise and all keys are reset.

I can see the advantage of doing so, but perhaps we could also make it an option that Sorcery is also selec

[2018-02-03 14:51] margOnline opened #106 "Rails 5 request specs login_user method undefined"
Using `Rails 5.0.6, RSpec 3.7.2, Sorcery 0.11.0`, I get  `undefined method 'login_user'` in my request specs. I've used a workaround based on the response by [chrisdurheim](https://github.com/chrisdurheim) in [NoamB issue 775](https://github.com/NoamB/sorcery/issues/775).

Is there any plan for updating the test helpers for use in Rails 5 request specs?

[2018-02-03 15:03] ebihara99999 commented on #106
Thank you for opening the issue.

The problem is fixed in [this PR](https://github.com/Sorcery/sorcery/pull/57), but for some reasons codacy fails, not merged.
I will try understanding the reason and fix it, though I'm not sure when it is. If you like to use the helper soon, do monkey patch followed by my PR or use Sorcery of my branch opened PR in.

[2018-02-03 17:21] margOnline commented on #106
Thanks for your response @ebihara99999. I'll follow that pr.

[2018-02-04 11:36] ebihara99999 commented on #106
Don't hesitate to tell me if you have another problem with it.

[2018-02-06 16:43] Hirurg103 opened #108 "`Invalid request: v (version) is required` when authenticating with vk"
Seems like now vk provider requires v (version) parameter to be present when calling their API.

Try
[code]

[2018-02-20 12:54] RobBikmansurov commented on #106
I also try to test with Rspec 3.7 and Rails 5.1.3, but my first problem is this:
`undefined method `authenticates_with_sorcery!' for #<Class:0x00562646a233f8>`

my app/model/user.rb:
`class User < ApplicationRecord

  authenticates_with_sorcery!

...`

Can you tell me what to do?

[2018-02-20 13:38] margOnline commented on #106
@RobBikmansurov your problem is not related to this issue. I suggest you post your question somewhere like Stackflow and be sure to provide more information than you have here. You may also want to check [here](https://stackoverflow.com/questions/20859510/undefined-method-authenticates-with-sorcery), [here](https://github.com/Sorcery/sorcery/issues/35) and [here](https://github.com/NoamB/sorcery/i

[2018-02-23 15:24] #108 closed

[2018-02-26 02:28] Ch4s3 commented on #93
Is anyone still interested in this?

[2018-02-26 02:30] Ch4s3 commented on #92
Sorry for the delay, I'll try to follow up soon.

[2018-02-26 02:31] Ch4s3 commented on #104
@ebihara99999 I'm on board, but don't have a lot of time at the moment. If other folks get started, I'll happily jump in.

[2018-03-02 05:08] TechiePriyaRanjan commented on #75
Thank you @athix . it worked 🎉

[2018-03-02 16:37] ebihara99999 commented on #104
@Ch4s3 Thank you! I will start implementing the three features in my repo and mention to you then.

[2018-03-13 15:55] FunkyloverOne opened #113 "Updated wiki for incompatibilities"
Guys, I've just updated your wiki, I didn't know that GitHub will allow me to do so without any permissions / forks. So just in case, I'm leaving here this issue to let you know that I have updated your wiki, here are my changes:
https://github.com/Sorcery/sorcery/wiki/Known-incompatibilities/_compare/601226c7fcb14a9bf2d4628c13e5d2630b3492a1...30436a47406a87d18bf65581dd808f75f867b4fb

[2018-03-13 16:13] FunkyloverOne commented on #113
Also, I think that 'sorcery' gem must go after 'rails' gem, as ActiveRecord is inside 'rails'.
So this `if` block will be triggered:
https://github.com/Sorcery/sorcery/blob/master/lib/sorcery.rb#L69

As for mongoid - it should be added before sorcery, so the following `if` block will trigger :)
https://github.com/Sorcery/sorcery/blob/master/lib/sorcery.rb#L82

[2018-03-13 16:41] Sanjay-Chaudhary commented on #93
Any progress or update on this please.... is this going to happen in sorcery gem or do we have to use devise to stop concurrent logins?

[2018-03-13 20:32] athix commented on #93
@Sanjay-Chaudhary Yes, this will happen. Unfortunately, just not for a while unless there's some help from the community. My time is still limited, and what's available will be going towards reviewing and merging open PRs first. If you would like to take this on, I would be willing to help as much as I can. Beyond that, I can't really promise a concrete timeline.

[2018-03-14 13:17] szorfein opened #114 "validates with mongoid, rails-api seem not working"
Hi,
i try follow the guide [simple-password-auth](https://github.com/Sorcery/sorcery/wiki/Simple-Password-Authentication) and i have a lot of complication for something so simple.

Maybe is an issue only for mongoid, i don't know.

My github repo is [here](https://github.com/szorfein/Erebe).

## problems.
i follow this:
[code]
I send data with curl to create a new user like this:
[code]
return:
[c

[2018-03-14 15:17] szorfein commented on #114
finally found why it's doesn't work, problem come with curl, datas must be passed like this:
[code]

return a nice user with an encrypt password

[code]

So, it's solved thx:)

[2018-03-15 12:57] FunkyloverOne opened #115 "require_login_from_http_basic getting looped on Chrome"
It works perfectly first time, but if you will log out and immediately (without closing your browser) will try to log in again - it will get looped, and it will be asking for login and password, it will not log in until you visit any other page (changing url manually), and then try to log in again, that time everrything will be OK again.

I know why it is happening (kind of), but I do not know how

[2018-03-15 13:20] FunkyloverOne commented on #115
BTW, what is `realm` for `request_http_basic_authentication`? I wasn't able to find anything about it.

[2018-03-16 09:19] lightmaya opened #116 "login without email"
when I use   sorcery     login method     login(email, password, remember_me = false) ,but i  want  use   login   and  other  column  it  just  like   login(user_name, password, remember_me=false)  thankQ

[2018-03-17 03:06] ebihara99999 commented on #116
If you mean you like to login with username instead of email, set  `user.email_attribute_name ` to `user_name`, which depends on what column you want to use, in `config/initializers/sorcery.rb`.

https://github.com/Sorcery/sorcery/blob/master/lib/generators/sorcery/templates/initializer.rb#L218

[2018-03-17 20:06] uberdave opened #117 "undefined local variable or method `user' for main:Object (NameError)"
I am following the docs, but in the reset Password Section, I get the eror

[2018-03-17 20:15] uberdave commented on #117
Now I am getting:
uninitialized constant YourMailerClass

308 309 310 311 312 313 | # Default: `nil`     #      user.reset_password_mailer = YourMailerClass       # reset password email method on your mailer class.
-- | --
Is there another tutorial or instructions fo setting up the mailer?

[2018-03-19 14:56] uberdave commented on #117
Today I am trying to reverse all of the generations models and controllers and start over., but I have added code to things. This is an app I wrote a few years back. Excuse me, but I am totally frustrated and my next step is to redo the app with Devise, but I need current_user. This app worked flawlessly on rails 3.2.8

[2018-03-19 15:01] uberdave commented on #117
I give up. issue is on stackoverflow 3 times.

[2018-03-19 18:20] uberdave commented on #117
[sorcery.txt](https://github.com/Sorcery/sorcery/files/1826378/sorcery.txt)

[2018-03-19 18:59] uberdave commented on #117
class SorceryCore < ActiveRecord::Migration
  def change
    create_table :users do |t|
      t.string :email,            :null => false
      t.string :crypted_password, :null => false
      t.string :salt,             :null => false

      t.timestamps
    end

    add_index :users, :email, unique: true
  end
end

[2018-03-19 19:09] uberdave commented on #117
user.rb

class User < ActiveRecord::Base
  authenticates_with_sorcery!

 attr_accessible :email, :password, :password_confirmation, :authentications_attributes, :image
  authenticates_with_sorcery! do |config|
  config.authentications_class = Authentication
  end

  validates :password, length: { minimum: 3 }
  validates :password, confirmation: true
  validates :password_confirmation, presence: t

[2018-03-19 19:11] uberdave commented on #117
UsersController

class UsersController < ApplicationController

skip_before_action :require_login, only: [:index, :new, :create, :activate]
  # GET /users
  # GET /users.json
  def index
    @users = User.all

    respond_to do |format|
      format.html # index.html.erb
      format.json { render json: @users }
    end
  end

  # GET /users/1
  # GET /users/1.json
  def show
    @user = User.find

[2018-03-19 19:28] uberdave commented on #117
rails g mailer UserMailer reset_password_email
Traceback (most recent call last):
	33: from script/rails:6:in `<main>'
	32: from script/rails:6:in `require'
	31: from /usr/local/lib/ruby/gems/2.5.0/gems/railties-4.2.10/lib/rails/commands.rb:17:in `<top (required)>'
	30: from /usr/local/lib/ruby/gems/2.5.0/gems/railties-4.2.10/lib/rails/commands/commands_tasks.rb:39:in `run_command!'
	29: from /usr

[2018-03-22 17:18] uberdave commented on #117
redifined as  user.reset_password_mailer = UserMailer
i

[2018-03-22 17:18] #117 closed

[2018-03-23 03:14] uberdave opened #118 "NoMethodError in UsersController#create"
I am having a time getting sorcery to work in rails v 4.2.10. Everything worked perfectly in 3.2.8.
I have run all the migrations in the wiki, and it seems that one issue solved, leads to the next. Now I receive the following error:
NoMethodError in UsersController#create
undefined method `activation_token=' for #<User:0x000055cf698caa08>

 class UsersController < ApplicationController

        sk

[2018-03-24 12:14] #118 closed

[2018-03-24 12:17] uberdave commented on #118
Can't seem to get any help. I spent countless hours on this. Guess I'll completely remove sorcery and start over

[2018-03-26 14:38] eablamb commented on #118
You may not have the user activation migrations.  I'd check your `db/schema.rb` to make sure your `users` table has the `activation_token` field.  If not, you will need to install the user activation submodule, which will include the appropriate migrations.

[2018-04-02 16:36] Spone opened #119 "Migration files not copied by install generator"
Hello,

I'm using Sorcery 0.11.0

I'm running the install generator in my Rails 5.2.0.rc2 project, and the migration files are not copied:

[code]

Do you know what's happening?

[2018-04-09 17:37] prsimp commented on #119
I ran into the same issue on a fresh Rails 5.1.6 API-only application. A little digging indicates that [this line](https://github.com/Sorcery/sorcery/blob/341c7ea620605221eccd0af6b10d41a36bb9ef50/lib/generators/sorcery/install_generator.rb#L64) is the culprit. The `Sorcery::Generators::InstallGenerator::ActiveRecord` constant is not defined so the `copy_migration_files` method returns early. This

[2018-04-10 00:00] mecurc opened #120 "undefined login_at Rails 5.2 --api"
```NoMethodError (undefined method `login_at' for #<OauthsController:0x00007f4ea8256770>)```

[2018-04-11 17:33] athix opened #121 "New Version Release"
It has been almost a year since the last release and I think it would be good to get some of the more recent changes pushed out. Other than #56 and #6, are there any requests on functionality to be merged for this release?

[2018-04-11 17:44] anthony-robin commented on #121
I agree ! #57 seems ready to be merged as well :)

[2018-04-12 18:04] #40 closed

[2018-04-13 18:58] kbighorse opened #122 "User#load_from_activation_token with SQLServer adapter?"
I'm trying to isolate this issue, it's my first time using SQLServer with Rails, and not sure if that's the problem (or T-SQL?) or Sorcery:

[code]

I'm pretty sure ```load_from_activation_token``` has worked recently, so I'm not sure what might have changed.

[2018-04-15 16:59] mladenilic commented on #119
On Rails v5.2.0, migration is not copied as well.

[2018-04-20 15:18] shiroemons commented on #119
Ruby 2.5.0 is working.
[code]
Ruby 2.5.1 is not working.
[code]

[2018-04-20 19:08] athix commented on #121
If I don't run into any complications, I'll plan on cutting this new release next Monday (April 23).

[2018-04-21 10:46] shiroemons commented on #119
[Remove top-level constant lookup](https://bugs.ruby-lang.org/issues/11547) in Ruby 2.5.0.
However, the ```defined?``` method has not been modified.
This seems to have been modified to return nil in Ruby 2.5.1.

ref:
https://bugs.ruby-lang.org/issues/14407
https://github.com/ruby/ruby/pull/1800

[2018-04-22 01:11] masoo commented on #119
It worked on the revision with Ruby 2.5.1.

https://github.com/masoo/sorcery/commit/547f1ad3c381043bdd25880ee59d94403a1c099a

But I think this is an incorrect fix.

[2018-04-23 23:51] #121 closed

[2018-05-02 04:37] shiroemons commented on #120
[code]

[2018-05-10 10:11] kysnm opened #123 "How to do reactivate when user changes email address?"
Is there a documentation or wiki pages?
Please teach me how to do it.

[2018-05-16 03:08] lightmaya commented on #116
I change   username_attribute_names = [:mycolumns]  it  resolved  thanks

[2018-05-16 13:51] bragovo opened #125 "Faraday::SSLError"
On every Ubuntu systems with rbenv and ruby 2.5.0 not working auth through VK provider. On Mac everything fine and FB provider work fine too. Is that problem with sorcery or faraday or Ubuntu?

[2018-05-16 20:11] bragovo commented on #125
Set `config.ca_file = '/usr/lib/ssl/certs/ca-certificates.crt'` and now auth fine. Maybe default ca_file is outdated?

[2018-05-25 06:14] garmoshka-mo opened #127 "undefined method `sorcery_adapter' for nil:NilClass"
[code]

When attempting to:

[code]

Implemented from official example

[2018-06-13 21:00] athix commented on #120
@dmitry-vakhnenko, did @shiroemons' suggestion solve your issue?

[2018-06-15 08:16] luodaoyi commented on #119
+1 with same pro problem

[2018-06-20 04:19] tdtadeu opened #131 "find_by_credentials doesn't use indexes on user table"
Checking the newrelic of an app I'm working on, I found that User.find times on session create are incredibly high, so I manually ran all the stack and this is what I found:
[code]
If this query was using an index, it would say as much in the explanation, like so:
[code]

Is this an expected behaviour? Or maybe I got something messed up on my app?

I'm using sorcery 0.12.0 and rails 4.2.5.1 on rub

[2018-06-20 19:43] Ch4s3 commented on #131
Interesting. We do add an index on Email, as you can see [here](https://github.com/Sorcery/sorcery/blob/80affcf2a892d9fe4213bca403b6fe197f67a234/lib/generators/sorcery/templates/migration/core.rb#L11). I don't have access to a project running soprcery at the moment, can you check this @athix? @tdtadeu can you confirm that you have that index?

[2018-06-20 19:45] Ch4s3 commented on #119
This should be fixed by #128 and/or #129. Feel free to reopen if this isn't fixed on master.

[2018-06-20 19:45] #119 closed

[2018-06-20 19:47] Ch4s3 commented on #131
This could be related to #119 which should be fixed. Let me know when you have a moment to check @tdtadeu.

[2018-06-20 22:26] andrewhood125 opened #132 "Loads ActionController::Base in Rails applications always"
Rails has an `--api` option that changes the default parent of the ApplicationController from ActionController::Base to ActionController::API.

That class has some good documentation on why you would not want to load the entire ActionController::Base class.

https://github.com/rails/rails/blob/94360451eae2701fc04d6b132c44d9622bbe0cb5/actionpack/lib/action_controller/api.rb#L8-L11

In the engine: h

[2018-06-25 14:47] lostpupil opened #134 "Race condition in activation mail."
There might be a race condition when the user sign up.
In sidekiq, there is a "could not found User with id=1".
Also I read the souce code, but I did not see there is something like delay in the config file.

[2018-06-25 15:48] athix commented on #134
The activation email should be an after_create callback (see [user_activation.rb](https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/model/submodules/user_activation.rb#L48)), so it shouldn't be getting scheduled until after Rails has written to the database. I would double check to ensure there isn't something preventing the data from getting written to the DB.

[2018-06-27 20:45] Ch4s3 commented on #134
@lostpupil can you post some code?

[2018-06-28 01:58] zentooo commented on #123
In app/models/user.rb:

[code]

It works for me.

[2018-06-28 02:12] lostpupil commented on #134
[code]
@athix Actually, I think it should not be `after_create`, it should be `after_commit` instead.
I checked my code, I think there is nothing wrong to prevent it saving the record to the database, the record will be there immediately. But the delay job mailer will be failed anyway.
@Ch4s3 I am just follow the basic example post in wiki, but I use that config file in staging env. FIrst time it

[2018-07-09 15:22] Ch4s3 commented on #134
@lostpupil interesting. Can you throw an after_commit and after after_create on your model that log something out, to see if it is succeeding or failing on the first run?

[2018-07-09 18:28] Ch4s3 commented on #122
@kbighorse is this still an issue?

[2018-07-09 18:29] Ch4s3 commented on #125
@bragovo could be? Sorry I don't know too much about this and I've never used the FB provider. could you check with the Faraday folks?

[2018-07-09 18:30] Ch4s3 commented on #120
ping @dmitry-vakhnenko

[2018-07-09 18:30] Ch4s3 commented on #113
@FunkyloverOne Thanks!

[2018-07-09 18:30] #113 closed

[2018-07-09 18:31] Ch4s3 commented on #105
I'm not sure this is a use case we can officially support unfortunately.

[2018-07-09 18:31] #105 closed

[2018-07-09 21:43] brendon commented on #105
No worries. :)

[2018-07-12 05:42] lostpupil commented on #134
@Ch4s3 Thanks,  My colleague and I came up with the same idea, that version worked.
But I am also wondering is there any chance to add a delay method to the email sending code.

[code]

[2018-07-12 05:42] #134 closed

[2018-07-12 15:29] Ch4s3 commented on #134
@lostpupil if you submit a PR, I'll take a look. I'll also try to cut a release soon.

[2018-07-18 08:21] bzf opened #137 "Missing config.reset_password_mailer when running from master"
When I'm trying to run our application using the `master` branch rather than the version (0.12.0) from Rubygems our app crashes with the error:

[code]

I've bisected it between `0.12.0..master` and landed on this [this commit][1].

Please ask if there's anything you need to know or if there's anything I could do to help figure this out. 😃

_EDIT_:
We're using Ruby 2.4.4 and Rails 5.0.7.

[1]: htt

[2018-07-19 17:17] athix commented on #137
@Ch4s3 we're sending everything into the module instead of the `Base` class that `ApplicationController` typically inherits. We'll want to update that code to instead inject into `ActionController::Base` _**and**_ `ActionController::API` individually, depending on their load status (or just send regardless if it doesn't force unnecessary loading of the `Base` class).

[2018-07-30 16:59] chriscarpenter12 opened #138 "`method_missing': undefined method `sorcery' upgrading to rails 5.2 --api only"
I had a rails 5.1 api app that I tried upgrading to 5.2 and whenever I try to boot up the server it complains about the initializer in `config/initializers/sorcery.rb`.

[code]

Relevant lines in `config/initializers/sorcery.rb`:
[code]

Nothing crazy in my initializer. Its failing at the first line of code. Its like my sorcery gem isn't loading. Where can I look why? Has no issue if I stash my ch

[2018-07-30 17:31] mladenilic commented on #127
@garmoshka-mo: If you take a look at `lib/sorcery/model/submodules/external.rb:42`, you'll see that `sorcery_adapter` method is being called on `config.authentications_class` – in your case, this is null.

Here's the line I'm talking about: https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/model/submodules/external.rb#L42

You should add the following to the sorcery initializer:
[code]

P

[2018-08-14 02:58] abhishekover9000 opened #141 "create_from method not working with linkedin"
What I did:
generated LInkedin API keys- authorized callback url, followed external docs line by line, getting a positive callback network response from linkedin,

What is happening:
  create_from throws an error - attached is the callback handler with puts for debugging and the server output

Please advise on how to resolve this issue- also how do we access the user's info on callback?

Callback

[2018-08-14 07:02] mladenilic commented on #141
Begin-rescue block around `create_from` is silencing the error, it's unclear what's going on. Check what's the actual exception.

Another thing you can do is inspect `@user_hash` within callback action (just before `created_from` is called) and verify that it contains all the data your user model requires and that it's in correct format.

[2018-08-22 15:54] sqlninja opened #143 "undefined method `remember_me_token_persist_globally='"
I uncommented and changed the value for `user.remember_me_token_persist_globally =` to `true` and now I get the following error:

NoMethodError at /api/users
===========================

config/initializers/sorcery.rb, line 271
----------------------------------------

[code]

Running `sorcery (0.12.0)`
I added the remember_me submodules, and have restarted the app (locally) but I'm clearly missin

[2018-08-22 16:02] sqlninja commented on #143
Never mind I'm an idiot...
I thought I installed the remember_me module but had not.
All is well!

[2018-08-22 16:02] #143 closed

[2018-08-25 15:22] sarnold04 opened #144 "You have incorrectly defined user_class or have forgotten to define it in intitializer file (config.user_class = 'User')"
After the sorcery installation in my Rails 5.2.1 (Ruby 2.5.0) I get the mentioned error: You have incorrectly defined user_class or have forgotten to define it in intitializer file (config.user_class = 'User')

User model was created and created to work with Mongoid (7.0.1).

Anyone know what can cause these error?

[2018-08-28 00:36] mudphone opened #145 "Migration not created on new install"
I've been creating some new applications with Rails 5.2 and Sorcery 0.12.0, and I noticed that a clean install of Rails with `rails generate sorcery:install` skips the creation of the `User` migration file.
[code]

This seems to contradict the simple password authentication tutorial and the Readme:

[2018-08-28 06:09] ykpythemind commented on #145
I also faced the same problem. It seemed to be returned at line 64. Commented out and used, a migration file was also created.

https://github.com/Sorcery/sorcery/blob/eea7a1c852a9da8a6729cedacd7c4c292a2897d7/lib/generators/sorcery/install_generator.rb#L64

[2018-09-10 16:26] youzik commented on #145
The same as @mudphone. Cannot reproduce this bug
[code]

[2018-09-11 13:03] elfenars commented on #145
Using ruby 2.5.1 and rails 5.2.1 I can confirm that the migrations are not being copied.

[code]

[2018-09-13 16:39] AtaruOhto commented on #145
Same too me.

![programmagick_ _fish___users_ataru_rubymineprojects_programmagick_ _-fish_ _204x55](https://user-images.githubusercontent.com/3450879/45501728-f8c20680-b7bc-11e8-930e-ab6fca080ded.jpg)

My environment:

Ruby: 2.5.1
Rails: 5.2.1

I wrote the following line to Gemfile. And run bundle install.

[code]

I noticed the line below is different from the current master branch's one and old.

[2018-09-13 16:58] athix commented on #145
@AtaruOhto confirmed the same on my machine. It's interesting that both times it says that the `--skip-migration` flag is being passed, but latest master appears to ignore the flag. I assume we'd want the check to be removing the skip migration flag instead.

Can anyone who doesn't use active record please check if the latest master branch still works for them normally? If it doesn't introduce inc

[2018-09-19 15:57] hugogilmar commented on #145
It's the same for me. Running install on rails engine but migrations are not copied (sorcery 0.12.0).

![image](https://user-images.githubusercontent.com/119041/45765343-12ff4880-bbf2-11e8-9246-c7f5aed5a776.png)

Here's my environment:

![image](https://user-images.githubusercontent.com/119041/45765438-49d55e80-bbf2-11e8-8cbf-e6421b39f7c8.png)

[2018-09-19 17:40] hugogilmar opened #146 "External submodule add_provider_to_user method not working when authentications_class belongs to a module definition"
When you define `user.authentications_class` and the class is behind a Module an `undefined method` error raises.

![image](https://user-images.githubusercontent.com/119041/45770575-0124a200-bc00-11e8-9f0d-936455855699.png)

Related to this lines:

https://github.com/Sorcery/sorcery/blob/eea7a1c852a9da8a6729cedacd7c4c292a2897d7/lib/sorcery/model/submodules/external.rb#L48

https://github.com/Sorce

[2018-09-20 18:32] athix commented on #146
Should be resolved by next gem release, please reopen if issue persists!

[2018-09-20 18:32] #146 closed

[2018-09-20 22:08] athix commented on #3
I think it's time to close this, anything that's still an issue should be filtering into this repo by now.

[2018-09-20 22:08] #3 closed

[2018-09-25 22:41] gurgeous opened #151 "load_from_magic_login_token should take block"
`load_from_magic_login_token` should take a `block`, just like `load_from_reset_password_token`. Otherwise you can't get the exact error out of there.

[2018-10-11 22:53] athix commented on #32
Going to be working towards this on my fork [athix/sorcery:1-0-0](https://github.com/athix/sorcery/tree/1-0-0)

Current objectives:
- [ ] Gain better understanding of existing codebase
  - [ ] Complete rubocop TODO
  - [ ] Get code coverage to min 90%
- [ ] Separate code into unit-tested modules
  - [ ] Core
  - [ ] Passwords
  - [ ] HTTP Basic Auth
  - [ ] External
  - [ ] Remember Me
  - [ ] Res

[2018-10-18 22:15] valentine commented on #145
Just to report: 0.12.0 doesn't create migrations for me, but the most recent `master` branch does.

[2018-10-19 21:31] denniscastro commented on #137
Reopen it!.

In controllers is all ok, the helpers are injected, but the model doesnt it and get the same error.

``
    ArgumentError: To use reset_password submodule, you must define a mailer (config.reset_password_mailer = YourMailerClass)
``

[2018-10-24 06:50] denniscastro opened #154 "Logout problem, keep session live"
Hi,

the session is still alive even if the session ends

I have a sessions controller with

[code]
everything seems fine, but if I reload the page the session is still alive.

in application_controller:

[code]

From other issues i added in logout action works fine
[code]

I have this modules:

[code]

[2018-10-24 07:48] denniscastro commented on #154
HI

I was checking and found that it is a conflict with Sidekiq.

When logged into Sidekiq in another tab, the Sorcery user session is still alive until it leaves from Sidekiq

[2018-10-24 07:48] #154 closed

[2018-10-25 08:20] obfuscoder opened #155 "undefined method `logged_in?' in Rails 4.2 with HEAD version"
After merging PR#133 into the master branch, the helper methods logged_in? and current_user are not available within views of Rails 4.2.x applications anymore.

I'm not sure whether that change was ment to break Rails 4 compatibility or whether there is a documentation update still pending which could explain how to integrate it in Rails 4.

[2018-10-28 20:59] GildedHonour opened #156 "Does Sorcery invalidate session tokens after logout?"
I've not found that in the code. Does it?

In our project it's not invalidated and can be reused if you save it.
However, it does log out the user.

[2018-10-29 18:12] athix commented on #156
I believe that `reset_session` is supposed to be invalidating the session_id upon logout.

https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/controller.rb#L71

This does seem like a good thing to be 100% on however.

[2018-10-29 20:09] GildedHonour commented on #156
The current situation: session id won't get invalidated after calling logout.

El 29 de octubre de 2018 12:17:20 GMT-06:00, Josh Buker <notifications@github.com> escribió:

--
Enviado desde mi dispositivo Android con K-9 Mail. Por favor, disculpa mi brevedad.

[2018-11-01 17:10] athix commented on #156
I've tested this and have been unable to replicate the issue. After logging out, the cookie does appear to be properly invalidated.

Can you please provide more detail on how to replicate the issue? Specifics on your session controller and any cookie configurations would be helpful.

[2018-11-01 17:22] athix commented on #132
I believe this has been fixed by the on_load calls.

[2018-11-01 17:22] #132 closed

[2018-11-03 23:31] GildedHonour commented on #156
but if you save its content and then re-create it?

[2018-11-05 00:15] GT001 commented on #145
I just ran into this issue.
Rails 5.2.1
ruby 2.5.3p105
RubyGems 2.7.6

[2018-11-06 00:12] GildedHonour commented on #156
<img width="520" alt="captura de pantalla 2018-11-05 a la s 18 11 51" src="https://user-images.githubusercontent.com/2032888/48034772-51ab7c80-e126-11e8-95b6-24119b7fa4f9.png">

[2018-11-08 22:14] athix commented on #156
@GildedHonour Following those steps fails to reproduce the issue using Sorcery `0.12.0`. Once logout is called the session cookie is invalidated and setting it again on the same or different browser results in the user not being logged in.

Have you tested to ensure that users can't set arbitrary session cookies on your application? (does it use secure cookies?)

[2018-11-13 10:15] daan-b commented on #156
Devise is also struggling with this [issue](https://github.com/plataformatec/devise/issues/3031).

See the solution at [Makandra](https://makandracards.com/makandra/53562-devise-invalidating-all-sessions-for-a-user)

[2018-11-13 19:33] athix commented on #156
@daan-b All three solutions are on the application side here, so this should be a documentation update rather than a code change in Sorcery. Thanks for those links!

[2018-11-13 19:45] daan-b commented on #156
@athix I think option 2 is the right option and I think this should be in the core of Sorcery.

Something like:

`def auto_login(user, _should_remember = false)
session[:user] = {id: user.id.to_s, token: user.session_token}
@current_user = user
end`

`def login_from_session
        @current_user = if session[:user]
                          user_class.sorcery_adapter.find_by(id: session[:user][:id

[2018-11-13 20:03] athix commented on #156
@daan-b That sounds reasonable to me.

[2018-11-21 14:14] rwojnarowski commented on #145
Like mentioned above, pulling gem from master solving this issue:

`gem 'sorcery', '~> 0.12.0', github: 'Sorcery/sorcery', branch: 'master'`

[2018-11-21 17:36] athix commented on #145
I'll try to find some time to test this and cut a new release.

[2018-11-23 15:45] bzf commented on #156
@daan-b If you only have a single row per current valid user, wouldn't that prevent users from being able to sign in from multiple devices and without signing out from everywhere else?

Maybe you could have a `has_many :sessions` relation between `User` and `Session` instead and only destroy the current row when the user signs out?

[2018-11-23 16:05] daan-b commented on #156
@bzf Yeah that's true. But I think you should regenerate the token only at logout. If a user closes the window there is no problem. If the user explicitly choses to logout, then he's logged out everywhere.

[2018-11-26 17:14] denniscastro commented on #137
Hi.

It is fixed now, with the edge version

[2018-11-26 17:33] athix commented on #137
Ah, yeah this is the issue I fixed on #159. Closing this out again.

[2018-11-26 17:33] #137 closed

[2018-11-29 19:40] athix commented on #138
Can you try the latest master? [#129](https://github.com/Sorcery/sorcery/pull/129) mentions fixing issues related to `Rails 5.2`.

[2018-11-29 19:46] athix commented on #123
If someone has the time to add this to the wiki, I would appreciate it. I likely won't have a chance to update the docs until after `1.0.0`.

[2018-12-03 17:33] mladenilic commented on #123
@athix: Moved the @zentooo's comment to the [User Activation](https://github.com/Sorcery/sorcery/wiki/User-Activation) wiki page.

Cheers! ;)

[2018-12-03 17:38] athix commented on #123
Thanks @mladenilic! :)

Closing this out.

[2018-12-03 17:38] #123 closed

[2018-12-04 18:24] Nerian opened #162 "Error with 0.13.0"
### Configuration

- Sorcery Version: `0.13.0`
- Ruby Version: `2.5.3p105`
- Framework: `Ruby on Rails`
- Platform: `Mac OS`

Hi,

I upgraded to 0.13.0 and I get an error:

[code]

There seem to be a problem between EffectiveDatatable and Sorcery regarding the initialization process.

This is how EffectiveDatatable does the initialization:

https://github.com/code-and-effect/effective_datatables/b

[2018-12-04 18:52] athix commented on #162
`ActiveSupport.on_load` was causing issues where the controller was never properly included for `ActionController::Base`.

It looks like the problem is that the API controller doesn't support `helper`, and it's being accidentally included [here](https://github.com/code-and-effect/effective_datatables/blob/master/lib/effective_datatables/engine.rb#L10) in effective datatables. (`ActiveSupport.on_lo

[2018-12-04 22:23] Nerian commented on #162
Ah I see.

Here how Matt solved the issue:

https://github.com/code-and-effect/effective_datatables/commit/fe7be195d940cd0b8bc155d650df635826f0cdc9

So it's all fine now.

Thanks!

[2018-12-04 22:23] #162 closed

[2018-12-06 20:01] athix commented on #32
Would anyone object to dropping support for Rails 4? With Rails 6 on the horizon, I think it would make sense to keep the code sane.

[2018-12-06 21:33] Ch4s3 commented on #32
I think that's probably reasonable

[2018-12-07 10:52] mladenilic commented on #32
+1 for dropping support for 4.x.

[2018-12-14 14:59] nsantiago2719 opened #164 "How would sorcery handle emails that have "." in different providers"
Microsoft, Yahoo, and Apple treat periods as separate emails, while Google and Facebook treat them as the same.

Example:

Google and Facebook's perspective
xyz.abc@gmail.com == xyzabc@gmail.com

Other providers
xyz.abc@gmail.com != xyzabc@gmail.com

PS. Sorry @athix it has been more than a year and I haven't made a ticket regarding this issue.

https://github.com/Sorcery/sorcery/issues/32#issueco

[2018-12-14 16:38] mladenilic commented on #164
I personally don't think that Sorcery should do anything about it. Based on Google support post (https://support.google.com/mail/answer/7436150?hl=en), the intention is to reduce the chance that someone mistypes your email address (which is absurd, in my opinion :) ).

Now, when talking about Sorcery, we are talking about authentication – user using its own email address to authenticate with the a

[2018-12-14 20:30] athix commented on #164
I don't think I understand the ask here. @nsantiago2719, what behavior are you wanting changed?

[2018-12-16 03:48] nsantiago2719 commented on #164
@mladenilic, the thing I want to emphasize here is that when a user tries to login using Google oauth provider it is possible that it'll create a new account. For example I already registered a `xyz@gmail.com` now if I tried to login using Google Oauth it'll return my primary email address which is with dot `x.yz@gmail.com`. Now sorcery won't be able to authenticate the account because it doesn't

[2018-12-17 14:51] mladenilic commented on #164
One thing about `create_from` and `login_from` methods – they use `uid`/`provider` fields from `authentication` model to find a user record. This means that if you register using email/password and then try to login with oAuth, `login_from` will fail to find that user. This is something you have to handle yourself in the controller.

In your use case, even if emails you used during registration an

[2018-12-18 20:52] athix commented on #164
This is my current stance as well. This ultimately sounds like an application specific issue, and should be handled as such.

@nsantiago2719, this should be doable using custom validation on the user/authentication, and/or by using the `build_from` method and handling the creation via your controller. For example, you could add a validation on the authentication that checks if any users have an em

[2018-12-25 22:45] nsantiago2719 commented on #164
Thanks for your suggestions. I'll be closing this issue now.

[2018-12-25 22:45] #164 closed

[2019-01-17 19:32] JonCrawford opened #168 "STI / subclasses throw configuration errors"
Hey there. I'm looking for a while to use Sorcery with STI/sublcasses of my User object. I have multiple user types with different features and permissions. Sorcery seems to choke when I attempt to save a subclass record.

### Configuration

- Sorcery Version: `0.13.0`
- Ruby Version: `ruby 2.4.4p296 (2018-03-28 revision 63013) [x86_64-darwin18]`
- Framework: `RoR 5.2.2`
- Platform: `macOS Mojave

[2019-01-17 19:53] athix commented on #168
Successfully reproduced on step 3, ran into the same error trying to save the record initially. Weird that it isn't inheriting properly.

[2019-01-17 22:24] athix commented on #168
@JonCrawford can you try copying the `authenticates_with_sorcery!` code from `User` to your STI model? It fixed the issue for me locally and I didn't notice any obvious glitches.

[2019-01-21 05:09] brandoncc opened #169 "User not being placed in the session after Rails 4.2-5.2 upgrade"
### Configuration

- Sorcery Version: `0.13.0`
- Ruby Version: `2.3.5`
- Framework: `Rails 5.2`
- Platform: `Mac`

### Expected Behavior

When I call `#login` in my controller it should place the user id in the session.

### Actual Behavior

When I call `#login` in my controller, it returns the user as it should. It doesn't place the user in the session though so it isn't actually logged in. I hav

[2019-01-21 05:19] athix commented on #169
@brandoncc I would check the wiki and make sure your controller code looks up to date. (~3 years since `0.9.1`)

Assuming everything looks good, I would try stepping the versions up in smaller increments, and see if you can narrow down which version breaks your application. That would give a better idea of where to look.

[2019-01-21 05:50] athix commented on #169
I don't see any commits that look like they would break compatibility. Weird that it only breaks after `0.11.0`.. I know there's a file that rails generates when migrating to version 5, I would recommend looking at that and see if anything looks like a potential cause. Beyond that, I'll need some more information to help more.

[2019-01-21 05:51] brandoncc commented on #169
Thanks for the help @athix, I will probably stick with 0.10.3 for now so I can at least get things running right on Rails 5, then I can revisit this.

[2019-01-21 05:52] athix commented on #169
No problem, good luck!

[2019-01-21 05:55] athix commented on #43
If anyone has some spare time and would like to help with this, I would greatly appreciate it.

[2019-01-23 07:20] brandoncc commented on #169
@athix I went back to my properly functioning Rails 4.2 app and replicated this. When I upgrade to 0.10.3, all is well. When I go to 0.11.0, the user does not persist in the session again. What can I share with you that will help you help me debug? Thanks again.

[2019-01-23 17:42] athix commented on #169
@brandoncc let's start off with making sure the params are being passed properly. Can you use `byebug` or a similar tool, and check `params` before the `login` method gets called? Also, just to be sure it's not a separate issue, please also check `session[:user_id]` before and after `login` gets called. We'll want to do this for `0.10.3` and `0.11.0` to see if there's any differences.

Also don't

[2019-01-23 21:48] mladenilic commented on #43
Both the sample app and documentation are still suggesting `form_for`/`form_tag` over `form_with`. I guess this is one of the things that can go under the _rails 5 best practices_.

I can help with this one, but I'd like to setup simple dev env (docker), to make it easier to run and test changes to the sample app. Let me know what do you think?

[2019-01-23 21:56] athix commented on #43
@mladenilic I'd like to keep the example app as usage agnostic as possible, but getting it up-to-date is more important IMO. Feel free to modify as you see fit, and I can help review it as time permits.

[2019-01-23 21:57] athix commented on #43
Seeing as we'll be dropping Rails 4 support in the not-so-distant future, I think it would also be reasonable to update any documentation to use whatever the Rails 5 standards are. No need to separate it into a different document.

[2019-01-24 04:56] brandoncc commented on #169
0.10.3:

[code]
0.11.0:

[code]

0.11.0 before `#login` call:

[code]

0.11.0 after `#login` call:

[code]

I found something interesting... I did `bundle open sorcery` and I placed a pry as the first line inside of `user_class.authenticate`. It doesn't get called! If it helps you debug, my user class is `Account`

[2019-01-24 06:08] athix commented on #169
@brandoncc interesting. Does your `Account` class call `authenticates_with_sorcery!`?

Also, try replacing your config with [the latest version](https://github.com/Sorcery/sorcery/blob/master/lib/generators/sorcery/templates/initializer.rb). The following lines might be what's giving you trouble:

* 277 - `# user.subclasses_inherit_config =`
* 530 - `config.user_class = '<%= model_class_name %>'`

[2019-01-24 07:50] athix commented on #169
Damn, it was worth a shot.

Can you try checking `0.10.3` to make sure it's setting `session[:user_id]`?  It's important to test both the same way, as testing just one doesn't tell us if there was a change between versions. (I think rails does differentiate between a symbol and string when used as an index) What I'm expecting to see is `0.10.3` has the ID after login, but `0.11.0` does not.

Also,

[2019-01-24 12:02] mladenilic commented on #43
@athix I opened couple of PRs on the sample app, I guess we can discuss it there.

Sorry, I wasn't being clear here. I was referring to your `Update example app for rails 5 and new best practices` task in the message above, not the new documentation page.

[2019-01-24 23:51] brandoncc commented on #169
I just verified that `session[:user_id]` gets set in 0.10.3. I then did the same test in 0.11.0 again and it was `nil` as usual.

`user_class` returns `Account`, and `user_class.authenticate` returns `nil` if I pass it invalid info and the correct user if I pass it valid credentials. The block still doesn't get called :-/

[2019-01-25 00:15] athix commented on #169
@brandoncc That's...peculiar. If the method is defined properly and returning as expected, I don't see any reason it shouldn't be executing the block. Are you sure your pry is the first line in the block? (between [L37-38](https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/controller.rb#L37))

While we're at it, place a `pry` call inside the [model method](https://github.com/Sorcery/sorcer

[2019-01-25 06:47] brandoncc commented on #169
Okay....I figured it out. I have an `Account.authenticate` method. The question is, why does 0.10.3 work?! I think I followed a tutorial 5 years ago when I built the app which showed how to encrypt the user's email and password in the db data which is why the `authenticate` method is needed. I think I am actually going to remove the encryption anyway so I will be able to upgrade after that. Thank

[2019-01-25 06:47] #169 closed

[2019-01-25 07:15] athix commented on #169
Good chance you already know, but you should never save a password in the database in a retrievable format. Current best practice is to use something like bcrypt and a randomized salt to hash the password for later comparisons.

Glad to help! 😄

[2019-01-25 07:17] brandoncc commented on #169
Thanks for making sure I knew that, as it seems there are lots of people who don't think about things like that! When I built the app I went the extra 100 miles and actually encrypted the db column data using attr_encrypted (some other columns too like email). So bcrypt is in place and than attr_encrypted on top of that.....safest app on the web! :-D

[2019-01-26 07:38] brandoncc commented on #169
Just to close this out, I removed the `.authenticate` method and my extra encryption stuff and the upgrade went smooth. I'm sorry for wasting your time :-/

[2019-01-26 08:19] athix commented on #169
I got to learn more about the codebase and to look for method overwriting as a potential cause for issues. Don't worry about it! If you ever want to help out with the project, currently the documentation could use some loving.

[2019-01-26 19:03] brandoncc commented on #169
Noted! I'll see if I can spare some time to work on it. Are there any particular areas of the docs that should be addressed sooner than others?

[2019-01-30 23:53] Fustrate opened #172 "Module callbacks included twice"
### Configuration

- Sorcery Version: `0.13.0`
- Ruby Version: `2.6.0`
- Framework: `Rails 5.2.2`
- Platform: `macOS 10.14.2`

### Expected Behavior

With the ActivityLogging module enabled, have callbacks fire once.

[code]

### Actual Behavior

[code]

### Steps to Reproduce

Initializer:

`Rails.application.config.sorcery.submodules = %i[activity_logging]`

This stems from `Sorcery::Controller`

[2019-01-31 00:00] mladenilic commented on #172
Could be related to/fixed by #163.

[2019-01-31 00:56] Fustrate commented on #172
I must be blind. It's definitely the same issue.

[2019-01-31 04:14] athix commented on #172
This is an active bug though, reopening until it's fixed.

[2019-01-31 20:17] Fustrate commented on #172
Except this is just a symptom of the same bug, is it not? Essentially making this a duplicate issue?

[2019-01-31 20:34] athix commented on #172
The other issue is a pull request, and I feel it's appropriate to have them separate but linked. On the pull request we can discuss implementation details, and use this issue to talk about anything not specific to implementation. I imagine it also helps search visibility to have this as an issue rather than a pull request. I don't have any strong preferences though, if there's any community guidel

[2019-02-11 11:08] Sanjay-Chaudhary commented on #156
I am also having the same issue. The server side session cookies does not get invalidated. After logout i am still able to use the session cookie and get access to those pages which should only be accessed after login.

reset_session option did not work and did not invalidated the session cookies after logout.

This issue was raised in the pen test as well. So can you please help in solving this i

[2019-02-13 21:29] palkan opened #174 "Incorrect table name in migrations when model is namespaced"
### Configuration

- Sorcery Version: `0.13.0`
- Ruby Version: `2.5.3`
- Framework: `Rails 6.0.0.beta1`

### Expected Behavior

Running `rails g sorcery:install --model "MyModule::User"` I expect the migrations to use `my_module_users` table name.

### Actual Behavior

Instead I have `my_module/users` table name in the migrations.

[2019-02-20 10:18] tbk303 opened #176 "Showing error messages on reset password form not possible anymore"
### Configuration

- Sorcery Version: `0.13.0`
- Ruby Version: `2.5.0`
- Framework: `rails-5.1.6.1`
- Platform: `Linux`

### Expected Behavior

Calling the `change_password!` method in a controller for resetting the password of the user allowed for a "normal" Rails form redisplay in case of validation errors (e.g. the newly entered password is too short) in version 0.12.0 and earlier.

### Actual

[2019-02-20 12:10] SofiaSousa commented on #176
Got the same issue.

In order to handle this, I'm using a `begin .. rescue` and returning errors message on `rescue`.

[2019-02-21 15:37] Spone opened #177 "Support for Rails 5.2 CurrentAttributes?"
This is a suggestion to replace `current_user` with Rails 5.2 new feature [`CurrentAttributes`](https://api.rubyonrails.org/classes/ActiveSupport/CurrentAttributes.html).

The main advantage is being able to access `Current.user` from within a model, without having to pass the `current_user` from the controller action.

Would you be interested in supporting this in Sorcery?

[2019-02-21 17:30] athix commented on #177
As long as backwards compatibility is kept, I would be fine with this change.

[2019-03-05 22:46] josuesalas95 opened #178 "after_login not fired after auto_login()"
Hi,
I saw this issue from the old repo https://github.com/NoamB/sorcery/issues/632.
I'm facing the same scenario as the author and I'm wondering if the change is still possible?

[2019-03-16 08:29] #172 closed

[2019-03-16 08:34] #151 closed

[2019-03-16 09:12] athix commented on #178
This definitely seems doable. My main question is how breaking this change would be for end users. Providing a config option for enabling this, while keeping the default disabled could also be a solution, although it would add more complexity.

@Sorcery/contributors and others, what are your thoughts on this?

[2019-03-16 15:40] mladenilic commented on #178
I think it will have some weird effects. For example, activity logging (login time/ip) will be triggered on auto_login. So if admin hijacks user session, it will be tracked as if user himself logged in, which probably isn't expected behavior.

Does is make sense to have something like `after_auto_login` and allow users to inject callbacks there?

[2019-03-26 19:02] athix commented on #178
Having a separate callback hook sounds like it might work. One problem I could see though is being able to differentiate when auto_login is called by itself, vs by the normal login method. To me it feels like maybe the dynamic between auto_login and login isn't ideal and should be rethought.

[2019-04-01 22:02] kapso opened #181 "last_login_at and last_login_from_ip_address not being updated"
[code]
...does not update `last_login_at` and `last_login_from_ip_address`

### Configuration

- Sorcery Version: `0.13.0`
- Ruby Version: `2.6.2`
- Framework: `Rails 5.6.3`
- Platform: `macOS / Linux`

Sorcery config file - `Rails.application.config.sorcery.submodules = [:remember_me, :reset_password, :activity_logging]`

### Expected Behavior

`User.authenticate(email, password)` should update `

[2019-04-04 18:36] athix commented on #181
Please include the steps required to replicate this issue (from a minimal/generic install). Also, there was recently a fix for duplicated callbacks that is on master. Could you try pointing your application at the latest version on master and see if that resolves the issue for you?

[2019-04-04 19:21] kapso commented on #181
Tried the following branch, but still getting the same issue.

`gem 'sorcery', github: 'Sorcery/sorcery', branch: 'master'`

[2019-04-24 10:15] Eiostu opened #182 "Is "Simple Password Authentication" wrong?"
Hi,

If do not add a 'new' action in the controller, will there be a continuous redirect when accessing '/ login'?

[code]
[code]
[code]
I am sorry if I misunderstood.

[2019-04-25 08:03] athix commented on #182
Are you asking if `skip_before_action :require_login` must include the `:new` action? If so, yes. Otherwise when you hit the login page (`user_sessions#new`) your controller will check to see if the user is logged in, see that they are not and create an infinite redirect loop to the login page.

Your user sessions controller will probably include only the two methods required for creating a sessio

[2019-04-25 08:39] Eiostu commented on #182
Thank you athix.

Then, [「Simple-Password-Authentication」](https://github.com/Sorcery/sorcery/wiki/Simple-Password-Authentication) in the wiki, does the statement at the bottom of mean it is wrong?

All the code I showed was taken from within the wiki.

I'm sorry I didn't know how to make a pull request on the wiki and I would write it here.

And because I rely on Google translation, English may b

[2019-04-25 16:53] athix commented on #182
@Eiostu thanks for pointing that out, it does look like the wiki is incorrect. If someone would like to update it, I would appreciate the help. Otherwise I'll try to update it myself when time permits.

[2019-04-25 17:21] Eiostu commented on #182
@athix thanks you very much!

I have updated the wiki.

[2019-04-25 17:21] #182 closed

[2019-05-20 22:32] athix opened #188 "LinkedIn OAuth 1.0 has been deprecated"
Per LinkedIn's [Developer Program Updates](https://engineering.linkedin.com/blog/2018/12/developer-program-updates), OAuth 1.0 has been deprecated by LinkedIn as of May 1st, 2019.

I'll work on creating a hotfix release (`0.13.1`) to migrate the LinkedIn provider to use OAuth 2.0 instead of 1.0.

If you use LinkedIn in your application, please be aware of this issue, and try to update Sorcery as s

[2019-05-22 00:04] #188 closed

[2019-05-24 11:32] tbk303 commented on #176
I think this has been fixed with #165 in 0.14

[2019-05-31 01:26] risafj opened #192 "External module redirects page without actually logging in the user (Google OAuth)"
### Configuration

- Sorcery Version: `0.14.0`
- Ruby Version: `2.6.2`
- Framework: `Rails 5.2.3`
- Platform: `Heroku`

### Expected Behavior

I'm trying to implement an OAuth system for Google accounts. I don't need a standalone login system for my app, so I just use the `external` submodule.
I've followed the official [tutorial](https://github.com/NoamB/sorcery/wiki/External) closely with minor

[2019-05-31 02:13] athix commented on #192
@risafj can you try updating your callback method to the following and hitting it again?

[code]

[2019-05-31 03:15] risafj commented on #192
Thank you for the quick response.
First of all, I realised that I'd been using strong params named `auth_params`, but had kept my code referring to `params`, so I fixed that (also updated the code snippet above).
However, that didn't seem to be related at all, as the results below show.

[code]

[code]

Not sure why `auth_params[:provider]` is returning `"google"` and yet it's not being assigned t

[2019-05-31 03:33] risafj commented on #192
Ok, I thought it was strange that the local variable `provider` was returning `nil`, so I tried it without assigning the provider to a variable as written below, and suddenly it works...

[code]
I've never seen this behaviour, and I honestly have no idea why. But using `byebug` did help pinpoint the issue, so thank you for that.

[2019-05-31 03:55] risafj commented on #192
Thank you for your suggestion to fiddle around with `byebug`. I ultimately found that the `user_info_mapping` line in the config file seems to have been the problem. I changed it to this:

[code]

And now it works. Thank you!

[2019-05-31 04:22] athix commented on #192
Glad to help! Closing this for now, please reopen if you run into any other issues.

[2019-05-31 04:22] #192 closed

[2019-05-31 04:26] athix commented on #192
Re: the provider variable being `nil`, there's a good chance that's because the first byebug was before the variable was declared. I would try adding it again now that the mapping is fixed.

[2019-05-31 05:45] risafj commented on #192
Thank you again. By the way, are the `user_info_mapping` items fixed for each external provider? For example, is there any way to get not only the `email` but also the user's first and last names from Google? I can't seem to find anything on the docs about it.

[2019-05-31 05:46] risafj commented on #192
And yes, the `byebug` issue was simply because the variable hadn't been defined yet. It was a silly mistake so I deleted the comment afterwards 😅

[2019-05-31 05:50] athix commented on #192
You should be able to map everything that gets passed by the oauth provider. Documentation is pretty scarce, but if you use byebug you can inspect the hash that gets sent back and figure out the names from there. The main problem is making sure the scope has the fields you're looking for.

It might be a bit tricky inspecting the hash response, iirc you have to call a specific method so it sets the

[2019-05-31 05:57] athix commented on #192
No worries, I've made plenty of similar mistakes. All a part of the learning process. 😄

[2019-05-31 06:41] risafj commented on #192
I am finding it to be tricky, if you could point me in a direction I'd really appreciate it.

What I've tried so far: I put `byebug` in the very beginning of the `callback` method and tried inspecting the `response` json, but it was so convoluted that I couldn't find any related info except this (which is not helpful either):

[code]

In the same `byebug`, I also tried calling some of the methods

[2019-05-31 06:50] risafj commented on #192
Also checked out Google's OAuth docs, but I couldn't find anything beyond [this](https://developers.google.com/identity/protocols/googlescopes):

__Google OAuth2 API, v2__
__Scopes__
https://www.googleapis.com/auth/userinfo.email | View your email address
https://www.googleapis.com/auth/userinfo.profile | See your personal info, including any personal info you've made publicly available

So you're

[2019-06-03 03:09] risafj opened #193 "User_info_mapping for getting Google profile info in OAuth callback?"
### Configuration
- Sorcery Version: `0.14.0`
- Ruby Version: `2.6.2`
- Framework: `Rails 5.2.3`
- Platform: `Heroku`

### Expected Behavior
I'm trying to implement an OAuth system for Google accounts. I don't need a standalone login system for my app, so I just use the `external` submodule.
I can sign up/sign in the user correctly if I only map the `email` info from Google's response, but not if

[2019-06-03 06:10] risafj commented on #193
I later realised the issue: my `users` table did not have a `username` column. Now that I've added this column, my app signs in/signs up users and saves both `email` and `username` correctly.

Though this may just be me, I feel like it's kinder to first-timers  if there was a line in the official [tutorial](https://github.com/NoamB/sorcery/wiki/External) or [initializer example](https://github.com

[2019-06-03 06:10] #193 closed

[2019-06-03 18:14] athix commented on #193
@risafj Yeah, the documentation honestly could use a lot of loving. I don't think it's really been modified in a couple years. If you want to, any help with updating the wiki would be greatly appreciated! Even if it's just taking what you learned and generalizing it for reuse, I'm sure others would appreciate it as well. Any PRs that update the auto-generated documentation are also appreciated.

[2019-06-04 03:24] risafj commented on #193
@athix Good point. I updated the part about `user_info_mapping` 😃

[2019-06-04 16:42] athix commented on #193
Awesome, thanks @risafj! 😄

[2019-06-05 08:03] risafj commented on #192
For anyone who stumbles across this and wonder if there's a solution, I figured out how:
1. Use `byebug` here:

[code]

2. Inside `byebug`, do this:
  * `sorcery_fetch_user_hash(:google)`: Should return nil
  * `@user_hash`:
Should return a long hash with that looks like this:
`{:token=>"<long string>", :refresh_token=>nil, :expires_at=> <integer>, :expires_in=> <integer>, :user_info=>{"id"=>"<num

[2019-06-10 01:29] neko314 opened #194 "Suggestion: update sample code form_tag -> form_with"
There's no wrong behavior, but I found `form_tag`  [here](https://github.com/Sorcery/sorcery/wiki/Simple-Password-Authentication), and I think `form_with` is better than `form_tag`.

I can't make PR against Wiki, so I make this issue.

### Configuration

- Sorcery Version: `0.14.0`
- Ruby Version: `2.6.0`
- Framework: `rails 5.2.3`
- Platform: `macOS`

### Suggestion

[code]

[2019-06-10 09:16] kevin-smartpatients opened #195 "Don't redirect to JSON after sign in"
I'm using sorcery to authenticate a Rails+React app with JSON requests through Axios.

- sorcery (0.14.0)
- rails (5.2.3)
- axios@^0.19.0

My sign in form is rendered by rails.  I have this in SessionController

[code]

This works great if the return_url points to an html page but if the last request was for JSON, you get redirected to a JSON response.

I think this line (sorcery/controller.rb:28)

[2019-06-16 23:20] athix commented on #195
So the issue I see, is that the solution in that article relies on `responds_to` to correctly interpret the type of request, which (I think) we can't do in the method where `session[:return_to_url]` is set. Unfortunately, I don't think you can rely on that in the create method either, as `session[:return_to_url]` is being overwritten regardless of the final `session#create` request. The best solut

[2019-06-17 07:47] kevin-smartpatients commented on #195
You can get the mime-type of the request with `request.format`.

So I'm suggesting that we change this:

    session[:return_to_url] = request.url if […snip…] && request.get? && !request.xhr?

to this

    session[:return_to_url] = request.url if […snip…] && request.get? && request.format.html?

I can't think of a reason to redirect to another format but, if that's too drastic, we could prevent th

[2019-06-18 16:27] athix commented on #195
Ah, nice!

To reduce the amount of breaking change, I think the best compromise is probably:

[code]

Unless the only use-case for xhr is json, I think this would be safer compatibility-wise.

[2019-06-18 16:36] kevin-smartpatients commented on #195
I agree.

[2019-06-18 17:23] athix commented on #195
@kevin-smartpatients can you open a PR with the change, and I'll approve/merge it?

[2019-06-18 17:25] kevin-smartpatients commented on #195
Will do.

On Tue, Jun 18, 2019 at 6:24 PM Josh Buker <notifications@github.com> wrote:

[2019-07-02 09:55] kevin-smartpatients commented on #195
Done: https://github.com/Sorcery/sorcery/pull/197

I kept the !request.xhr? and added !request.format.json? so that non-JSON xhr requests will still be blocked form :return_to.

[2019-07-02 16:27] athix commented on #195
Merged into master, should be available in the next release or immediately if you point bundler at the github repo.

[2019-07-02 16:27] #195 closed

[2019-07-05 18:58] sqlninja opened #198 "Rails 6 app with reader/writer database.yml unable to update activity logging"
### Configuration

- Sorcery Version: `0.12.0`
- Ruby Version: `2.6.3`
- Framework: `Rails 6.0.0.rc1`
- Platform: `macOS & Heroku`

### Expected Behavior
All insert / update / delete cmds to be sent to writer
Or add an option in Sorcery config to set database connection to writer
Or allow overriding of activity module database (and probably other modules)

### Actual Behavior
Appears that updates

[2019-07-05 19:58] sqlninja commented on #198
Example `database.yml`
[code]

Example `ApplicationRecord` rb file
[code]

[2019-07-10 09:09] OscarBarrett commented on #156
As mentioned in the devise issue, this is unavoidable when using the cookie store - cookie-based sessions are replayable. The session data is not stored server side, only in the cookie. The cookie itself has enough information to identify the user and consider them as logged in.
It's not something that Sorcery should need to fix.

If you want session data to be handled server-side, you should use

[2019-07-13 03:23] PatrickMcSweeny commented on #144
Did you set the value in initializer file?

[2019-07-20 10:48] brianflanagan commented on #178
I'd be interested in this as a configurable option. We use `auto_login` for a passwordless login flow, so it'd be useful to make the behaviour mimic the typical login flow.

[2019-07-27 01:08] risafj opened #201 "Support for returning refresh tokens in the external module (OAuth)?"
Hi, do you have any plans to return not only the [`access_token`](https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/controller/submodules/external.rb#L92) but also the [`refresh_token`](https://developers.google.com/identity/protocols/OAuth2WebServer#offline) when logging the user in via the external module? The `refresh_token` allows the `access_token` to be refreshed when it expires in

[2019-08-07 22:35] sqlninja commented on #198
Bumping in hopes of some advice...

[2019-09-02 15:00] matssigge opened #203 "API controller breaks when using activity_logging submodule"
Hi!

I'm having a problem upgrading Sorcery beyond 0.12 (yes, I'm behind). We have a couple of API controllers, and calls to them break when using Sorcery 0.13 or 0.14. The error I get is

and the stacktrace points to the ActivityLogging submodule, and the method `register_last_activity_time_to_db`. It looks like all submodules are being included in all controllers (both API and "normal" ones), bu

[2019-09-15 04:00] andey commented on #64
I'm getting this problem with

[code]
I'm confused, because this was merged last year.

[2019-10-03 01:37] athix commented on #201
If anyone would like to extend the return hash to include refresh token, I would certainly take a look at the PR and merge it in if everything looks fine. That being said, ideally we will be refactoring sorcery to depend on Omniauth for the external module, and I'm sure Omniauth already has this functionality implemented for most if not all providers.

[2019-10-03 01:42] athix commented on #198
Hi @sqlninja. Unfortunately I'm not very familiar with how Sorcery handles the ORM adapters, so I don't know how much I can help you directly here.

What I would recommend doing is trying to narrow down where Sorcery is going wrong with the ORM, and see if you can update it to ignore the follower databases. One method you could use to narrow down the source is creating a fork of sorcery, and point

[2019-10-03 01:50] athix commented on #194
Thanks @neko314!

Yeah, unfortunately a lot of the wiki hasn't been touched since Rails 4, and the syntax is heavily outdated in several places. If you see any other issues like that and want to update them, please feel free to edit the wiki directly! I would love any extra help.

I'll go ahead and update the section you mentioned above.

[2019-10-03 01:55] athix commented on #194
Wiki updated.

[2019-10-03 01:55] #194 closed

[2019-10-03 02:25] athix opened #204 "Additional Maintainer(s) Needed"
Unfortunately, with both of the current maintainers (@Ch4s3 and myself) occupied with work and other projects, the Sorcery 1.0 update has slowed to a standstill.

If there's anyone in the community that would like to become a maintainer, or otherwise help with the project on a consistent basis, please reach out to me either via this issue or the email listed on my profile.

Even if you can't commi

[2019-10-07 14:36] Ch4s3 commented on #204
I'd be happy to help onboard someone in a couple of weeks.

[2019-10-09 07:15] no1-knows opened #205 "wiki : Simple Password Authentication is correct?"
Hello, is this link_to code correct?

[code]

This back link get "Routing Error No route matches [GET] “/user_sessions”".
I think users_path is better.

[2019-10-19 14:28] z1lk commented on #204
I would like to help. Can you point me to some good first issues, a roadmap to 1.0, etc? Whatever needs to be done really. I would love to get my hands dirty.

[2019-10-28 18:38] Ch4s3 commented on #204
@z1lk we don't really have a roadmap, but it would involve breaking out many of the integrations into separate repos and getting up to speed with Rails 6.

You may want to look into some issues involving Rails 5.2 and 6 support.

[2019-10-28 18:53] mladenilic commented on #205
Yes, however tutorial assumes that you have defined `user_sessions` resources in your routes file and that you have created `UserSessionsController` controller file accordingly.

Keep in mind that Sorcery does not expect nor enforce any particular route setup – this is left entirely to the developer to decide.

[2019-10-28 23:15] mladenilic commented on #203
Your controller extends `ActionController::API`, which does not include `ActionController::Cookies` module. Since you have _remember_me_ submodule activated, it's trying to log user in from cookie.

To have access to cookies, you have to include `ActionController::Cookies` in your API controller:
[code]

If you are running rails in [API-only](https://guides.rubyonrails.org/api_app.html) mode, you

[2019-10-31 02:40] yuina1056 opened #206 "Want to fix your wiki?"
Sorry for not good at English .

https://github.com/Sorcery/sorcery/wiki/Testing-Rails#functional-tests

Should be written in rails_helper, not spec_helper.
I was in trouble because I could not use testhelper.

I'll edit it if I don't have enough hands, what do you do?

[2019-10-31 03:59] risafj commented on #201
Hi @mtomov,

Thank you for the response and the code snippet!
Ultimately, the issue our team found was that Sorcery's request to Google didn't state that the request was for offline access. Google doesn't provide a refresh token unless you specify as such ([source](https://developers.google.com/identity/protocols/OAuth2WebServer#offline)), and that's why our refresh tokens were coming back empty.

[2019-10-31 19:52] athix commented on #201
I think it would make sense to add this to the wiki, and add a note in the initializer for the Google oauth config.

I assume that offline access would require additional permissions from the end user, so changing the default behavior would be a breaking change for applications that don't utilize the refresh token.

[2019-11-01 00:44] risafj commented on #201
@athix That's a good point. Let me check again if the `auth_url` is the only item that needs to be overridden for refresh tokens to become available, and then I'll update the external module wiki.

[2019-11-01 02:09] athix commented on #201
Sounds good, thanks @risafj!

[2019-11-01 13:12] mtomov commented on #201
@risafj In my brief tests, with the default configuration (no change in `auth_url`), I still am getting the refresh token. It might be something on google's end with the way oauth is set-up or something. Not sure.

[2019-11-01 19:24] jonmchan opened #207 "Inaccurate Naming Convention for crypted_password and Encryption in General In the Library"
I know this most likely won't be able to be fixed since the project is so well-established, but the naming convention of "encrypting" the password is technical wrong. Passwords are not encrypted, but just hashed. This has security implications on whether you can recover the original password without bruteforce techniques. As far as I know, your default implementation of using bcrypt is secure and

[2019-11-01 19:55] mladenilic commented on #207
I think "crypted" here just means "not plain". Devise actually uses "encrypted_password".

But I agree with you, it is misleading – something like `password_hash` would be more accurate. I wouldn't mind having this change on 1.0 roadmap.

[2019-11-01 23:56] athix commented on #206
Oh, that is weird. It looks like we have part of the page written for MiniTest, and the rest for RSpec. That could definitely be cleaned up a bit, perhaps with a separate section for MiniTest and RSpec.

If you want to help update it, any assistance is greatly appreciated. If you want, I can also take a look and fix any grammar issues afterwards.

[2019-11-02 09:18] risafj commented on #201
@mtomov Hmm... I wonder what the difference between our configurations are.
I have this small app with the minimal Sorcery setup necessary to use the external module, and`@user_hash.refresh_token` and `@access_token.refresh_token` still both come back as nil.

[code]

I just overrode the `auth_url` and now the responses come back with a refresh token.

This is the repo - please check it out if you

[2019-11-03 15:30] mtomov commented on #201
Maybe it's related to this?

https://github.com/oauth-xx/oauth2/issues/321

[2019-11-03 20:02] mtomov commented on #201
Actually I figured it out. In my first try, I followed the API demo on the google api pages where there was a one-button-click way to create oauth credentials. Those turned out to be of type "other", which doesn't require setting redirect urls, and a few other settings, it doesn't persist for the user, and seems like it gives a `refresh_token` by default.

![image](https://user-images.githubuserco

[2019-11-05 02:03] risafj commented on #201
Awesome, thank you @mtomov  :)
Oh, just realised I'd missed @athix 's suggestion about raising a PR with a comment. I just updated the wiki, I'll raise a PR with a comment too, later.

[2019-11-21 15:53] andey opened #210 "Rails 6.0.1 - Unknown column 'remember_me_token._rails'"
### Configuration

- Sorcery Version: `0.14.0`
- Ruby Version: `ruby 2.6.5p114`
- Framework: `rails 6.0.1`
- Platform: `4.14.146-93.123.amzn1.x86_64`

### Expected Behavior

No Exception

### Actual Behavior

[code]

### Steps to Reproduce

This error is Intermittent, and I'm unable to reproduce manually.

![Screenshot of rollbar](https://i.imgur.com/avhI30g.png)

### Context

Right now I'm splitt

[2019-11-21 16:05] mladenilic commented on #210
Do you maybe use multiple DBs setup? I'm trying to figure out where did the `_rails` come from.

[2019-11-21 16:07] andey commented on #210
@mladenilic I do indeed have multiple DBs setup using the new rails 6.0 feature, nothing custom.

[2019-11-21 16:12] logicalgroove commented on #210
it comes from rails as I can see:

https://github.com/rails/rails/blob/37e87fd324ab94790c191fb82e902ba9d3365218/activesupport/lib/active_support/messages/metadata.rb#L14

[2019-11-21 17:27] andey commented on #210
I totally overlooked something.

The error started to happen when I started sending traffic to `rails 6.0.1`, however all the exceptions are happening on the `rails 4.2.11.1` servers.

I'm going to take a guess that this exception is happening when users are being served `rails 6` then get switched back to `rails 4`

[2019-11-21 17:45] mladenilic commented on #210
Ok, so we got it figured out. Rails 4 is failing to extract message from signed cookies which include meta data, which was added much later (https://github.com/rails/rails/commit/1cda4fb5df519080032c9c0a16d3c4f8cf1f3d2c#diff-69714203ccef60fcead8d4eff741a883)

@athix: Just to be on the safe side of things, should we add a check to the `find_by_remember_me_token ` to avoid malformed queries? In this

[2019-11-21 19:17] athix commented on #210
@mladenilic I think it would make sense to limit the function to look only at the cookie values it expects, if it doesn't already.

I'm curious what exactly is going on here, it sounds like the symptom is Sorcery on rails 4 trying to read the wrong column for remember_me. Is this happening because it can't read the cookie and it assumes the wrong default, or does rails 6 set the column to somethin

[2019-11-21 19:22] andey commented on #210
Just going to throw it out there.

I stopped sending traffic to rails 4 approximately 2 hours ago, and I haven't seen the error again.

[2019-11-22 11:00] mladenilic commented on #210
@athix  Rails 4 fails to read the signed cookie saved by Rails 6.

So instead of:
[code]

It results in:
[code]

This invalid cookie hash gets passed to `find_by_remember_me_token` which raises the error:

instead of:
[code]

it does:
[code]

Since `find_by_remember_me_token` gets token passed to it from a cookie, which we can basically consider a user input, I think we should make sure that the t

[2019-11-27 18:14] athix opened #213 "TravisCI Builds Failing"
It appears the configuration for the test database creation needs to be updated for TravisCI. All builds are failing due to the following error:

[code]

[2019-11-27 18:21] mladenilic commented on #213
Can we just remove the command from the `travis.yml`? Based on spec app, sqlite is used – https://github.com/Sorcery/sorcery/blob/master/spec/rails_app/config/database.yml

[2019-11-27 18:40] athix commented on #213
Interesting, that might be specific to the app within the specs but it's worth a shot regardless.

[2019-11-27 19:03] athix commented on #213
So that resolves the database error, and now it's just stuck on sprockets expecting a manifest file. I think there might be a PR or Issue floating around for that (sprockets 4 breaking things).

[2019-11-27 19:04] mladenilic commented on #213
I already replied on the PR ;)

https://github.com/Sorcery/sorcery/pull/214#issuecomment-559213228

[2019-11-27 19:24] athix commented on #213
Perfect! Thanks @mladenilic and @Plsr!

[2019-11-27 19:26] #213 closed

[2019-11-29 17:55] mladenilic commented on #156
I agree with @OscarBarrett. This is a reasonable tradeoff when using cookie session store. If this is seen as security concern, I'd say that the best way to avoid it is to move away from cookie session store.

A slight improvement on what @daan-b suggested (storing session token in the database) could however offer some potentially nice features. Since users can have more than one session, we woul

[2019-11-29 23:00] avtrujillo opened #217 "Documentation is unclear about Sorcery's salt being entirely separate from the one generated by BCrypt"
As discussed [here](https://www.freecodecamp.org/news/how-does-devise-keep-your-passwords-safe-d367f6e816eb/), the string that BCrypt returns when you encrypt the user's password for the first time is a concatenation of the BCrypt version, cost, salt, and checksum. When I decided to switch the project I was working on from Devise to Sorcery, I figured that I could just split the :encrypted_passwor

[2019-12-02 15:33] mladenilic commented on #217
I agree that the salt and hash should be stored together, in the same field. Bcrypt kinda forces that.

The real problem is backward compatibility.

My only concern with this approach is that it might complicate implementations of hashing algorithms more than I'd like, but I don't see better alternative other than dropping backward compatibility.

Anyway, if you are up for it, you can start a PR a

[2019-12-18 14:29] mladenilic commented on #210
@athix: I think we can close this one.

[2019-12-18 17:09] athix commented on #210
@mladenilic sounds good. It seems like in the end this was just gotchas with Rails 4, which we're deprecating going forward anyway.

[2019-12-18 17:09] #210 closed

[2019-12-19 00:38] athix commented on #217
This would be a good candidate for reworking with Sorcery 1.0, but considering the lack of manpower it might be worth leaving as-is for now. The configuration for Sorcery is already getting a little out of hand, IMO, so I'm hesitant to add more to it if it can be avoided.

[2019-12-19 00:39] athix commented on #206
I'm closing this issue as there's no active questions or comments, but if anyone stumbles upon it later, help with the wiki is still needed and appreciated!

[2019-12-19 00:39] #206 closed

[2019-12-19 00:41] athix commented on #198
Closing this as there hasn't been any movement in a while, please comment/reopen if there's still questions here!

[2019-12-19 00:41] #198 closed

[2019-12-19 00:43] athix commented on #11
Closing this to clean up old issues. Technically not addressed yet, but it's a fairly infrequent issue that can be resolved within applications. Also, considering the intent to switch to Omniauth, this  shouldn't be an issue once that happens.

[2019-12-19 00:43] #11 closed

[2019-12-19 00:45] athix commented on #12
This issue (#12) should be considered if we do try addressing: #217

[2019-12-19 00:48] athix commented on #32
@mladenilic here's some of the old ideas for `Sorcery 1.0`. Might need some refreshing considering how long it's been, but hopefully it can give a head-start.

[2019-12-19 00:50] athix commented on #43
The documentation definitely still needs a lot of love, but I don't think this issue is necessary. Closing it out...

[2019-12-19 00:50] #43 closed

[2019-12-19 00:53] athix commented on #47
@IonHubber @salimane

Is this still relevant? We've since updated ActionController::API to include the Sorcery controller, and per @mauricew it sounds like you can call authenticate directly outside of a controller context.

I'll close this out as it's been two years since any movement, but please comment/reopen if this is still a concern.

[2019-12-19 00:53] #47 closed

[2019-12-19 00:57] athix commented on #66
Closing this to clean out old issues without any movement.

[2019-12-19 00:57] #66 closed

[2019-12-19 00:59] athix commented on #87
This was resolved by PR #98, but it seems the Github hooks are case-sensitive. Closing this out manually to match.

[2019-12-19 00:59] #87 closed

[2019-12-19 01:02] athix commented on #91
No movement for two years, closing...

[2019-12-19 01:02] #91 closed

[2019-12-19 01:03] athix commented on #92
@mladenilic this would be a good issue to investigate further.

[2019-12-19 01:05] athix commented on #93
@mladenilic this is another high priority feature that needs worked on.

@Sanjay-Chaudhary, do you still use Sorcery and/or would be interested in helping us implement this functionality?

[2019-12-19 01:06] athix commented on #97
Hi @Tomomichi and @ebihara99999. Are either of you still interested in helping add the documentation for the magic login module?

[2019-12-19 01:12] athix commented on #104
@ebihara99999 @Ch4s3 @mladenilic @z1lk, and anyone else interested in helping maintain Sorcery (#204):

We should set aside some time to discuss short and long term plans for Sorcery. Does Sorcery still make sense? What role does/should it fulfill in the ruby ecosystem? How much code should be delegated (e.g. Omniauth and OAuth support)? etc.

[2019-12-19 01:18] athix commented on #106
Hi @margOnline, is this still relevant? I don't recall any PRs coming through for this particular issue, so I'm assuming it probably still is.

[2019-12-19 01:19] athix commented on #114
Glad it worked out! 😄 Hopefully this comes in handy if anyone else runs into the same issue.

[2019-12-19 01:19] #114 closed

[2019-12-19 01:21] athix commented on #115
Closing this out as there hasn't been any movement.

@FunkyloverOne if you still need help, please comment/reopen!

[2019-12-19 01:21] #115 closed

[2019-12-19 01:21] athix commented on #120
Still no response, closing this out...

[2019-12-19 01:21] #120 closed

[2019-12-19 01:22] athix commented on #122
No response, closing.

[2019-12-19 01:22] #122 closed

[2019-12-19 01:24] athix commented on #125
The pr #200 addresses this, but is blocked by validation that the new CA is correct / safe.

[2019-12-19 01:26] athix commented on #127
Closing this out as there hasn't been any movement, @garmoshka-mo please comment/reopen if you still need any help.

[2019-12-19 01:26] #127 closed

[2019-12-19 01:28] athix commented on #131
Theoretically this should be resolved now. Closing, but please comment/reopen if this issue shows up again.

[2019-12-19 01:28] #131 closed

[2019-12-19 01:29] athix commented on #138
Closing this out, please comment/reopen if this is still an issue!

[2019-12-19 01:29] #138 closed

[2019-12-19 01:30] #144 closed

[2019-12-19 01:34] athix commented on #207
Once this has been added to our roadmap, this issue can be closed out. We can do that as a part of the discussion for #104.

[2019-12-19 15:33] mladenilic commented on #92
@athix Sorcery does reset the session on login. Here's the relevant code – https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/controller.rb#L53

After each login/logout new session id will be generated.

@Sanjay-Chaudhary I hope this answers your question.

[2019-12-19 20:59] kbighorse commented on #122
sorry, i gave up on SQL Server..

[2019-12-22 02:36] mladenilic commented on #93
@athix: #218 implements a modules which adds support for this. Looking forward to your feedback.

[2019-12-22 14:32] Sanjay-Chaudhary commented on #93
O wow... so I can download the latest code and expect the concurrent login will work?

Regards,
Sanjay.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mladen Ilić <notifications@github.com>
Sent: Sunday, December 22, 2019 2:36:49 AM
To: Sorcery/sorcery <sorcery@noreply.github.com>
Cc: Sanjay-Chaudhary <sanjaychaudary@hotmail.com>; Mention <mention@noreply.g

[2019-12-22 15:11] mladenilic commented on #93
@Sanjay-Chaudhary: PR is not yet merged to the master, you'd have to use forked repo for now:
`gem 'sorcery', git: 'git://github.com/mladenilic/sorcery.git', branch: 'single_session'`

Also, you'd need to install new submodule as well:
`rails generate sorcery:install single_session --only-submodules`

Keep in mind that this is still work in progress, in case you plan to use it in production. If yo

[2019-12-29 15:46] Uzay-G opened #220 "Cannot use login method in sorcery because of changes to rails"
The wiki for [Testing with Rails](https://github.com/Sorcery/sorcery/wiki/Testing-Rails) provides this following example:
[code]

Unfortunately, the `ActionController::TestCase` that the test inherits from is now [deprecated](https://blog.bigbinary.com/2016/04/19/changes-to-test-controllers-in-rails-5.html) and no longer works. But, if we change this deprecated class to what is now used for contro

[2019-12-30 22:41] athix commented on #220
@mladenilic do you want to try tackling getting the test helpers refactored for the latest rails version(s)?

[2019-12-30 22:59] mladenilic commented on #220
@athix sure, you can assign this one to me.

[2019-12-31 13:33] f-teruhisa opened #221 "Extend activation_token_expiration_period when send authentication email again to user before the user is successfully authenticated"
`activation_token_expiration_period` is determined at the first time of user authentication, that is, by [`setup_activation`](https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/model/submodules/user_activation.rb#L90) (if it is defined in initializer).

There is no problem for normal operation.
However, user may have passed due date to check the authentication email.

If the activation_tok

[2019-12-31 17:59] Uzay-G commented on #220
Is there a way we can bypass this until there is a fix? Thanks a bunch!

[2019-12-31 19:21] mladenilic commented on #220
Hi @Uzay-G, `ActionDispatch::IntegrationTest` does not expose controller instance the way `ActionController::TestCase` did. You'll have to create an actual login request first, before running the test. You can find more info here https://github.com/rails/rails/issues/23386#issuecomment-192954569 until we update test helpers and documentation.

[2019-12-31 19:47] mladenilic commented on #221
Hi @f-teruhisa,

If a token is expired, you probably do not want to just extend the expiration date but generate a new token instead.

You can do this by calling `setup_activation` on the user model instance, right?

[2019-12-31 20:00] Uzay-G commented on #220
Oh alright thanks.
I managed to get it work and will post the solution here if anyone is having the same problem.
In `users_controller_test.rb`:
[code]
The function posts to the "/user_sessions" url to login. A key thing to note with this approach is the `password` parameter. The password corresponds to what you used to generate a crypted password for your fixtures user. For example, my `users(:on

[2020-01-01 07:04] f-teruhisa commented on #221
Hi @mladenilic .
Thank you for comments.

That is exactly what you say.
In other words, when I send authentication email again, should execute `setup_activation`.

[2020-01-02 05:54] #221 closed

[2020-01-07 12:10] matssigge commented on #203
Sorry for the very late reply.

I'm aware that the direct cause of the problem is not having access to cookies in the API controller, but cookies aren't relevant in an API. So even though the failure occurs in the RememberMe module, the real problem is that ActivityLogging is being triggered in an API controller, where there is not always a clear user (and in general there won't be any cookies set

[2020-01-13 05:32] BKSpurgeon opened #222 "suggested feature: inviting other users"
inviting users feature. Here is a proposed (and very general) workflow:

1. A Logged in user has a form to invite others. An email address is accepted in the form - in a field in the form.
2. An email is generated and send to the specified email address. Presumably a unique token is created.
3. When the link is clicked, in the email that was sent, the user can simply create a user account and have

[2020-01-13 14:16] mladenilic commented on #222
I get where you're coming from, but I think this is out of Sorcery's scope. Maybe this could be a separate gem?

[2020-01-13 20:16] BKSpurgeon commented on #222
@mladenilic what i am proposing is a set of very general helper methods to enable this type of work flow to be cobbled. The helpers required are not unlike those used in the reset my password plugins. e.g:

When the user sends an invite, it would be nice if the invitee just clicked on a link and signed up, and had everything already set up. In order to set it up and generate that link, one would n

[2020-01-19 21:58] z1lk commented on #104
Hey, thanks for including me. At this point I have not begun looking at issues (as mentioned in #204) and thus haven't explored how sorcery is structured internally. I'll see if I can work on some issues soon and get a sense of the state of things.

[2020-02-21 09:36] mladenilic commented on #201
@athix, @risafj Can this issue be closed as well?

[2020-02-21 18:16] Uzay-G opened #223 "Changes in Github API affect the use of External Oauth login"
Hey, I just got an email about this: https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/.

Sorcery has a **great** module you can add for oauth login. This is documented here: https://github.com/Sorcery/sorcery/wiki/External. Now I was using the github oauth with that module, where u have to provide your `client_id` and `app_secret` and then sorcery handles the re

[2020-02-21 18:20] athix commented on #223
Hi @Uzay-G, thanks for the heads up on Github updating it's API!

If you want to try tackling this, a good place to start would be the provider file: [lib/sorcery/providers/github.rb](https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/providers/github.rb)

Let me know if you do want to try taking this on and need any help. Having more people is always welcome! :)

[2020-02-21 20:00] Uzay-G commented on #223
Is that all the code for the github provider? It's not a lot. I will try to see what I can figure out :+1:

[2020-03-06 00:49] leadbrain opened #225 "How can use only credentials.yml.enc without secrets.yml?"
Recently I setting up new rails project without secrets.yml.
But session is not working normally.
It looks like only working with secrets.yml for secret_key_base
Is there another solution for this?

### Configuration

- Sorcery Version: `0.14`
- Ruby Version: `2.7.0`
- Framework: `rails 6.0.2`
- Platform: `linux`

### Expected Behavior

Using `secret_key_base` on credentials.yml.enc

### Actual Be

[2020-03-29 19:46] Uzay-G commented on #223
Hey! it turns out I was wrong and Sorcery isn't the problem with this. It got pinged because of another Github app I have that was making the wrong call. I'll still be happy to contrib to this awesome lib!

How can I get started?

[2020-03-29 19:46] #223 closed

[2020-03-30 17:21] athix commented on #223
@Uzay-G there should be a few issues/PRs listed as help wanted, help those in particular would be highly appreciated. Otherwise, there's always some help that could be done with getting the documentation up-to-date with the latest Rails standards (I think a lot of them were written for Rails 4, and used outdated hash style, etc).

Let me know if you have any questions! 😄

[2020-03-30 17:27] Uzay-G commented on #220
Nice to see this got trick got added to the wiki! Maybe we could change the login_user method to take into account these changes in modern rails apps? Or should I just close this issue?

[2020-04-07 09:30] nikolaokonesh opened #226 "env['warden'].user Error"
Hi! I use Sorcery and use ActionCable

error NoMethodError(undefined method `user' for nil:NilClass
env['warden'].user
why????

[code]

[2020-04-07 16:08] athix commented on #226
It sounds like your warden environment variable isn't set. You can either use `env['warden']&.user` to automatically escape the nil case, or otherwise investigate why that variable isn't being set (e.g. add `byebug` at the beginning of your `find_verified_user` method).

[2020-04-13 21:22] Hirurg103 opened #227 "Master version fails with "To use reset_password submodule, you must define a mailer""
### Configuration

- Sorcery Version: [c30cefa7](https://github.com/Sorcery/sorcery/commit/c30cefa751c364ee20b361eb63a766f782b69e5e)
- Ruby Version: `2.5.1`
- Framework: `Rails`, versions `6.0.2.2`, `5.2.4`
- Platform: `Mac OS Mojave 10.14.6`

### Expected Behavior

No error `To use reset_password submodule, you must define a mailer` in the rails development console

### Actual Behavior

Any opera

[2020-04-13 21:27] athix commented on #227
@Hirurg103 Looking at that script, it might be failing because as soon as you add the submodule, it's performing the config validation, but you don't update the config until later in the script. Can you try moving the submodule call between the User definition and mailer config?

[2020-04-14 10:28] Hirurg103 commented on #227
Hi @athix ,

I am seeing this issue in a real rails app too.

yea, no problem:
[code]
With this configuration I see the same error.

As I am aware Rails first loads `config/initializers` files and then files in the `app` directory.
This issue is reproducible in the Rails console in the development environment only. Rails server in the development works with no errors. I tried to add `require 'user

[2020-04-14 10:37] athix commented on #227
Ah, yeah that's an interesting problem for sure. The easiest thing might
honestly be to ping the Rails guys and see what they think. I don't fully
understand their reason for the zeitwerk autoloading changes, so they might
be able to provide some key insights.

That said, I need to get some sleep for now. I'll add this to my priority
todo list and follow up soon.

[2020-04-14 20:13] Hirurg103 commented on #227
@athix , have a good sleep man

I tried to switch to the `:classic` autoloading mode but it didn't help to fix the bug:
[code]

Looks like I spot the issue: when I move user definition above the sorcery config all works OK:
[code]

Do sorcery expect the User model to be loaded before the configuration?

[2020-04-14 21:57] Hirurg103 commented on #227
@athix Looks like this error occurs due to load order.

Loading `User` class in the development console causes [`authenticates_with_sorcery!`](https://github.com/Sorcery/sorcery/blob/c30cefa751c364ee20b361eb63a766f782b69e5e/lib/sorcery/model.rb#L10) to be called. I inspected and found out that at this stage [`::Sorcery::Controller::Config.user_config`](https://github.com/Sorcery/sorcery/blob/c30ce

[2020-04-14 22:21] athix commented on #227
@Hirurg103 That's a good question, I don't think the configuration loading block has been touched in years, other than a year or two ago it had to be updated to support the Rails 5 `on_load` method for some reason that I can't recall.

Maybe you can try alternative loading schemes, and see if they solve your issue without breaking functionality? The biggest thing I would be wary of is a load order

[2020-04-15 19:29] Hirurg103 commented on #227
OK, @athix I will try to change the configuration flow to evaluate the config block in the initializer file. Let's see if this works

[2020-04-18 05:24] hiendinhngoc opened #228 "undefined local variable or method `page' for #<RSpec::ExampleGroups...>"
### Configuration

- Sorcery Version: `0.14.0`
- Ruby Version: `2.7.1`
- Framework: `6.0.2.2`
- Platform: `ubuntu 18.04`

hi there, getting an issue with Rspec test  when authenticating. I followed the wiki here:
https://github.com/Sorcery/sorcery/wiki/Testing-Rails

this is my /support/authentication.rb  module:
[code]
then I included this module in my `rails_helper`
` config.include Authenticati

[2020-04-19 19:30] jcraigk opened #229 "Request for new release"
As of this writing v0.13.0 is the latest version released Nov 29, 2018.  Would it be possible to cut a new release?  I am specifically interested in the Discord support added in https://github.com/Sorcery/sorcery/pull/185.

[2020-04-19 19:44] athix commented on #229
@jcraigk the latest release is `0.14.0` released on May 22, 2019. `0.15.0` is going to be released in the near future, but there's potentially a breaking bug on master that needs to be addressed first.

In the meantime, you can use the master branch directly by updating your Gemfile to point at the master branch of this repo:

[code]

[2020-04-19 19:53] athix commented on #228
@hiendinhngoc It looks like you put your specs under `request/` which will tell RSpec that you're creating a request spec rather than a feature spec. `page` is only available when doing feature specs, as feature specs are spinning up a full application stack and testing against the user interface, while request specs are testing directly against the controller and only provide `response` (or reque

[2020-04-19 19:55] athix commented on #226
Please reopen if this is still a problem!

[2020-04-19 19:55] #226 closed

[2020-04-19 20:39] jcraigk commented on #229
@athix Thanks for the fast response.

Using `branch: 'master'`, I am indeed seeing an issue where my user resource has broken associations (`ActiveRecord::InverseOfAssociationNotFoundError`), even though the `Providers::Discord` integration does work in that branch.

Using `branch: 'v0.14.0'` I am getting `uninitialized constant Sorcery::Providers::Discord` when initializing the `config.discord` p

[2020-04-19 21:29] athix commented on #229
The discord PR got merged after v0.14.0 which is why it's not showing up as a part of that release.

Another option you could consider is forking and making your own branch that is in sync with the commit where discord gets merged. The primary benefit there is having a clean self-explanatory reference rather than a commit hash.

Hopefully the issue on master should be solved soon, and the discord

[2020-04-22 07:20] nikolaokonesh commented on #226
[code]

[2020-04-22 19:59] jesster2k10 opened #230 "Handling External Logins with An API"
This is not really an issue but rather a question. What is the best way to handle external logins when working with a api only application?

Particularly a mobile application where the OAuth2 access_tokens are generated on the client through a different OAuth Grant flow. An example would be the FacebookLoginSDK for iOS or Android. The user signs in natively (not through a web browser) and retrieve

[2020-04-30 15:06] futuretap opened #231 "brute force vulnerability"
Sorcery 0.14.0 is vulnerable to brute force attacks even if a login_lock_time_period is configured.

If an attacker continues their login attempts after the initial login_lock_time_period has passed, Sorcery no longer rejects those login attempts until eventually the attacker has guessed the right password.

This is caused by an early return in model/submodules/brute_force_protection.rb:68 which s

[2020-05-01 12:47] futuretap commented on #227
Will this bug eventually be fixed?

[2020-05-01 18:05] athix commented on #231
I could be mistaken, but this sounds like a misunderstanding of how the brute force protection works.

My understanding of the functionality, is that if an account receives X invalid login attempts within a certain time frame _all_ login attempts will be blocked until the login_lock_time_period expires. Once that time frame has passed, logins will be allowed as usual unless the bad login count is

[2020-05-01 18:31] athix commented on #230
I think what you're looking for is likely JWT (JSON Web Tokens), which can carry encrypted payloads (e.g. session data). Unfortunately Sorcery doesn't support JWT yet, although it is a high priority feature.

A good place to dig around would be the [sorcery facebook provider](https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/providers/facebook.rb) code, #70 / #167, or potentially looking

[2020-05-01 18:34] athix commented on #227
@Hirurg103 @futuretap #234 has been merged into master, can you try the latest version and see if it resolves the issues on your end? Testing locally, it appears to have fixed the loading issues, although the error I was receiving was different so it's possible it's still broken.

[2020-05-01 18:52] athix commented on #228
Closing this out, if you have any other questions feel free to ask! 😄

[2020-05-01 18:52] #228 closed

[2020-05-02 11:01] futuretap commented on #231
You misunderstood the point. After the initial login_lock_time_period expires, an infinite number of brute force attempts are allowed without ever considering another login_lock_time_period.

This effectively disables the brute force protection after the first login_lock_time_period has passed. It is only enabled back again after a successful login (at which point, the lock_expires_at field is set

[2020-05-02 19:39] athix commented on #231
@futuretap

[`base.sorcery_config.before_authenticate << :prevent_locked_user_login`](https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/model/submodules/brute_force_protection.rb#L36)

Inside `def prevent_locked_user_login`:

[Lines 120-123:](https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/model/submodules/brute_force_protection.rb#L120)

[code]

[`return false, :locked unless

[2020-05-02 20:56] #231 closed

[2020-05-02 21:09] athix commented on #229
v0.15.0 has been released, and includes an important security fix as well as a fix for the loading issues.

[2020-05-02 21:09] #229 closed

[2020-05-02 22:01] athix commented on #231
@futuretap A security patch has been released (`v0.15.0`), and a related security adversary is currently being processed by Github. Thank you for pointing this out!

[2020-05-05 20:47] athix commented on #156
I'll close this for now because it seems like the topic has been covered pretty well here. If anyone would like to tackle the multiple sessions feature, please feel free to open a pull request or issue to start a new discussion about that specifically. Likewise, if anyone would like additional guidance on their particular situation with session cookies, feel free to open a new issue with additiona

[2020-05-05 20:47] #156 closed

[2020-05-05 20:52] athix commented on #92
Closing this due to lack of movement, if anyone still has a session cookie related problem, please open a new issue with additional details. Thanks!

[2020-05-05 20:52] #92 closed

[2020-05-05 20:58] athix commented on #97
Anyone in the community, if you're looking for ways to help with Sorcery, this would be a great way to get started!

[2020-05-05 21:00] athix commented on #106
No movement, closing for now.

[2020-05-05 21:00] #106 closed

[2020-05-05 21:06] athix commented on #174
I wonder if this is a bug with the `tableize` method, which is what we use in the migration generator:

https://github.com/Sorcery/sorcery/blob/master/lib/generators/sorcery/templates/migration/core.rb#L3

If anyone would like to tackle fixing this bug, that would be a good place to start looking.

[2020-05-05 21:10] athix commented on #176
Sounds like this got resolved when change_password got refactored to follow the `save` vs `save!` convention! 🎉

[2020-05-05 21:10] #176 closed

[2020-05-05 21:11] athix commented on #177
If anyone would like to take this on, please feel free! Closing this for now as no additional commentary is needed.

[2020-05-05 21:11] #177 closed

[2020-05-05 21:15] athix commented on #181
@kapso is this issue still relevant?

[2020-05-05 21:20] athix commented on #201
@mladenilic I think so, yes. There's plenty of information here for anyone looking to solve this in the future, and SEO typically does a good job of finding these issues.

For anyone finding this: if this doesn't cover your specific scenario, please feel free to open a new issue with additional details.

[2020-05-05 21:20] #201 closed

[2020-05-05 21:22] athix commented on #207
This is still an issue, and ideally will be solved at some point in the future (or Sorcery will become obsolete, whichever comes first. 😛 ).

Closing this for now however, we should have enough cross references to find this if someone takes up the mantle of getting Sorcery 1.0 rolling.

[2020-05-05 21:22] #207 closed

[2020-05-05 21:27] athix commented on #204
@z1lk if you're still interested in helping, I've been marking various PRs and Issues as help wanted. Any assistance with those would be greatly appreciated!

This invitation extends to the entire ruby community as well! Even if you're relatively new to ruby, or aren't familiar with working on open source projects, I would be more than willing to help guide you on how to get started. Please either

[2020-05-05 21:30] athix commented on #217
Honestly, this might be a good thing to just make a part of 1.0 where we don't need to guarantee backwards compatibility.

This can be a part of #104 / the Sorcery 1.0 plan. Closing this for now.

[2020-05-05 21:30] #217 closed

[2020-05-05 21:34] athix commented on #220
@Uzay-G I think we can close this out. A lot of Sorcery needs to be refactored, and as a part of that most of the code should be updated to the latest standards (Rails 6, Ruby 2.7 at time of writing).

[2020-05-05 21:34] #220 closed

[2020-05-05 21:44] athix commented on #222
@BKSpurgeon I think your idea is amazing, but I agree with @mladenilic that this would be outside of Sorcery's scope. Sorcery is intended to handle just the authentication aspect of the process, and it's primary benefit over something like Devise is its lightweight nature.

What I would recommend is creating a gem that integrates with Sorcery, and provides the invite functionality you're suggestin

[2020-05-05 21:44] #222 closed

[2020-05-05 21:48] Uzay-G commented on #220
Alright. The method I said is in the docs so it's no problem :)

[2020-05-06 00:28] BKSpurgeon commented on #222
@athix appreciate the response.

will certainly keep that in mind: re adding a gem for those helpers - but I cannot promise anything at this stage.

regards

Ben

[2020-05-06 08:14] amialive commented on #204
I'd be more than happy to help. Please, can you provide me with some guidance? I'll really appreciate it :)

[2020-05-06 08:40] athix commented on #204
@amialive Certainly! Depending on your level of familiarity, there's quite a few different types of things that can be tackled, ranging from giving the wiki/documentation some TLC to helping implement major functionality like JWT support. If you tell me what would be the most comfortable for you, I can find a good issue for you to start with, and help guide you through the process.

[2020-05-06 15:01] amialive commented on #204
Absolutely! I'm experienced in Ruby, familiar with Sorcery (just as user, haven't dived into the internals) and fairly new to OSS. So open to collaborate in any task you consider :)

[2020-05-06 16:09] athix commented on #204
Sounds good! How about this: can you look at the open issues/PRs marked "Help Wanted" and then ping me on one that catches your eye?

[2020-05-07 18:19] amialive commented on #204
How about [this one](https://github.com/Sorcery/sorcery/pull/218)? So that I can start getting familiar with the code, help documenting and unblock a feature request?

[2020-05-08 01:50] crimson-knight commented on #225
@leadbrain Did you deploy and make sure that your master.key file is available on all of your servers? It sounds like your app just isn't able to decrypt the credentials.yml.enc file.

[2020-05-08 04:15] crimson-knight commented on #204
I'm working on some of my own gem ideas, and since I used Sorcery as a reference for how the rails engines/plugins work, I'll give back and push some updates for you guys 😁

[2020-05-08 04:16] crimson-knight commented on #174
It's not a bug, tableize doesn't handle namespaces like the desired outcome. I forked the repo and I'll put up a pull request with a new helper method I made that accounts for the name spaces and adjusts the table name accordingly. I've also updated the generators to use the new helper method.

[2020-05-08 22:22] athix commented on #204
Much appreciated! 😄

[2020-05-12 00:45] kapso opened #240 "Ruby 2.7.1 deprecation warnings"
Seeing these warnings after upgrading to Ruby 2.7.1

### Configuration

- Sorcery Version: `0.15.0`
- Ruby Version: `2.7.1`
- Framework: `Rails 6.0.3`

Warning:
[code]

[2020-05-15 17:09] WhiteOcean737 commented on #204
Hi! I would like to get involved!

[2020-05-15 18:20] athix commented on #204
@WhiteOcean737 yup! If you get stuck or have questions just let me know.

[2020-05-19 00:06] murtali commented on #30
@athix

This issue has come up for me while upgrade from rails 4.2 to 5.0 -- I'm using the latest 0.15 version of sorcery but still seeing the:
[code]

The issue only comes up in production where config.eager_load = true --
some relevant github issues / stackoverflow questions suggest doing:

[code]

but this doesn't seem quite right to me. Is there some gotcha configuration or loading issue that

[2020-05-19 17:54] jasdeepsingh opened #242 "A different version of login method for API only applications?"
Is there a variation of the `login` method that can be called to login users in an API only application?

For instance, my application is API only, I require all the before/after hooks to be run that sorcery runs here: https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/controller.rb#L37..L64

However, running the `form_authenticity_token` method makes no sense in an API only application.

[2020-05-19 19:16] kapso commented on #242
Yea ran into the same issue when using `ActionController::API`

[2020-05-19 19:31] jasdeepsingh commented on #242
For now, this is what I ended up doing:

[code]

[2020-05-19 20:22] athix commented on #242
Unfortunately API support so far has been...sparse to put it kindly. I think a lot of the API support will probably be a part of the JWT integration, although that area is honestly a bit outside my current base of understanding.

I would very much welcome any PRs that help Sorcery with API support, especially considering the general move towards using rails as a REST API and javascript frameworks

[2020-05-19 20:28] jasdeepsingh commented on #242
@athix that's not a problem, I was able to unblock myself for now. I'll see if I can get to implementing JWT support for Sorcery in the coming couple of weeks.

Thanks for your attention on this!

[2020-05-19 20:28] #242 closed

[2020-05-22 11:32] josegrad opened #243 "magic_login by email"
Sorcery Version: 0.14.0
Ruby Version: 2.4.5
Framework: Rails 4.2.8
Using Mongoid

Is the magic_login feature ready?

Is it hidden from the readme file.
Shouldn´t rails generate sorcery:install session_timeout activity_logging magic_login generate the User model with the required fields?

[2020-05-22 19:03] kapso commented on #181
@athix yea this is still an issue. The `login` method apparently does update the 2 fields, but `login` method cannot used with an API only controller, due to this https://github.com/Sorcery/sorcery/issues/242#event-3353591274

[2020-05-23 02:59] athix commented on #243
@josegrad I would say that it's less hidden, and more incomplete. If you'd like to help flesh out the README and `sorcery:install` command to better support the submodule, I'm sure others would appreciate it as well. It's not a feature that I use personally, so I haven't looked into the submodule much myself.

[2020-05-23 03:09] athix commented on #240
[active_record_adapter.rb#L38](https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/adapters/active_record_adapter.rb#L38)

[Potentially related blog post](https://piechowski.io/post/last-arg-keyword-deprecated-ruby-2-7/)

rails/rails#38202

[2020-05-23 03:10] athix commented on #240
Sounds like the solution is changing L38 to the following?

[code]

[2020-05-23 10:55] zoran commented on #181
I can confirm that

[2020-05-25 20:10] revickulous2001 commented on #227
I'm having this same issue as well.  This issue persists on version 0.15 too.

[2020-05-25 20:16] futuretap commented on #227
@athix looks like I didn't answer your question. 0.15 does fix the issue for me, thanks. Don't know why @revickulous2001 still has problems.

[2020-05-25 20:20] athix commented on #227
@revickulous2001 when are you seeing this error, and what error are you getting exactly?

- When you're running the server?
- When you're running specs?
- Both?
- Some other situation(s)?

[2020-05-25 20:46] revickulous2001 commented on #227
@athix I am getting this error when I try to run reference the User model from the console.

I have loaded sorcery into a new project (less than a day old).  The error occurs when I:

- `rails c` from the command line.
- `User.count`

I'm still looking into things and messing around with settings on my end.  So far, nothing has helped the issue.

As noted by @Hirurg103 earlier, when I type `Action

[2020-05-25 20:49] athix commented on #227
@revickulous2001 can you make sure that you're calling `authenticates_with_sorcery!` in the user model? It sounds like the issue is related to the config file not being loaded in.

[2020-05-25 20:57] revickulous2001 commented on #227
@athix I am calling it.  Here is my user model.

[code]

The project is brand new so I've added no features to it except for TailwindCSS, StimulusJS, Sorcery, and bcrypt.

The Sorcery gem command is currently: `gem 'sorcery', github: 'Sorcery/sorcery', branch: 'master'`, though I've tried a few others.
I'm using ruby 2.6.3 and Rails 6.0.3.

[2020-05-25 21:19] athix commented on #227
@revickulous2001 can you post your Sorcery config file? *(double check that any sensitive information is removed first, e.g. oauth provider keys/secrets)*

[2020-05-25 21:23] revickulous2001 commented on #227
@athix absolutely.  I'm actually in the middle of completely removing Sorcery and the UserMailer.  I'm going drop and re-create my database, reinstall Sorcery, and see if the issue persists.  If so, I'll upload the config file.  If this fixes it, I'll let you know as well.

[2020-05-25 22:28] revickulous2001 commented on #227
@athix I had some strange issues.  First I deleted app/models/user.rb.  Then I deleted all migration files.  Then I deleted config/initializers/sorcery.rb.  Then I ran `rails db:drop db:create db:migrate`.  When I then attempt to run `rails g sorcery:install`, I get this error:

/Users/michael/.rvm/gems/ruby-2.6.3/gems/bootsnap-1.4.6/lib/bootsnap/load_path_cache/core_ext/kernel_require.rb:23:in `r

[2020-05-26 02:32] revickulous2001 commented on #227
@athix after further investigation, it doesn't seem like this is a Sorcery issue.

I removed Spring dependencies from my Gemfile, rebundled, and everything is working now.

For some reason, Spring seemed to be interfering with using my User model.  Very odd.  I'm sorry for having wasted your time today, @athix.  But I do appreciate all of your help.

[2020-05-26 02:39] athix commented on #227
@revickulous2001 no worries! I've actually had similar problems so often that my first step when debugging is running `spring stop`. It likes caching files when it shouldn't, and then no matter how much you change it nothing fixes it because spring still has the wrong code cached...Probably a config thing or something, but never got to fixing it.

Glad you've got it figured out! Seems like the loa

[2020-05-26 02:39] #227 closed

[2020-05-27 07:12] josegrad commented on #243
We used our own solution for the project we have now. But we´ll probably take a look next time at see how to do it with Sorcery.

[2020-05-27 07:12] #243 closed

[2020-05-30 14:53] carltonsmith opened #244 "Install Generator Not Working"
### Configuration

- Sorcery Version: `0,15.0`
- Ruby Version: `2.6.4`
- Framework: `Rails`
- Platform: `Mac OS Catalina`

### Expected Behavior
`rails g sorcery:install` runs

### Actual Behavior

[code]

### Steps to Reproduce

Create new rails app, add sorcery gem run `bundle install` and run `rails g sorcery:install`

[2020-05-30 14:56] carltonsmith commented on #244
I updated to the last release `0.14.0` and it worked, so there is something in the latest release preventing it

[2020-05-30 15:42] jiikko commented on #244
I could do `rails g sorcery:install` with `sorcery (0.15.0)` in my env.

Maybe because of spring(gem). try see👇
https://stackoverflow.com/questions/38679184/is-it-possible-to-clear-the-spring-gems-cache

[2020-05-30 17:11] athix commented on #244
Spring causes so many weird issues, I swear.

Per @jiikko, I would highly recommend using `spring stop` and trying again.

[2020-05-30 17:13] athix commented on #204
I recently saw some other open-source projects using the "Easy" label for identifying good tasks to start with. I think I'll give this a shot and see if it helps ease people into contributing. It can be a bit intimidating if the first "Help Wanted" you look at is something like the JWT integration.

[2020-06-03 10:23] joshRpowell opened #245 "Add to Rails template libraries."
Sorcery is fantastic. I’ve worked on a few Rails implementations. These services could spread the love.

https://www.rubidium.io/

https://railsbytes.com/

I see Devise listed. Any interest in setting up some templates? 👍

[2020-06-03 16:36] athix commented on #245
I have my own rails template setup that includes Sorcery, but it's more specialized for my own re-usability needs: [athix/rails-template](https://github.com/athix/rails-template)

I like this idea, but don't have time to implement it personally. Maybe someone could take an existing template and make a more general Sorcery template?

[2020-06-03 16:51] athix commented on #244
@carltonsmith are you still having issues with the generator on `0.15.0` after running `spring stop` before calling the generator?

[2020-06-03 16:55] carltonsmith commented on #244
Actually, no. The first app I tried had the issue, but I tried it again on another app and it worked as expected

[2020-06-03 17:09] athix commented on #244
Glad to hear it's working now. If you narrow down why it was breaking, let me know.

[2020-06-10 11:54] paulbernhard opened #246 "Using sorcery within Rails engine: `method_missing': undefined method `sorcery'"
### Configuration

- Sorcery Version: `0.15.0`
- Ruby Version: `2.7.1`
- Framework: `Ruby on Rails 6.0.3.1`
- Platform: `Mac OS X High Sierra 10.13.6`

### Expected Behavior

I want to install *sorcery* in a mountable and namespaced Rails engine in order to provide a common authentication with a user model, session controller, etc. to other Rails applications.

### Actual Behavior

When running *s

[2020-06-11 13:51] paulbernhard commented on #246
*Sorcery* seems to work, even with resources from the engine when the *sorcery* gem is added in the `Gemfile` of the host app instead of the engine's `gemspec`.

[code]

[code]

If i run `rails g sorcery:install` from the engine's root directory now, the generator executes without error messages and creates:

[code]

Now i still had to rename the `users` table in the migration file to fit to the e

[2020-06-16 09:39] paulbernhard commented on #246
The problem was definitively not linked to *Sorcery* but just a simple mistake of not requiring *Sorcery* properly in my Rails engine. As described, the gem was properly added to the engine and listed by bundler but i forgot to `require "sorcery"` in the engine file. The solution is thus:

[code]

Sorry for the fuzz, issue closed, have a good day.

[2020-06-16 09:39] #246 closed

[2020-06-16 20:32] athix commented on #240
This should be resolved on current master.

[2020-06-16 20:32] #240 closed

[2020-06-19 08:28] activeliang opened #247 "I have encountered two browsers that have not entered an account password, but have just opened the web page and logged into other people's accounts."
Please complete all sections.

### Configuration

- Sorcery Version: `0.14.0`
- Ruby Version: `2.6.5`
- Framework: `ruby on rails`
- Platform: `ubuntu 16.04`

### Expected Behavior

Normal login

### Actual Behavior

I have encountered two browsers that have not entered an account password, but have just opened the web page and logged into other people's accounts.

### Steps to Reproduce

Please l

[2020-06-27 07:39] athix commented on #247
Please try to reproduce this issue with a minimal application, or provide more specifics on what's happening on your existing application. I can't reproduce this with only the current information.

Something that immediately comes to mind is that perhaps your login controller or session management is doing something very incorrect. I would need something to test against to know for sure though.

[2020-06-27 08:05] athix opened #248 "Future of Sorcery"
I want to open this issue to gather the opinions of the rails community, and to figure out what the future of Sorcery should look like. Currently Sorcery is intended as a lightweight alternative to Devise that lets you build out your own authentication without having to do it completely from scratch. Personally I really like this approach, but it does have some drawbacks that have shown themselves

[2020-06-27 08:12] athix commented on #104
This will be continued by #248, closing.

[2020-06-27 08:12] #104 closed

[2020-06-27 08:13] athix commented on #32
This will be continued by #248, closing.

[2020-06-27 08:13] #32 closed

[2020-06-27 08:44] athix commented on #248
One thought in particular for potentially breaking down Sorcery into separate gems:

* `sorcery-core` - Session management, glues other modules together
* `sorcery-activation` - Email activation support
* `sorcery-passwords` - Username/password login, support both traditional and API-only (JWT)
* `sorcery-totp` - 2FA Authy app support
* `sorcery-webauthn` - WebAuthn support for 2FA (Dongle Auth)
*

[2020-06-27 13:39] jrochkind commented on #248
What might that look like?

I don't currently use sorcery, but have in the past. Why don't I use it now? In part because of inherited projects that had already chosen devise; in part because sorcery's support/sustainability story was unclear to me.

I think there is a place for a simple auth gem -- it doesn't make sense to be constantly reinventing the wheel in an area where mistakes have such dan

[2020-06-27 22:37] athix commented on #248
@jrochkind

I agree completely with what you've said.

My hope would be that by starting over, we could make a clean break from some of the less ideal aspects of Sorcery that have arisen due to its natural growth over time. Two big things would be enforcing good test coverage (80%+ bare minimum), and making the module system more separated to prevent becoming a smaller devise. Another key aspect w

[2020-06-27 23:02] Fustrate commented on #248
I'm probably in favor of splitting into multiple gems, from what I know of the code base. I currently use Sorcery on both of my Rails apps at work, but I don't need 80% of the different-ways-to-log-in functionality, and I'm willing to bet there are a lot of people out there in the same boat.

I think the question of creating a new gem or making changes to Sorcery depends on how big of a change you

[2020-06-28 02:24] athix commented on #248
@Fustrate

I think starting fresh looks like the best route so far personally. Especially considering the massive amount of change that's been introduced to rails since Sorcery's inception.

I agree, one of the things I love about Sorcery is that it is more or less pure ruby and plugs directly into Rails rather than any special middleware like Warden or Roda. It sounds like filling this niche woul

[2020-06-28 14:11] ebihara99999 commented on #248
@athix
I really appreciate that you show leadership here to discussing the roadmap of Sorcery. I've been worried about less mainteners, as you mention to the maintenance/development burden.

I think it does. Sorcery still has an advantage in providing simple APIs only needed to implement a feature.

- Comparing to devise, it is easier to cusotmize.
- Comparing to other simple authencitation gems,

[2020-06-28 14:19] ebihara99999 commented on #204
@athix
I will restart contributing Sorcery again!  At first, I'm going to watch the opening issues and PRs.

[2020-06-28 14:51] jrochkind commented on #248
@ebihara99999 makes a very good point -- splitting a codebase into many different gems doesn't actually decrease the total maintenance costs -- it increases it.  Keeping all those gems coordinated becomes an added challenge (for instance, wait which version of sorcery-oauth works with which version of sorcery-core? I have been in this hell with other gems)

I think the fantasy is that many gems wi

[2020-06-29 03:03] athix commented on #248
@jrochkind

That's a good point, and definitely a consideration. One of the major reasons behind separating things out is that it lets the dependencies be broken out so that you don't include stuff you don't need. Perhaps that could be used as the metric for what is a part of the core vs broken into its own gem. Anything that doesn't require additional dependencies could be a module directly in so

[2020-06-29 11:56] jrochkind commented on #248
Has this actually been a real problem? Like in terms of what, code size of gem package?

[2020-06-29 13:50] KjellMorgenstern commented on #248
I agree that splitting the code across gems would increase the maintenance, unless you plan to drop some...  but probably all submodules are used in relevant amounts.  To see which ones are used, maybe a search on github can help? A code search for `"Rails.application.config.sorcery.submodules" extension:rb path:config/initializers filename:sorcery.rb language:Ruby` looks promising, about 4500 cod

[2020-06-29 16:42] athix commented on #248
@jrochkind

Yes, specifically in dependencies. If you aren't using OAuth, including sorcery for password auth should not include any OAuth dependencies. Ditto for MFA or any other submodules that are not universal. Similarly OAuth only applications should not be required to include user columns for password hash and salt. This is important at least to me personally, I don't know how others feel ab

[2020-06-29 17:11] jrochkind commented on #248
Ah, I get it, absolutely I've been there, thanks. That might be a good guideline for what should be extracted into other gems, things requiring heavyweight dependencies. Other things could perhaps be left in the same gem/repo, even if using a "plugin" architecture, they could be plugins bundled with core.

My experience with inter-linked libraries, in similar situations are... it can get very horr

[2020-06-29 19:17] athix commented on #248
@jrochkind

That would make sense. Develop it as a plugin system, and just let the ones with extra gem dependencies require separate gems.

Keeping it as a lockstep setup would make sense in this scenario, imo. It would essentially be the same situation as rails, where it's all one system and the separation is primarily to manage dependencies and database requirements.

[2020-06-29 19:26] athix commented on #248
@jrochkind the more I think about it, the more I think that making Sorcery relatively 1:1 with Rails would make sense. Its niche in the auth library world is being a rails/ruby native solution anyway, and it has very similar reasons for wanting to be multiple gems but one system.

That would also give us a solid base for how to actually implement the gem division as well, keeping the code all in t

[2020-06-29 19:46] jrochkind commented on #248
I can't think of anything else that does "related gem" releases like Rails, which makes me think it's complicated/confusing/overhead enough that it's likely to be overkill for such a simple gem as this. You need to figure out how to run CI tests accross all your gems in one repo, you need to make sure to always release all the gems together, with the same version number, and never accidentally rel

[2020-07-01 19:14] athix commented on #248
@jrochkind do you know of any simpler release systems that would support not having unnecessary dependencies? I would like to avoid extra overhead if possible.

Looking at how rails implements the lockstep functionality, at least that part would be pretty straight forward. Your point on repo structure is very valid though, so looking into alternatives makes sense.

[2020-07-01 22:20] jrochkind commented on #248
Not really. The only other option we haven't yet talked about is not formally declaring the dependency, having it be sort of a "soft optional" dependency.

This definitely has a lot of downsides, but is sometimes done anyway as the least-bad option.  For instance, rails doesn't formally declare a dependency on postgres or mysql or any other db. If you try to use a database adapter without having t

[2020-07-03 18:26] Fustrate commented on #248
I think the most reasonable path forward is to load most of the internal submodules as internal plugins - don't remove them from the gem, but load them in the same manner as you would an external gem. The furthest you should need to go is to make 3 gems: `sorcery`, `sorcery-external`, and `sorcery-mfa`. The other features of Sorcery are all too closely related to make sense extracting.

On a relat

[2020-07-04 02:57] athix commented on #247
Closing for now.

[2020-07-04 02:57] #247 closed

[2020-07-05 09:13] kentarohorie commented on #204
Sorcery is my favorite gem. I also would like to help! I'm going to watch issues and PRs  which have 'Help Wanted' label.

[2020-07-05 09:37] kentarohorie commented on #174
https://github.com/Sorcery/sorcery/pull/237

[2020-07-07 05:20] athix commented on #248
This has been incredibly helpful, thank you @jrochkind, @Fustrate, @ebihara99999, and @KjellMorgenstern!

I think this has given me some good ideas on how to approach revitalizing Sorcery, although I still welcome anyone using Sorcery to chime in with any thoughts or suggestions. I'll be working on reworking the module system to be a flexible plugin system, and only extract the biggest non-core it

[2020-07-08 16:14] crimson-knight commented on #248
I was away on vacation for the 4th when this conversation started--but here's my late $0.02!

I think we can radically simplify most of what sorcery does now, but without splitting it up into too many gems. Maintaining multiple gems in lockstep is a real pain, I've been doing it for a large internal tool we have for one project and I've seriously hated myself for going that route when we didn't ha

[2020-07-08 16:18] crimson-knight commented on #248
PS: I highly prefer Sorcery over Devise. I think we can get a larger user base if we clean up the docs. That would be best done as the upgrades/refactoring happen.

In the meantime, I think I'll write some templates for www.railsbytes.com and see if I can get some tutorials written using Sorcery and see if we can get some more traction with users this way. The more people using the gem, the more o

[2020-07-08 16:51] athix commented on #248
@crimson-knight The documentation has been struggling heavily so any help getting that modernized would be greatly appreciated! A lot of it was written for Rails 3/4, so quite a bit has changed since then.

[2020-07-11 14:57] pama commented on #248
I think it makes sense to have and maintain Sorcery.

I agree that both OAuth and 2FA/U2F don't belong to the core, but I don't see the advantage of splitting the source code in tiny gems.

By Sorcery Philosophy less is more and we should keep that in mind. I think we are all here because of that. A tiny API, with what is necessary to bootstrap authentication, with our own workflow.

[2020-07-15 19:14] athix commented on #248
I think a solid plan is in place, so I'm going to close this out with a TL;DR for people reading this issue in the future:

* Sorcery does still make sense within the Rails ecosystem.
* I'll be commiting at least 10-20 hours a week to working on Sorcery for the foreseeable future.
* Sorcery's submodule system will be reworked into a plugin system.
  * The 'External' submodule for OAuth will be mig

[2020-07-15 19:14] #248 closed

[2020-07-15 19:24] athix commented on #204
I've decided to commit 10-20 hours a week to working on Sorcery going forward, which should hopefully solve this issue. For the longer term, I'll be looking into Github Sponsorship and other donation methods to provide a method to support Sorcery's development without needing to work directly on it. Having that in place should hopefully prevent us from getting into this scenario again in the futur

[2020-07-15 19:24] #204 closed

[2020-07-24 03:19] HLFH commented on #97
Definitely! I'll see what I can do in the future.

[2020-07-28 13:07] janko commented on #248
I just wanted to comment on the Rodauth evaluation, as I felt it has been fairly brief. I'm the author of rodauth-rails, and am interested in understanding the Ruby/Rails community's preferences for authentication. The reason I'm trying to promote Rodauth is because it's the first full-featured solution that works with *any* Ruby web framework (not just Rails), and it's *really* good. I would pers

[2020-07-29 00:42] athix commented on #248
Hi @janko! I can't speak for the rest of the Ruby on Rails community, but I can share some of my thoughts on this.

I want to clarify a little on why my Rodauth evaluation was so brief, as I sense there may be some frustration that it wasn't given a longer look:

My reason for not spending too much time evaluating RodAuth isn't because it looked bad or insufficient at all. It's more that there is

[2020-07-29 11:11] janko commented on #248
I appreciate your reply @athix 👍

I see, that makes sense. Yeah, Sorcery is indeed very simple to grok, and that definitely reduces the learning curve, compared to something like Rodauth.

Rodauth's goal is definitely different from that perspective, in it that it provides complete implementation of routes for each action (login, create account, verify account, reset password etc). You do have the

[2020-07-30 18:57] athix opened #253 "Should MongoID be deprecated for Sorcery v1?"
It seems like MongoID support is somewhat hit and miss with Sorcery currently, so I'm curious how many people actually use it, and if it makes sense to remove support for it from v1.

As it stands, there are no existing tests for the mongo adapter, which makes me wonder if it even works in Sorcery `v0.15.0`. Currently Sorcery has an abstraction layer for the ORM adapter that adds complexity to bot

[2020-08-01 18:44] wout commented on #227
I just ran into this issue too when using the rails console. Simply typing `ActionController::Base` and enter fixes the issue.

[2020-08-02 00:57] athix commented on #253
It would be relatively straight-forward to add it back if needed, and having less code complexity is nice. Going to remove it for now until someone requests it.

[2020-08-02 00:57] #253 closed

[2020-08-06 23:55] vlad0337187 opened #254 "Question: how to specify nested attributes in `user.username_attribute_names` ?"
Please complete all sections.

### Configuration

- Sorcery Version: `0.14.0`
- Ruby Version: `2.7.1`
- Framework: `Rails 6.0.2 + Mongoid 7.1.0`
- Platform: `Fedora 32`

### Expected Behavior

when I specify attributes with point:
`user.username_attribute_names = ['authdata.username', 'authdata::email']`
sorcery` should access nested attributes on `User` model

### Actual Behavior

It just creates

[2020-08-07 06:11] athix commented on #254
Hi @vlad0337187, to clarify it sounds like you're wanting to use nested attributes for username and email, but Sorcery gets confused? I see you have `authdata.username`, but also `authdata::email` and I'm curious why one uses `.` and the other `::`. Is that intentional?

[2020-08-07 23:57] vlad0337187 commented on #254
@athix , Hello.

Yes, I'd like to use nested attributes for username and email (and sorcery gets confused).

I just specified '::' to see: what will happen.
(I also placed '#' there)
(came from Python, so I'm not fluent with Ruby yet)

[2020-08-10 23:50] athix commented on #254
@vlad0337187 Welcome to Ruby! I hope you'll enjoy it, I was pretty happy with how intuitive a lot of it can be. :smile:

Typically `::` is used for namespacing, for instance `Sorcery::Config` would tell Ruby to first look for a module or class called `Sorcery`, and then a module/class nested inside of that named `Config`. For nested attributes, I think it's normally implemented as methods, which u

[2020-08-10 23:56] athix commented on #254
Looks like you're also using MongoID which I'm not entirely sure works at the moment. There's no tests for it, and I don't use it personally. Here's the equivalent method for the MongoID adapter: https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/adapters/mongoid_adapter.rb#L54

[2020-08-14 11:41] no1-knows opened #256 "How to get variable in sorcery.rb at controller"
I am using the sorcery gem in a Rails 6 application.
I would like to use variable in sorcery.rb at controller, however I do not know how to get the value.
[code]
I tried like below but don't make it.

[code]

[2020-08-14 22:21] no1-knows commented on #256
I got like below

`User.new.sorcery_config.activation_token_expiration_period`

[2020-08-14 22:21] #256 closed

[2020-08-17 02:23] vlad0337187 commented on #254
@athix , thank you very much.

Thought to patch `Sorcery` for it to support nested attributes, but not sure: is it a good solution.
Probably, it can be noted in readme, that nested attributes aren't supported for MongoID adapter and close this issue for now.

A see a nice solution - use `has_one` relation of MongoID for such case.
So it won't embed document, which would result to inconvenience wit

[2020-08-25 07:37] inopinatus commented on #248
I'm a small voice and late to the party, but I wanted to say a) thanks for all the work that's been put into Sorcery, from a appreciative user, and that b) one of my reasons for preferring Sorcery is that it _doesn't_ depend on Omniauth and supplies an alternative instead. Make of that what you will.

[2020-08-28 04:35] athix commented on #254
Closing for now, please reopen if anything else comes up!

[2020-08-28 04:35] #254 closed

[2020-08-31 22:10] athix commented on #256
In Sorcery v1 this should be a little smoother as `sorcery_config` will be available on the controller as well. (It will also add per-controller config via `authenticates_with_sorcery do |config|`)

[2020-09-25 22:02] zoegod911 opened #258 "User Activation & Reset Password Errors"
Please complete all sections.

### Configuration

- Sorcery Version: `0.15.0`
- Ruby Version: `2.7.0`
- Framework: `Rails`
- Platform: `Web`

### Expected Behavior

I should be able to see User models in `rails c`

### Actual Behavior

`/home/godkingherb/.rvm/gems/ruby-2.7.0/gems/sorcery-0.15.0/lib/sorcery/adapters/active_record_adapter.rb:38: warning: Using the last argument as keyword parameters

[2020-09-25 23:55] #258 closed

[2020-09-25 23:55] zoegod911 commented on #258
Just needed a restart to gem `spring`

[2020-09-27 09:02] athix commented on #258
Step 1 of debugging: Is the server running?
Step 2 of debugging: Did you try `spring stop`?

:stuck_out_tongue:

[2020-10-17 19:41] athix opened #259 "Community Poll: Sorcery Logo"
Hello world! As a part of Sorcery v1 I'm looking to revitalize the documentation, as well as the general meta-information around Sorcery. One part of this has been creating a logo for Sorcery. I'm hoping that having an actual logo will help Sorcery feel more like a fully fledged project, as well as indicate that it will continue to be supported for the years to come. Along that vein, I was hoping